{% for up in ups %}
    <div class="hour {% if up %}up{% else %}down{% endif %}" data-up="{{ up }}" data-index="{{ loop.index0 }}" data-title="{% if loop.index0 < 10 %}0{% endif %}{{ loop.index0 ~ ':00' }}"></div>
{% endfor %}
