<div class="conversation" data-id="1">
    <div class="header">
        <div class="title">
            Conversation avec <span class="name">John Doe</span>
        </div>
    </div>
    <div class="body">
        <div class="messages">
            <div class="message user-message">
                <div class="message-content">
                    <div class="message-time">
                        12:00
                    </div>
                    <div class="message-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet
                        ipsum
                        mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                    </div>
                </div>
            </div>
            <div class="message recipient-message">
                <div class="message-content">
                    <div class="message-time">
                        12:00
                    </div>
                    <div class="message-text">
                        Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue
                        enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non
                        tortor.
                    </div>
                </div>
            </div>
        </div>
        <div class="new-message">
            <label>
                <input type="text" placeholder="{{ 'new message'|trans }}">
            </label>
        </div>
    </div>
</div>