{% extends 'base.html.twig' %}
{% block title %}myTvTime{% endblock %}

{% block body %}
    <div class="container" style="min-height: 100vh">

        {{ include('blocks/_pageHeader.html.twig') }}

        {% if route == 'app_home' %}
            <div class="home-header bg{{ random(5) }}"></div>
        {% endif %}
        {{ include('blocks/_nav.html.twig', {thisPage: 'Home Page', user: app.user}) }}

        {{ include('blocks/_pageFooter.html.twig') }}

    </div>
{% endblock %}
{% block morejs %}
    <script>
    </script>
{% endblock %}
