###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
symfony.lock

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
/config/google/google.json
/config/google/mytvtime-349019-001b2f815d02.json
/.env
/.gitignore
/.php-version
/composer.lock
/yarn.lock
/.idea/
exportedSeries.json

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
