<div id="user-banner" class="banner">
    {% if user.banner %}
        <img src="/images/users/banners/{{ user.banner }}" alt="User banner">
    {% else %}
        <img src="/images/default/no_banner_dark.png" alt="No banner">
    {% endif %}
    <div class="title">{{ user }}</div>
    <div id="user-avatar" class="avatar">
        {% if user.avatar %}
            <img src="/images/users/avatars/{{ user.avatar }}" alt="User avatar">
        {% else %}
            <img src="/images/default/no_avatar.png" alt="No avatar">
        {% endif %}
    </div>
    {% if user.city or user.zipCode %}
        {{ component('weather', {'locale': locale}) }}
    {% endif %}
</div>
