<div class="user">
    <div class="thumbnail">
        <img src="/images/users/avatars/{{ user.avatar }}" alt="{{ user.username }}">
    </div>
    <div class="username">
        {{ user.username }}
    </div>
</div>
