<dialog id="direct-link-dialog" data-id="{{ serieId }}">
    <search class="content" role="search">
        <div class="dialog-title"></div>
        <form method="dialog">
            <input type="hidden" name="action" value="addDirectLink"/>
            <label for="direct-link-url">
                <input type="text" id="direct-link-url" name="direct-link-url" autofocus placeholder="{{ 'Add a link'|trans }}"/>
            </label>
            <menu>
                <li><button class="btn btn-secondary" value="cancel">{{ 'Cancel'|trans }}</button></li>
                <li><button class="btn btn-primary" value="addDirectLink">{{ 'Add'|trans }}</button></li>
            </menu>
        </form>
    </search>
</dialog>
