{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <a href="{{ path('app_activity_new') }}">Create new</a>
{% endblock %}
