{% if videos|length %}
    <div class="result-header">
        <div class="title">{{ videos|length }} {{ (videos|length > 1 ? 'videos':'video')|trans }}</div>
    </div>
    <div class="wrapper">
        {% for video in videos %}
            {{ include('blocks/youtube/_video' ~ type ~ '.html.twig', {item: video}) }}
        {% endfor %}
    </div>
{% else %}
    <div class="no-result">No videos</div>
{% endif %}