<div class="clock">
    <div class="face">
        <div class="warning"></div>
        <div class="number number-1">1</div>
        <div class="number number-2">2</div>
        <div class="number number-3">3</div>
        <div class="number number-4">4</div>
        <div class="number number-5">5</div>
        <div class="number number-6">6</div>
        <div class="number number-7">7</div>
        <div class="number number-8">8</div>
        <div class="number number-9">9</div>
        <div class="number number-10">10</div>
        <div class="number number-11">11</div>
        <div class="number number-12">12</div>
    </div>
    {% if app.user %}
        <div class="username">{{ app.user.username }}</div>
    {% endif %}
    <div class="time"></div>
    <div class="date"></div>
    <div class="hands">
        <div class="hand second" style="transform: translate(-50%, -100%) rotate(0deg)"></div>
        <div class="hand minute" style="transform: translate(-50%, -100%) rotate(0deg)"></div>
        <div class="hand hour" style="transform: translate(-50%, -100%) rotate(0deg) "></div>
        <div class="center"></div>
    </div>
    <div class="goal-achieved false"><i class="fa-solid fa-person-walking"></i></div>
    <div class="close"><i class="fa-solid fa-circle-xmark"></i></div>
</div>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        // Clock en javascript vanilla
        const clock = document.querySelector('.clock');
        const warning = clock.querySelector('.warning');
        const secondHand = clock.querySelector('.second');
        const minuteHand = clock.querySelector('.minute');
        const hourHand = clock.querySelector('.hour');
        const time = clock.querySelector('.time');
        const date = clock.querySelector('.date');
        const close = clock.querySelector('.close');
        const goal = clock.querySelector('.goal-achieved');
        const options = {weekday: 'long', month: 'long', day: 'numeric'};
        let clockInterval, warningZone = false, relaxZone = true, goalAchieved = false, goalHour = new Date().getHours(), currentSeconds = -1;

        createClock();
        setDate();
        clockInterval = setInterval(setDate, 100);

        function setDate() {
            const now = new Date();

            const seconds = now.getSeconds();

            if (seconds === currentSeconds) {
                return;
            }
            currentSeconds = seconds;
            // const milliseconds = now.getMilliseconds();
            // const secondsDegrees = ((seconds + (milliseconds / 1000)) * 6);
            // secondHand.style.transform = `translate(-50%, -100%) rotate(${secondsDegrees}deg)`;
            // secondHand.style.transition = (seconds === 0 && milliseconds < 100) ? 'none' : 'all 0.2s linear';
            // secondHand.style.backgroundColor = (Math.floor(secondsDegrees) % 30) ? 'hsl(45, 90%, 50%)' : 'hsl(0, 90%, 50%)';
            const secondsDegrees = (seconds * 6);
            secondHand.style.transform = `translate(-50%, -100%) rotate(${secondsDegrees}deg)`;
            secondHand.style.backgroundColor = (Math.floor(secondsDegrees) % 30) ? 'hsl(45, 90%, 50%)' : 'hsl(0, 90%, 50%)';

            const minutes = now.getMinutes();
            const minutesDegrees = (minutes * 6) + (seconds / 10);
            minuteHand.style.transform = `translate(-50%, -100%) rotate(${minutesDegrees}deg)`;

            const hours = now.getHours();
            const hoursDegrees = (hours * 30) + (minutes / 2) + (seconds / 120);
            hourHand.style.transform = `translate(-50%, -100%) rotate(${hoursDegrees}deg)`;

            time.innerHTML = now.toLocaleTimeString();
            date.innerHTML = now.toLocaleDateString("{{ app.request.locale }}", options).replace(/ 1 /g, " 1<sup>er</sup> ").replace(/ /g, "&nbsp;");

            if (!goalAchieved) {
                if (minutes >= 50 && relaxZone) {
                    warningZone = true;
                    relaxZone = false;
                    warning.classList.add('visible');
                }
            }
            // Si on est dans la zone de relâchement (0-50 minutes) et que l'heure a changé (warningZone = true)
            // ou que la page redevient visible après 1h ou plus d'inactivité (relaxZone && goalHour !== hours)
            if (minutes < 50 && (warningZone || (relaxZone && goalHour !== hours))) {
                warningZone = false;
                relaxZone = true;
                warning.classList.remove('visible');
                goalAchieved = false;
                goal.classList.add('false');
                goalHour = new Date().getHours();
            }
        }

        function createClock() {
            const face = clock.querySelector('.face');

            for (let i = 0; i < 60; i++) {
                const unit = document.createElement('div');
                unit.classList.add('unit');
                if (i % 5 === 0) {
                    unit.classList.add('unit-big');
                }
                unit.style.transform = `translate(-50%, 0) rotate(${i * 6}deg) translate(0, -72px)`;
                face.appendChild(unit);
            }
            close.addEventListener('click', () => {
                clearInterval(clockInterval);
                clock.remove();
            });
            goal.addEventListener('click', () => {
                if (!goalAchieved) {
                    goalAchieved = true;
                    goal.classList.remove('false');
                    warningZone = false;
                    relaxZone = true;
                    warning.classList.remove('visible');
                }
            });
        }

    });


</script>

