<dialog id="search-dialog">
    <div class="content">
        <div class="dialog-title"></div>
        <form method="dialog">
            <input type="hidden" name="action" value="search"/>
            <label for="search-query">
                <input type="search" id="search-query" name="search-query" placeholder="{{ 'Search for movies, TV shows and people'|trans }}"/>
            </label>
            <label for="search-db">
                <input type="checkbox" id="search-db" name="search-db" title="{{ 'Among your films, series and their castings'|trans }}"/>
            </label>
            <menu>
                <li><button class="btn btn-secondary" value="cancel">{{ 'Cancel'|trans }}</button></li>
                <li><button class="btn btn-primary" value="search">{{ 'Search'|trans }}</button></li>
            </menu>
        </form>
    </div>
</dialog>
