{% extends 'base.html.twig' %}

{% block title %}myTvTime{% endblock %}

{% block body %}
    <div class="container-fluid">
        <main>
            <div class="cv">
                <div class="cv-infos">
                    <div class="avatar"><img src="/images/users/olivier/avatar.jpg" class="App-logo" alt="avatar"/></div>
                    <h2>Olivier <span>Jean-Marie</span></h2>
                    <div class="address">
                        <div class="address-item">2 quai Hoche</div>
                        <div class="address-item">44200 Nantes</div>
                    </div>
                    <div class="telephone">06 20 05 07 05</div>
                    <div class="links">
                        <div class="link"><a href="mailto:ojm16@free.fr">ojm16@free.fr</a></div>
                        <div class="link"><a href="https://www.linkedin.com/in/olivier-jean-marie-16a95222b/" target="_blank">LinkedIn</a></div>
                        <div class="link"><a href="https://github.com/Yoli35" target="_blank">GitHub</a></div>
                    </div>
                </div>
                <div class="cv-exp">
                    <h1>Développeur Full Stack Php Symfony</h1>
                    <div class="column">
                        <div class="cv-block">
                            <h2>Expérience professionnelle</h2>
                            <div class="cv-date">2018 - CDD Développeur informatique chez Oréades à Nantes</div>
                            <div class="cv-item">Création et intégration de sites faisant appel à une API ou possédant un backoffice développés en Php (Symfony 3 et 4) et JQuery</div>
                            <div class="cv-date">2017 - Stage Shoot’n’Go - Christophe Lablancherie</div>
                            <div class="cv-item">Développement de la plateforme de service spécialisé dans le cosplay Conception du modèle de données en SQL, création de jeux de données Conception d’interfaces et intégration. Développement du front connecté aux API du socle Shoot’n’Go avec Symfony 3</div>
                            <div class="cv-date">2017 - Projets informatiques développés à l’ENI École Informatique :</div>
                            <div class="cv-item">Développement d’une application de gestion pour clinique vétérinaire sous C# et SQL Server. Analyse, conception et développement d’une application QCM avec Java EE et SQL Server : définition de tests et d’outils de passage des tests.</div>
                            <div class="cv-date">2006/2009 - Auto entrepreneur : création de sites Internet</div>
                            <div class="cv-item">Sites vitrines / blogs avec PHP, HTML, CSS, JavaScript, MySQL.</div>
                            <div class="cv-date">2004/2013 - Barman à l’Anathème Café, Rennes.</div>
                            <div class="cv-date">1999/2001 - Développeur Mac chez Mikros Image, Levallois-Perret :</div>
                            <div class="cv-item">Développement C d’applications, d’utilitaires et de plugins pour After Effects.</div>
                            <div class="cv-date">1996/1999 - Gestionnaire des changements, Thomson, Montrouge</div>
                            <div class="cv-item">Base de données Access, VBA.</div>
                            <div class="cv-date">1996 - Responsable déploiement et déménagement, Mediatec, Montrouge</div>
                            <div class="cv-item">5 à 10 techniciens intérimaires.</div>
                            <div class="cv-date">1996 - Responsable du soutien aux utilisateurs : Support matériel et logiciel</div>
                            <div class="cv-item">6 techniciens (Help Desk, application Susie).</div>
                            <div class="cv-date">1994/1995 - Développeur Mac pour France 2, Deus, Paris</div>
                            <div class="cv-item">Développement C.</div>
                            <div class="cv-item">Retouches d’images, Photoshop.</div>
                            <div class="cv-date">1991/1992 - Développeur Cobol, ESN HN Services, Paris.</div>
                            <div class="cv-item">Développement d’un émulateur de session grand système sur PC.</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="cv-block">
                            <h2>Projets personnels - https://mytvtime.fr</h2>
                            <div class="cv-date">2023 - Dev React, style scss</div>
                            <div class="cv-item">Ce site a été créé en guise d'introduction à React</div>
                            <div class="cv-date">2022 - Dev Symfony 6, Javascript sans JQuery, CSS sans bootstrap, appel à des API</div>
                            <div class="cv-item">Site : <a href="https://mytvtime.fr" target="_blank">https://mytvtime.fr</a> (identifiants : demo@mytvtime.fr / demo-password)</div>
                            <div class="cv-item">Github : <a href="https://github.com/Yoli35/myTvTime" target="_blank">https://github.com/Yoli35/myTvTime</a></div>
                        </div>
                        <div class="cv-block">
                            <h2>Compétences techniques</h2>
                            <div class="cv-item">Langages : PHP, HTML, CSS, JavaScript, PL/SQL</div>
                            <div class="cv-item">Framework / IDE : Symfony / PhpStorm</div>
                            <div class="cv-item">Base de données : MySQL Server, Oracle, SQL</div>
                        </div>
                        <div class="cv-block">
                            <h2>Formations</h2>
                            <div class="cv-date">2016/2017 :</div>
                            <div class="cv-item">Formation Concepteur Développeur Informatique</div>
                            <div class="cv-item">ENI École Informatique – Nantes</div>
                            <div class="cv-item">Homologuée par l’État, niveau 6 (ex niveau II – Bac +4)</div>
                            <div class="cv-date">2000 :</div>
                            <div class="cv-item">Formations de développement chez Apple (Londres) et Adobe (Seattle)</div>
                            <div class="cv-date">1987/1989:</div>
                            <div class="cv-item">BTS Informatique de gestion</div>
                            <div class="cv-date">1987:</div>
                            <div class="cv-item">Baccalauréat C</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
