{% extends 'base.html.twig' %}

{% block title %}{{ 'my TvTime::Youtube' }}{% endblock %}
{% set user = app.user %}

{% block body %}
    {#    {% if app.debug=='dev' %}{{ dump() }}{% endif %} #}
    <div class="container">

        {{ include('blocks/pageHeader.html.twig') }}

        <iframe width="560" height="315" src="https://www.youtube.com/embed/rgoiGAbm6vM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
{% endblock %}
