$transition-delay: .5s;
$fa-font-path: "../webfonts";

:root {

    --button-border-radius: .25em;

    --gradient-saturation: 18%;
    --saturation: calc(var(--gradient-saturation) / 2);

    --mtt-body-bg: hsl(202, var(--saturation), var(--percent-95));
    --mtt-body-bg-gradiant: hsl(202, 0%, var(--percent-93));
    --mtt-body-color: hsl(202, var(--saturation), var(--percent-10));

    --menu-shadow: 0 0 1em 0 hsla(0, 0%, 0%, .5);
    --dialog-bg: hsla(202, var(--saturation), var(--percent-95), .5);
    --dialog-color: hsl(202, var(--saturation), var(--percent-10));
    --dialog-backdrop: #000000af;
    --network-bg: hsl(202, 50%, 95%);
    --network-border: hsl(202, 50%, 5%);
    --header-fade-bg: hsla(202, var(--saturation), 10%, .2);
    --header-flat-color: hsla(202, var(--saturation), 10%, .9);

    @media (prefers-color-scheme: light) {
        @for $i from 0 through 100 {
            --value-#{$i}: #{$i};
            --percent-#{$i}: calc(calc(#{$i} / 100) * 100%);
        }
    }

    @media (prefers-color-scheme: dark) {
        @for $i from 0 through 100 {
            --value-#{$i}: #{100 - $i};
            --percent-#{$i}: calc(calc(calc(100 - #{$i}) / 100) * 100%);
        }
    }

    --gradient-bg: linear-gradient(
                    45deg,
                    hsl(212deg var(--gradient-saturation) var(--percent-84)) 0%,
                    hsl(211deg var(--gradient-saturation) var(--percent-85)) 11%,
                    hsl(210deg var(--gradient-saturation) var(--percent-86)) 22%,
                    hsl(210deg var(--gradient-saturation) var(--percent-87)) 33%,
                    hsl(209deg var(--gradient-saturation) var(--percent-88)) 44%,
                    hsl(208deg var(--gradient-saturation) var(--percent-89)) 56%,
                    hsl(207deg var(--gradient-saturation) var(--percent-90)) 67%,
                    hsl(207deg var(--gradient-saturation) var(--percent-91)) 78%,
                    hsl(206deg var(--gradient-saturation) var(--percent-92)) 89%,
                    hsl(206deg var(--gradient-saturation) var(--percent-93)) 100%
    );

    --gradient-ardoise-100: hsl(202, var(--gradient-saturation), var(--percent-100));
    --gradient-ardoise-90: hsl(202, var(--gradient-saturation), var(--percent-90));
    --gradient-ardoise-90-alpha-80: hsla(202, var(--gradient-saturation), var(--percent-90), .8);
    --gradient-ardoise-90-alpha-50: hsla(202, var(--gradient-saturation), var(--percent-90), .5);
    --gradient-ardoise-90-alpha-20: hsla(202, var(--gradient-saturation), var(--percent-90), .2);
    --gradient-ardoise-90-alpha-10: hsla(202, var(--gradient-saturation), var(--percent-90), .1);
    --gradient-ardoise-80: hsl(202, var(--gradient-saturation), var(--percent-80));
    --gradient-ardoise-80-alpha-50: hsla(202, var(--gradient-saturation), var(--percent-80), .5);
    --gradient-ardoise-80-alpha-90: hsla(202, var(--gradient-saturation), var(--percent-80), .9);
    --gradient-ardoise-75: hsl(202, var(--gradient-saturation), var(--percent-75));
    --gradient-ardoise-75-alpha-25: hsla(202, var(--gradient-saturation), var(--percent-75), .25);
    --gradient-ardoise-70: hsl(202, var(--gradient-saturation), var(--percent-70));
    --gradient-ardoise-70-alpha-50: hsla(202, var(--gradient-saturation), var(--percent-70), .5);
    --gradient-ardoise-70-alpha-75: hsla(202, var(--gradient-saturation), var(--percent-70), .75);
    --gradient-ardoise-70-alpha-90: hsla(202, var(--gradient-saturation), var(--percent-70), .9);
    --gradient-ardoise-60: hsl(202, var(--gradient-saturation), var(--percent-60));
    --gradient-ardoise-60-alpha-50: hsla(202, var(--gradient-saturation), var(--percent-60), .5);
    --gradient-ardoise-50: hsl(202, var(--gradient-saturation), var(--percent-50));
    --gradient-ardoise-40: hsl(202, var(--gradient-saturation), var(--percent-40));
    --gradient-ardoise-40-alpha-50: hsla(202, var(--gradient-saturation), var(--percent-40), .5);
    --gradient-ardoise-40-alpha-20: hsla(202, var(--gradient-saturation), var(--percent-40), .2);
    --gradient-ardoise-30: hsl(202, var(--gradient-saturation), var(--percent-30));
    --gradient-ardoise-30-alpha-50: hsla(202, var(--gradient-saturation), var(--percent-30), .5);
    --gradient-ardoise-30-alpha-75: hsla(202, var(--gradient-saturation), var(--percent-30), .75);
    --gradient-ardoise-30-alpha-90: hsla(202, var(--gradient-saturation), var(--percent-30), .9);
    --gradient-ardoise-30-horizontal: linear-gradient(90deg, hsla(202, var(--gradient-saturation), var(--percent-30), .2), hsla(202, var(--gradient-saturation), var(--percent-30), 1));
    --gradient-ardoise-25: hsl(202, var(--gradient-saturation), var(--percent-25));
    --gradient-ardoise-25-alpha-25: hsla(202, var(--gradient-saturation), var(--percent-25), .25);
    --gradient-ardoise-20: hsl(202, var(--gradient-saturation), var(--percent-20));
    --gradient-ardoise-20-alpha-50: hsla(202, var(--gradient-saturation), var(--percent-20), .5);
    --gradient-ardoise-20-alpha-80: hsla(202, var(--gradient-saturation), var(--percent-20), .8);
    --gradient-ardoise-10: hsl(202, var(--gradient-saturation), var(--percent-10));
    --gradient-ardoise-10-alpha-90: hsla(202, var(--gradient-saturation), var(--percent-10), .9);
    --gradient-ardoise-10-alpha-80: hsla(202, var(--gradient-saturation), var(--percent-10), .8);
    --gradient-ardoise-10-alpha-50: hsla(202, var(--gradient-saturation), var(--percent-10), .5);
    --gradient-ardoise-10-alpha-20: hsla(202, var(--gradient-saturation), var(--percent-10), .2);
    --gradient-ardoise-0: hsl(202, var(--gradient-saturation), var(--percent-0));

    --gradient-ardoise-90-forced: hsl(202, var(--gradient-saturation), 90%);
    --gradient-ardoise-30-forced: hsl(202, var(--gradient-saturation), 30%);

    --gradient-grey-100: hsl(0, 0%, var(--percent-100));
    --gradient-grey-95: hsl(0, 0%, var(--percent-95));
    --gradient-grey-95-alpha-20: hsla(0, 0%, var(--percent-95), .2);
    --gradient-grey-90: hsl(0, 0%, var(--percent-90));
    --gradient-grey-90-alpha-10: hsla(0, 0%, var(--percent-90), .1);
    --gradient-grey-90-alpha-20: hsla(0, 0%, var(--percent-90), .2);
    --gradient-grey-90-alpha-50: hsla(0, 0%, var(--percent-90), .5);
    --gradient-grey-90-alpha-90: hsla(0, 0%, var(--percent-90), .95);
    --gradient-grey-80: hsl(0, 0%, var(--percent-80));
    --gradient-grey-80-alpha-50: hsla(0, 0%, var(--percent-80), .5);
    --gradient-grey-75: hsl(0, 0%, var(--percent-75));
    --gradient-grey-75-alpha-40: hsla(0, 0%, var(--percent-75), .4);
    --gradient-grey-70: hsl(0, 0%, var(--percent-70));
    --gradient-grey-60: hsl(0, 0%, var(--percent-60));
    --gradient-grey-60-alpha-90: hsla(0, 0%, var(--percent-60), .9);
    --gradient-grey-50: hsl(0, 0%, var(--percent-50));
    --gradient-grey-40: hsl(0, 0%, var(--percent-40));
    --gradient-grey-40-alpha-50: hsla(0, 0%, var(--percent-40), .5);
    --gradient-grey-40-alpha-20: hsla(0, 0%, var(--percent-40), .2);
    --gradient-grey-30: hsl(0, 0%, var(--percent-30));
    --gradient-grey-30-alpha-90: hsla(0, 0%, var(--percent-30), .9);
    --gradient-grey-30-alpha-50: hsla(0, 0%, var(--percent-30), .5);
    --gradient-grey-30-alpha-10: hsla(0, 0%, var(--percent-30), .1);
    --gradient-grey-25: hsl(0, 0%, var(--percent-25));
    --gradient-grey-20: hsl(0, 0%, var(--percent-20));
    --gradient-grey-20-alpha-50: hsla(0, 0%, var(--percent-20), .5);
    --gradient-grey-10: hsl(0, 0%, var(--percent-10));
    --gradient-grey-10-alpha-90: hsla(0, 0%, var(--percent-10), .9);
    --gradient-grey-10-alpha-75: hsla(0, 0%, var(--percent-10), .75);
    --gradient-grey-10-alpha-50: hsla(0, 0%, var(--percent-10), .5);
    --gradient-grey-10-alpha-20: hsla(0, 0%, var(--percent-10), .2);
    --gradient-grey-0: hsl(0, 0%, var(--percent-0));

    --gradient-green-100: hsl(166, var(--gradient-saturation), var(--percent-100));
    --gradient-green-90: hsl(166, var(--gradient-saturation), var(--percent-90));
    --gradient-green-80: hsl(166, var(--gradient-saturation), var(--percent-80));
    --gradient-green-80-alpha-50: hsla(166, var(--gradient-saturation), var(--percent-80), .5);
    --gradient-green-70: hsl(166, var(--gradient-saturation), var(--percent-70));
    --gradient-green-70-alpha-50: hsla(166, var(--gradient-saturation), var(--percent-70), .5);
    --gradient-green-60: hsl(166, var(--gradient-saturation), var(--percent-60));
    --gradient-green-50: hsl(166, var(--gradient-saturation), var(--percent-50));
    --gradient-green-40: hsl(166, var(--gradient-saturation), var(--percent-40));
    --gradient-green-40-alpha-50: hsla(166, var(--gradient-saturation), var(--percent-40), .5);
    --gradient-green-30: hsl(166, var(--gradient-saturation), var(--percent-30));
    --gradient-green-30-alpha-50: hsla(166, var(--gradient-saturation), var(--percent-30), .5);
    --gradient-green-20: hsl(166, var(--gradient-saturation), var(--percent-20));
    --gradient-green-20-alpha-50: hsla(166, var(--gradient-saturation), var(--percent-20), .8);
    --gradient-green-20-horizontal: linear-gradient(90deg, hsla(166, var(--gradient-saturation), var(--percent-20), .2), hsla(166, var(--gradient-saturation), var(--percent-20), 1));
    --gradient-green-15: hsl(166, var(--gradient-saturation), var(--percent-15));
    --gradient-green-10: hsl(166, var(--gradient-saturation), var(--percent-10));
    --gradient-green-0: hsl(166, var(--gradient-saturation), var(--percent-0));

    --gradient-red-90: hsl(0, var(--gradient-saturation), var(--percent-90));
    --gradient-red-80: hsl(0, var(--gradient-saturation), var(--percent-80));
    --gradient-red-60: hsl(0, var(--gradient-saturation), var(--percent-60));
    --gradient-red-50: hsl(0, var(--gradient-saturation), var(--percent-50));
    --gradient-red-50-alpha-50: hsla(0, var(--gradient-saturation), var(--percent-50), .5);
    --gradient-red-40: hsl(0, var(--gradient-saturation), var(--percent-40));
    --gradient-red-40-alpha-50: hsla(0, var(--gradient-saturation), var(--percent-40), .5);
    --gradient-red-20: hsl(0, var(--gradient-saturation), var(--percent-20));

    --gradient-yellow-80: hsl(45, var(--gradient-saturation), var(--percent-80));
    --gradient-yellow-60: hsl(45, var(--gradient-saturation), var(--percent-60));
    --gradient-yellow-50: hsl(45, var(--gradient-saturation), var(--percent-50));
    --gradient-yellow-50-alpha-50: hsla(45, var(--gradient-saturation), var(--percent-50), .5);
    --gradient-yellow-40: hsl(45, var(--gradient-saturation), var(--percent-40));
    --gradient-yellow-20: hsl(45, var(--gradient-saturation), var(--percent-20));

    --serie-add: hsl(212, 43%, 90%);
    --serie-seen: hsl(105, 30%, 50%);
    --movie-add: hsl(212, 43%, 90%);
    --movie-seen: hsl(105, 30%, 50%);

    --activity-stand-up: hsl(173, 100%, var(--percent-58));
    --activity-stand-down: hsl(173, 100%, var(--percent-78));
    --activity-stand-up-hover: hsl(173, 100%, var(--percent-48));
    --activity-stand-down-hover: hsl(173, 100%, var(--percent-68));
    --activity-stand-up-fade: hsla(173, 100%, var(--percent-58), .25);
    --activity-move: hsl(0, 100%, 50%);
    --activity-move-light: hsl(0, 100%, 80%);
    --activity-move-fade: hsla(0, 100%, 50%, .25);
    --activity-exercise: hsl(77, 100%, 50%);
    --activity-exercise-fade: hsla(77, 100%, 50%, .25);
    --activity-steps: hsl(77deg 17% 50%);
    --activity-distance: hsl(77deg 39% 48%);

    --activity-move-gradient: linear-gradient(
                    180deg,
                    hsl(0deg 100% 50%) 0%,
                    hsl(8deg 82% 26%) 50%,
                    hsl(0deg 0% 0%) 100%
    );
    --activity-exercise-gradient: linear-gradient(
                    180deg,
                    hsl(77deg 100% 50%) 0%,
                    hsl(79deg 64% 28%) 50%,
                    hsl(0deg 0% 0%) 100%
    );
    --activity-stand-up-gradient: linear-gradient(
                    180deg,
                    hsl(173deg 100% 42%) 0%,
                    hsl(170deg 53% 26%) 50%,
                    hsl(0deg 0% 0%) 100%
    );
    --activity-steps-gradient: linear-gradient(
                    180deg,
                    hsl(77deg 17% 50%) 0%,
                    hsl(76deg 15% 25%) 50%,
                    hsl(0deg 0% 0%) 100%
    );
    --activity-distance-gradient: linear-gradient(
                    180deg,
                    hsl(77deg 39% 48%) 0%,
                    hsl(76deg 34% 24%) 50%,
                    hsl(0deg 0% 0%) 100%
    );

    --btn-primary: linear-gradient(
                    0deg,
                    hsl(212deg 51% 39%) 1%,
                    hsl(212deg 46% 42%) 30%,
                    hsl(212deg 42% 45%) 40%,
                    hsl(212deg 38% 48%) 47%,
                    hsl(212deg 36% 50%) 52%,
                    hsl(212deg 37% 53%) 57%,
                    hsl(212deg 38% 56%) 62%,
                    hsl(212deg 40% 59%) 68%,
                    hsl(212deg 41% 61%) 76%,
                    hsl(212deg 43% 64%) 100%);
    --btn-secondary: linear-gradient(
                    0deg,
                    hsl(0deg 0% 27%) 1%,
                    hsl(344deg 0% 30%) 30%,
                    hsl(344deg 0% 34%) 40%,
                    hsl(344deg 0% 37%) 47%,
                    hsl(344deg 0% 41%) 52%,
                    hsl(344deg 0% 45%) 57%,
                    hsl(344deg 0% 48%) 62%,
                    hsl(344deg 0% 52%) 68%,
                    hsl(344deg 0% 56%) 76%,
                    hsl(0deg 0% 60%) 100%);
    --btn-danger: linear-gradient(
                    0deg,
                    hsl(0deg 89% 33%) 1%,
                    hsl(1deg 81% 36%) 30%,
                    hsl(2deg 74% 40%) 40%,
                    hsl(2deg 69% 43%) 47%,
                    hsl(2deg 65% 47%) 52%,
                    hsl(1deg 61% 50%) 57%,
                    hsl(1deg 66% 54%) 62%,
                    hsl(1deg 72% 57%) 68%,
                    hsl(0deg 80% 61%) 76%,
                    hsl(0deg 88% 64%) 100%
    );
    --btn-warning: linear-gradient(
                    0deg,
                    hsl(25deg 76% 36%) 1%,
                    hsl(25deg 74% 38%) 30%,
                    hsl(25deg 72% 40%) 40%,
                    hsl(25deg 71% 42%) 47%,
                    hsl(25deg 69% 44%) 52%,
                    hsl(25deg 68% 47%) 57%,
                    hsl(25deg 67% 49%) 62%,
                    hsl(25deg 67% 51%) 68%,
                    hsl(25deg 72% 53%) 76%,
                    hsl(25deg 77% 55%) 100%);

    --under-construction: linear-gradient(
                    45deg,
                    hsl(240, 0%, 7%) 0%,
                    hsl(240, 0%, 7%) 5%,
                    hsl(50, 100%, 50%) 5%,
                    hsl(50, 100%, 50%) 10%,
                    hsl(240, 0%, 7%) 10%,
                    hsl(240, 0%, 7%) 15%,
                    hsl(50, 100%, 50%) 15%,
                    hsl(50, 100%, 50%) 20%,
                    hsl(240, 0%, 7%) 20%,
                    hsl(240, 0%, 7%) 25%,
                    hsl(50, 100%, 50%) 25%,
                    hsl(50, 100%, 50%) 30%,
                    hsl(240, 0%, 7%) 30%,
                    hsl(240, 0%, 7%) 35%,
                    hsl(50, 100%, 50%) 35%,
                    hsl(50, 100%, 50%) 40%,
                    hsl(240, 0%, 7%) 40%,
                    hsl(240, 0%, 7%) 45%,
                    hsl(50, 100%, 50%) 45%,
                    hsl(50, 100%, 50%) 50%,
                    hsl(240, 0%, 7%) 50%,
                    hsl(240, 0%, 7%) 55%,
                    hsl(50, 100%, 50%) 55%,
                    hsl(50, 100%, 50%) 60%,
                    hsl(240, 0%, 7%) 60%,
                    hsl(240, 0%, 7%) 65%,
                    hsl(50, 100%, 50%) 65%,
                    hsl(50, 100%, 50%) 70%,
                    hsl(240, 0%, 7%) 70%,
                    hsl(240, 0%, 7%) 75%,
                    hsl(50, 100%, 50%) 75%,
                    hsl(50, 100%, 50%) 80%,
                    hsl(240, 0%, 7%) 80%,
                    hsl(240, 0%, 7%) 85%,
                    hsl(50, 100%, 50%) 85%,
                    hsl(50, 100%, 50%) 90%,
                    hsl(240, 0%, 7%) 90%,
                    hsl(240, 0%, 7%) 95%,
                    hsl(50, 100%, 50%) 95%,
                    hsl(50, 100%, 50%) 100%
    );

    --gradient-purple-100: hsl(306, 50%, 100%);
    --gradient-purple-90: hsl(306, 50%, 90%);
    --gradient-purple-80: hsl(306, 50%, 80%);
    --gradient-purple-70: hsl(306, 50%, 70%);
    --gradient-purple-60: hsl(306, 50%, 60%);
    --gradient-purple-50: hsl(306, 50%, 50%);
    --gradient-purple-40-alpha-50: hsla(306, 50%, 40%, .5);
    --gradient-purple-40: hsl(306, 50%, 40%);
    --gradient-purple-30: hsl(306, 50%, 30%);
    --gradient-purple-30-alpha-50: hsla(306, 50%, 30%, .5);
    --gradient-purple-20: hsl(306, 50%, 20%);
    --gradient-purple-10: hsl(306, 50%, 10%);
    --gradient-purple-0: hsl(306, 50%, 0%);

    --gradient-orange-100: hsl(32, 76%, 100%);
    --gradient-orange-90: hsl(32, 76%, 90%);
    --gradient-orange-80: hsl(32, 76%, 80%);
    --gradient-orange-70: hsl(32, 76%, 70%);
    --gradient-orange-60: hsl(32, 76%, 60%);
    --gradient-orange-50: hsl(32, 76%, 50%);
    --gradient-orange-50-alpha-80: hsla(32, 76%, 50%, .8);
    --gradient-orange-50-alpha-50: hsla(32, 76%, 50%, .5);
    --gradient-orange-40: hsl(32, 76%, 40%);
    --gradient-orange-40-alpha-50: hsla(32, 76%, 40%, .5);
    --gradient-orange-30: hsl(32, 76%, 30%);
    --gradient-orange-20: hsl(32, 76%, 20%);
    --gradient-orange-10: hsl(32, 76%, 10%);
    --gradient-orange-0: hsl(32, 76%, 0%);

    --gradient-emerald-40: hsl(186, 50%, 40%);
    --gradient-emerald-50: hsl(186, 50%, 50%);

    --form-bg: var(--gradient-ardoise-80);
    --form-border: var(--gradient-ardoise-20);
    --form-text: var(--gradient-ardoise-20);

    --vote-1: hsl(127deg 54% 49%);
    --vote-2: hsl(103deg 46% 50%);
    --vote-3: hsl(88deg 44% 50%);
    --vote-4: hsl(76deg 39% 50%);
    --vote-5: hsl(61deg 39% 47%);
    --vote-6: hsl(49deg 40% 48%);
    --vote-7: hsl(40deg 39% 49%);
    --vote-8: hsl(27deg 40% 49%);
    --vote-9: hsl(15deg 37% 49%);
    --vote-10: hsl(0deg 30% 48%);
}

@mixin banner($image) {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1em;

    .banner {
        background-image: url($image);
        background-position: 75% center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 1em;
        height: 100%;
        position: relative;
        transition: width .5s;
        width: 100%;
    }
}

@mixin author($bg) {
    align-items: center;
    background-color: $bg;
    border: 2px solid #bdbdbd;
    border-radius: 50%;
    display: flex;
    height: 4em;
    flex: none;
    justify-content: center;
    width: 4em;

    img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
    .initial {
        font-size: 2em;
        font-weight: 400;
    }
}

@mixin rating() {
    @include flex-row();
    background-color: var(--gradient-green-40-alpha-50);
    border: .125em solid var(--gradient-green-40);
    border-radius: 1.5em;
    height: 3em;
    margin-right: 1em;
    opacity: 0;
    transition: opacity .5s;
    width: 14em;

    &.visible {
        opacity: 1;
    }

    .star {
        background-image: url("../images/star-outline.png");
        background-size: cover;
        height: 2em;
        width: 2em;

        &.ok {
            background-image: url("../images/star.png");
        }

        &:hover {
            transform: scale(1.25);
        }
    }

    .trash {
        background-image: url("../images/trash-outline.png");
        background-size: cover;
        height: 2em;
        width: 2em;

        &:hover {
            transform: scale(1.25);
        }
    }
}

@mixin yt-header {
    @include flex-100();
    background-color: var(--gradient-ardoise-30);
    border-bottom: 1px solid var(--gradient-ardoise-80);
    color: var(--gradient-ardoise-80);
    font-size: 1em;
    font-weight: 100;
    padding: .25em .5em;

    div {
        margin-left: auto;
    }
}

@mixin flex-row($items: center, $content: center) {
    align-items: $items;
    display: flex;
    flex-direction: row;
    justify-content: $content;
}

@mixin flex-100($items: center, $content: center) {
    align-items: $items;
    display: flex;
    flex-direction: row;
    justify-content: $content;
    width: 100%;
}

@mixin flex-col($items: center, $content: center) {
    align-items: $items;
    display: flex;
    flex-direction: column;
    justify-content: $content;
}

@mixin flat-button($text-color: var(--gradient-ardoise-80), $bg-color: var(--gradient-ardoise-30)) {
    background-color: $bg-color;
    border: 1px solid $text-color;
    border-radius: .25em;
    color: $text-color;
    cursor: pointer;
    font-size: 1em;
    font-weight: 100;
    padding: .25em 1em;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: color .5s;

    &:hover {
        background-color: var(--gradient-ardoise-40);
    }
}

@mixin seen($color: var(--serie-add), $border: var(--gradient-ardoise-10), $size: 1rem, $right: 1rem) {
    @include flex-row();
    background-color: $border;
    border: 2px solid $border;
    border-radius: 50%;
    bottom: 1rem;
    color: $color;
    cursor: pointer;
    font-size: $size;
    height: 1.25em;
    position: absolute;
    right: $right;
    width: 1.25em;
}

@mixin rounded-avatar($size: size) {
    background-image: url("../images/no_avatar.png");
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: $size;
    object-fit: cover;
    width: $size;
}

@mixin human-profile($bg-color: var(--gradient-ardoise-20-alpha-50), $color: var(--gradient-ardoise-10)) {
    @include flex-col(center, flex-start);
    background-color: $bg-color;
    border-radius: .5rem;
    color: $color;
    margin: .25rem;
    min-width: 8rem;
    overflow: hidden;
    width: 8rem;

    img {
        border-radius: .5rem .5rem 0 0;
        height: 8rem;
        object-fit: cover;
        width: 8rem;
    }

    //div {
    //    font-size: .75em;
    //    font-weight: 100;
    //    line-height: 1em;
    //    padding: .125rem;
    //    text-align: center;
    //}

    //div:first-child {
    //    min-height: 0;
    //    padding: 0;
    //}

    //div:last-child {
    //    margin-top: auto;
    //    padding-top: 0;
    //}
}

@mixin animated-header($bg-image, $h1-color: var(--gradient-ardoise-50)) {
    background-color: var(--gradient-ardoise-20);
    border-radius: 1em;
    color: var(--gradient-ardoise-70);
    height: 20em;
    overflow: hidden;
    position: relative;
    transition: background-color 1s ease-in-out;
    width: 100%;

    &.fade-bg {
        background-color: var(--gradient-ardoise-90-alpha-20);
    }

    h1 {
        color: $h1-color;
        font-size: 4em;
        font-weight: bold;
        opacity: 1;
        position: absolute;

        &.typed {
            @include flex-row();
            inset: 0;
            position: absolute;
        }
    }

    .animated-h1 {
        @include flex-row();
        color: $h1-color;
        opacity: 1;
        position: absolute;

        .part {
            font-size: 4em;
            font-weight: bold;
        }
    }

    .backdrop {
        @include flex-row(end, start);
        background-image: url($bg-image);
        background-position: center top;
        background-size: cover;
        border-radius: 1em;
        inset: 0;
        opacity: .75;
        padding: 2em;
        position: absolute;
        transition: translate 3s ease-in-out;
        z-index: -1;

        .name {
            color: var(--gradient-ardoise-10);
            font-size: 3em;
            font-weight: bold;
            text-shadow: 0 0 8px var(--gradient-ardoise-90);
            z-index: 1;
        }

        &.right {
            translate: 100% 0;
        }

        &.left {
            translate: -100% 0;
        }
    }

    .link {
        display: block;
        inset: 0;
        position: absolute;
        transition: translate 3s ease-in-out;

        &.right {
            translate: 100% 0;
        }

        &.left {
            translate: -100% 0;
        }
    }
}

@mixin animated-card($color: var(--gradient-green-90), $bg-color: var(--gradient-green-40-alpha-50)) {
    align-items: center;
    background-color: $bg-color;
    border-radius: .25rem;
    color: $color;
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    height: 5rem;
    margin-inline: .125rem;
    padding: .5rem .5rem 1rem .5rem;
}

@mixin switcher($checked, $unchecked) {
    border: 2px solid var(--gradient-ardoise-80);
    border-radius: calc(.5em + 2px);
    cursor: pointer;
    display: inline-block;
    height: calc(1em + 4px);
    margin-left: auto;
    margin-right: .5em;
    overflow: hidden;
    position: relative;
    width: calc(2em + 4px);

    input {
        height: 0;
        position: absolute;
        top: -2em;
        width: 0;

        + span {
            background: $unchecked;
            border-radius: .5em;
            cursor: pointer;
            inset: 0;
            position: absolute;

            &:before {
                background: white;
                border-radius: 50%;
                content: "";
                cursor: pointer;
                display: inline-block;
                height: 1em;
                left: 0;
                position: absolute;
                top: 0;
                transition: all .2s ease-in-out;
                width: 1em;
            }
        }

        &:checked + span {
            background: $checked;
        }

        &:checked + span:before {
            left: 1em;
        }
    }
}

@mixin switcher-with-label($width, $checked, $unchecked) {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: calc(1em + 4px);
    justify-content: start;
    margin-left: auto;
    margin-right: .25em;
    overflow: hidden;
    position: relative;
    width: $width;

    input {
        height: 0;
        position: absolute;
        top: -2em;
        width: 0;

        + span {
            background: $unchecked;
            border: 2px solid var(--gradient-ardoise-80);
            border-radius: calc(.5em + 2px);
            inset: 0 0 0 calc(100% - 2.25em);
            position: absolute;

            &:before {
                background: white;
                border-radius: 50%;
                content: "";
                display: inline-block;
                height: 1em;
                left: 0;
                position: absolute;
                top: 0;
                transition: all .2s ease-in-out;
                width: 1em;
            }
        }

        &:checked + span {
            background: $checked;
        }

        &:checked + span:before {
            left: 1em;
        }
    }
}

@mixin customSelect {
    font-weight: 100;
    position: relative;

    &::after {
        border-bottom: .25rem solid var(--gradient-ardoise-80);
        border-left: .25rem solid transparent;
        border-right: .25rem solid var(--gradient-ardoise-80);
        border-top: .25rem solid transparent;
        content: '';
        height: .25rem;
        position: absolute;
        right: 1.75em;
        top: .25rem;
        transform: rotate(45deg);
        width: .25rem;
        z-index: 2;
    }

    select {
        appearance: unset;
        background: var(--gradient-ardoise-30);
        color: var(--gradient-ardoise-80);
        font-weight: 100;
        height: 2em;
        margin: 0 1em;
        padding: .125em 2em .125em .25em;
    }
}

@mixin images-tmdb {
    @include flex-col(flex-start, flex-start);
    margin: 1em 0;
    width: 100%;

    > div {
        @include flex-row(center, center);
        flex-wrap: wrap;
        gap: 1em;
        background-color: var(--gradient-ardoise-70-alpha-50);
        border-radius: .5em;
        min-height: 10em;
        margin: 0 0 1em 0;
        padding: 1em;
        width: 100%;

        img {
            display: block;
        }

        .backdrop {
            border-radius: .5em;
            max-width: calc(100% - 2em);
        }

        .poster {
            border-radius: .5em;
            max-width: 10em;
        }
    }

    .logo-bg-dark {
        @include flex-row(center, center);
        flex-wrap: wrap;
        gap: 1em;
        background-color: var(--gradient-ardoise-20);
        border-radius: .5em;
        //height: 100%;
        padding: 1em;
        //width: calc(50% - 2em);
    }

    .logo-bg-light {
        @include flex-row(center, center);
        flex-wrap: wrap;
        gap: 1em;
        background-color: var(--gradient-ardoise-80);
        border-radius: .5em;
        //height: 100%;
        padding: 1em;
        //width: calc(50% - 2em);
    }

    h4, h5 {
        font-weight: 100;
        text-transform: uppercase;
    }
}

@mixin crud-tools($right: 1rem, $top: 4rem) {
    @include flex-row();
    background-color: var(--gradient-grey-20-alpha-50);
    border-radius: .5rem;
    gap: 1rem;
    height: 2rem;
    opacity: 0;
    position: absolute;
    right: $right;
    top: $top;
    transition: opacity 300ms ease-in-out;
    width: 6rem;
    z-index: 10;

    i {
        cursor: pointer;
    }

    &.visible {
        opacity: 1;
    }
}

@mixin dialog($backdropColor: var(--gradient-ardoise-30-alpha-50)) {
    background-color: $backdropColor;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    width: 100vw;

    &.show {
        opacity: 1;
    }

    &::backdrop {
        background: $backdropColor;
    }
}

@mixin dialog2($width: 20em, $backdropColor: var(--gradient-ardoise-30-alpha-50)) {
    background-color: $backdropColor;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    width: 100vw;

    &.show {
        opacity: 1;
    }

    &::backdrop {
        background: $backdropColor;
    }

    .overlay {
        background-color: var(--gradient-ardoise-100);
        border: 1px solid var(--gradient-ardoise-50);
        border-radius: 1em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 50px rgba(0, 0, 0, 0.25);
        color: var(--gradient-ardoise-20);
        margin: calc(50vh - 6em) auto;
        width: $width;

        .header {
            @include flex-100();
            border-bottom: 1px solid var(--gradient-ardoise-50);
            padding: 1em;
            position: relative;
            text-align: center;
            width: $width;

            .close {
                appearance: none;
                background-color: transparent;
                border: none;
                color: var(--gradient-ardoise-20);
                cursor: pointer;
                font-size: 1em;
                outline: none;
                position: absolute;
                right: .5em;
                top: .5em;
            }
        }

        .content {
            @include flex-col(flex-start, flex-start);
            padding: 2em;
            width: $width;
        }

        &.classic {
            bottom: 1em;
            position: fixed;
            right: 1em;
        }

        .footer {
            @include flex-100(flex-end, flex-end);
            gap: 1em;
            border-top: 1px solid var(--gradient-ardoise-50);
            padding: 1em;
            width: $width;

            button:hover {
                background-color: var(--gradient-ardoise-60);
                border-color: var(--gradient-ardoise-50);
            }
        }
    }
}

@mixin dialog3($width: 50%, $backdropColor: var(--gradient-ardoise-30-alpha-50)) {
    background-color: $backdropColor;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    opacity: 0;
    padding: 0;
    transition: opacity 300ms ease-in-out;
    width: 100vw;
    z-index: 9999;

    &.show {
        opacity: 1;
    }

    &::backdrop {
        background: $backdropColor;
    }

    .overlay {
        background-color: var(--gradient-ardoise-100);
        border: 1px solid var(--gradient-ardoise-50);
        border-radius: 1em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 50px rgba(0, 0, 0, 0.25);
        color: var(--gradient-ardoise-20);
        height: 90vh;
        margin: 5vh auto;
        width: $width;

        .header {
            @include flex-100();
            border-bottom: 1px solid var(--gradient-ardoise-50);
            height: 3.5em;
            padding: 1em;
            position: relative;
            text-align: center;

            .close {
                appearance: none;
                background-color: transparent;
                border: none;
                color: var(--gradient-ardoise-20);
                cursor: pointer;
                font-size: 1em;
                outline: none;
                position: absolute;
                right: 1em;
                top: .5em;
            }
        }

        .content {
            @include flex-col(flex-start, flex-start);
            height: calc(90vh - 7.5em);
            overflow: scroll;
            margin: 2em;
            width: calc(100% - 4em);

            h3 {
                margin: 1em 0;

                &:first-child {
                    margin-top: 0;
                }
            }

            pre {
                width: 100%;

                code {
                    border-radius: .5em;
                    width: 100%;
                }
            }
        }
    }
}

@mixin mtt-form($angle: 0deg) {
    @include flex-col();
    background-color: var(--form-bg);
    //border: 2px dashed var(--form-border);
    border-radius: 1em;
    box-shadow: 0 0 1em hsla(0, 0, 0%, .2), 0 0 3em hsla(0, 0, 0%, .15), 0 0 10em hsla(0, 0, 0%, .1);
    gap: 1em;
    margin-bottom: 3em;
    margin-top: 4em;
    padding: 2em;
    max-width: 60em;
    rotate: $angle;
    width: 100%;

    .form-row {
        @include flex-100(start, start);
        gap: 1em;

        &.right {
            align-items: end;
            justify-content: end;
        }
    }

    label {
        @include flex-col(start, start);
        width: 100%;

        &.hidden {
            display: none;
        }
    }

    label:has(select):has(.form-select) {
        font-weight: 100;
        gap: unset;
        position: relative;

        &::after {
            --arrow-size: .375rem;
            border-bottom: var(--arrow-size) solid var(--form-border);
            border-right: var(--arrow-size) solid var(--form-border);
            border-left: var(--arrow-size) solid transparent;
            border-top: var(--arrow-size) solid transparent;
            content: '';
            height: var(--arrow-size);
            position: absolute;
            right: 1rem;
            top: 1.75rem;
            transform: rotate(45deg);
            width: var(--arrow-size);
            z-index: 2;
        }
    }

    select {
        appearance: unset;
        background-color: var(--form-bg);
        border-color: var(--form-border);
        color: var(--form-text);
        font-weight: 100;
        height: 2em;
        margin: 0;
        padding: .125em 2em .125em .25em;
    }

    .field {
        flex: 1 0 auto;
        //width: calc(50% - .5em);
    }

    input[type=email], input[type=text], textarea {
        background-color: var(--form-bg);
        border: 1px solid var(--form-border);
        color: var(--form-text);
    }

    input[type=file] {
        font-weight: 100;
    }

    input[type=file]::file-selector-button {
        background: var(--form-bg);
        border: none;
        border-radius: .5em;
        color: var(--form-text);
        cursor: pointer;
        font-weight: 100;
        margin-right: 1.5em;
        padding: .5em 1em;
        transition: background .2s ease-in-out;

        &:hover {
            background: var(--gradient-ardoise-40);
            color: var(--gradient-ardoise-90);
        }
    }

    .dropzone-container {
        border: 2px dashed var(--form-border);
        border-radius: 1em;
        color: var(--gradient-ardoise-20);
        width: 100%;

        &:hover {
            background: var(--gradient-ardoise-75);
            border-color: var(--gradient-ardoise-60);
        }

        .dropzone-preview-image {
            border: 2px solid var(--form-border);
            border-radius: .5em;
            min-width: 80px;
            max-width: 200px;
            height: 80px;
            margin-right: 1em;
        }
    }

    .drop-container {
        @include flex-col();
        border-radius: 1em;
        border: 2px dashed var(--form-border);
        color: var(--form-text);
        cursor: pointer;
        gap: 1em;
        margin: 1em 0;
        padding: 1em 2em;
        position: relative;
        text-align: center;
        transition: background .2s ease-in-out, border .2s ease-in-out;

        &:hover {
            background: var(--gradient-ardoise-40);
            border-color: var(--gradient-ardoise-60);

            &.drop-title {
                color: var(--gradient-ardoise-90);
            }
        }

        .drop-title {
            color: var(--form-text);
            font-size: 1em;
            font-weight: 100;
            text-align: center;
            transition: color .2s ease-in-out;
        }
    }
}

@mixin activity-hours {
    .block-body {
        .details {
            .detail {
                @include flex-row(flex-start, center);
                gap: 1em;
            }

            .wrapper {
                @include flex-col();

                .hours {
                    @include flex-row(flex-start, center);
                    gap: 2px;

                    .hour {
                        border-radius: 4px;
                        height: 2rem;
                        width: 8px;

                        &.up {
                            background-color: var(--activity-stand-up);

                            &:hover {
                                background-color: var(--activity-stand-up-hover);
                            }
                        }

                        &.down {
                            background-color: var(--activity-stand-down);

                            &:hover {
                                background-color: var(--activity-stand-down-hover);
                            }
                        }
                    }
                }

                .graduations {
                    @include flex-row(flex-start, flex-start);
                    font-size: .5em;
                    height: 2em;
                    width: 100%;

                    .quarter {
                        border-left: 1px solid var(--gradient-ardoise-60);
                        color: var(--gradient-ardoise-60);
                        height: 2em;
                        flex: 1;
                        padding-left: .25em;
                    }
                }
            }
        }
    }
}

@mixin autocomplete-items {
    border: 1px solid var(--gradient-ardoise-80);
    border-bottom: none;
    border-top: none;
    left: 0;
    max-height: 32em;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 100%;
    width: 22em;
    z-index: 50;

    div {
        padding: .25em .5em calc(.25em - 1px);
        cursor: pointer;
        background-color: var(--gradient-ardoise-90);
        border-bottom: 1px solid var(--gradient-ardoise-70);
        color: var(--gradient-ardoise-30);

        &:hover {
            background-color: var(--gradient-ardoise-80);
        }

        &.active {
            background-color: var(--gradient-ardoise-40) !important;
            color: var(--gradient-ardoise-90) !important;
        }
    }
}

@mixin devices($theme: "light") {
    &.desktop {
        background-image: url("../images/devices/device-desktop-#{$theme}.png");

        &.active, &:hover {
            background-image: url("../images/devices/device-desktop-#{$theme}-active.png");
        }
    }

    &.laptop {
        background-image: url("../images/devices/device-laptop-#{$theme}.png");

        &.active, &:hover {
            background-image: url("../images/devices/device-laptop-#{$theme}-active.png");
        }
    }

    &.phone {
        background-image: url("../images/devices/device-phone-#{$theme}.png");

        &.active, &:hover {
            background-image: url("../images/devices/device-phone-#{$theme}-active.png");
        }
    }

    &.tablet-device {
        background-image: url("../images/devices/device-tablet-#{$theme}.png");

        &.active, &:hover {
            background-image: url("../images/devices/device-tablet-#{$theme}-active.png");
        }
    }

    &.tv {
        background-image: url("../images/devices/device-tv-#{$theme}.png");

        &.active, &:hover {
            background-image: url("../images/devices/device-tv-#{$theme}-active.png");
        }
    }
}