$transition-delay: .5s;
$fa-font-path: "../webfonts";

:root {
    //--mtt-body-bg: #012222;
    //--mtt-body-bg-gradiant: #123333;
    //--mtt-body-color: #abcccc;
    --mtt-body-bg: var(--gradiant-ardoise-10);
    --mtt-body-bg-gradiant: var(--gradiant-ardoise-40);
    --mtt-body-color: var(--gradiant-ardoise-90);

    --button-border-radius: .25em;

    --serie-add: hsl(212, 43%, 70%);
    --serie-seen: hsl(105, 50%, 50%);
    --movie-add: hsl(212, 43%, 70%);
    --movie-seen: hsl(105, 50%, 50%);

    --gradiant-ardoise-100: hsl(212, 43%, 100%);
    --gradiant-ardoise-90: hsl(212, 43%, 90%);
    --gradiant-ardoise-80: hsl(212, 43%, 80%);
    --gradiant-ardoise-70: hsl(212, 43%, 70%);
    --gradiant-ardoise-60: hsl(212, 43%, 60%);
    --gradiant-ardoise-50: hsl(212, 43%, 50%);
    --gradiant-ardoise-40: hsl(212, 43%, 40%);
    --gradiant-ardoise-30: hsl(212, 43%, 30%);
    --gradiant-ardoise-30-alpha-50: hsla(212, 43%, 30%, .5);
    --gradiant-ardoise-30-alpha-90: hsla(212, 43%, 30%, .9);
    --gradiant-ardoise-20: hsl(212, 43%, 20%);
    --gradiant-ardoise-10: hsl(212, 43%, 10%);
    --gradiant-ardoise-10-alpha-90: hsla(212, 43%, 10%, .9);
    --gradiant-ardoise-10-alpha-20: hsla(212, 43%, 10%, .2);
    --gradiant-ardoise-0: hsl(212, 43%, 0%);

    --gradiant-purple-100: hsl(306, 50%, 100%);
    --gradiant-purple-90: hsl(306,50%, 90%);
    --gradiant-purple-80: hsl(306,50%, 80%);
    --gradiant-purple-70: hsl(306,50%, 70%);
    --gradiant-purple-60: hsl(306,50%, 60%);
    --gradiant-purple-50: hsl(306,50%, 50%);
    --gradiant-purple-40: hsl(306,50%, 40%);
    --gradiant-purple-30: hsl(306,50%, 30%);
    --gradiant-purple-20: hsl(306,50%, 20%);
    --gradiant-purple-10: hsl(306,50%, 10%);
    --gradiant-purple-0: hsl(306,50%, 0%);

    --gradiant-mars-100: hsl(25, 76%, 100%);
    --gradiant-mars-90: hsl(25,76%, 90%);
    --gradiant-mars-80: hsl(25,76%, 80%);
    --gradiant-mars-70: hsl(25,76%, 70%);
    --gradiant-mars-60: hsl(25,76%, 60%);
    --gradiant-mars-50: hsl(25,76%, 50%);
    --gradiant-mars-40: hsl(25,76%, 40%);
    --gradiant-mars-30: hsl(25,76%, 30%);
    --gradiant-mars-20: hsl(25,76%, 20%);
    --gradiant-mars-10: hsl(25,76%, 10%);
    --gradiant-mars-0: hsl(25,76%, 0%);


}

@mixin banner($image) {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1em;

    .banner {
        background-image: url($image);
        background-position: left center;
        background-size: cover;
        border-radius: 1em;
        height: 160px;
        position: relative;
        transition: width .5s;
        width: 100%;

        .nav-breadcrumb {
            bottom: -2em;
            left: -1em;
            padding: .25em .75em;
            position: absolute;

            .breadcrumb {
                background-color: #efefef;
                padding: 0 .5em;
            }
        }
    }
}

@mixin author($bg) {
    align-items: center;
    background-color: $bg;
    border: 2px solid #bdbdbd;
    border-radius: 50%;
    display: flex;
    height: 2em;
    flex: none;
    font-size: 2em;
    font-weight: 400;
    justify-content: center;
    width: 2em;

    img {
        border-radius: 50%;
    }
}

@mixin rating() {
    @include flex-row();
    background-color: #11d08e7f;
    border: .125em solid #11d08e;
    border-radius: 1.5em;
    height: 3em;
    margin-right: 1em;
    opacity: 0;
    transition: opacity .5s;
    width: 12em;

    &.visible {
        opacity: 1;
    }

    .star {
        background-image: url("../images/star-outline.png");
        background-size: cover;
        height: 2em;
        width: 2em;

        &.ok {
            background-image: url("../images/star.png");
        }

        &:hover {
            transform: scale(1.25);
        }
    }
}

@mixin yt-header {
    @include flex-100();
    background-color: var(--gradiant-ardoise-30);
    border-bottom: 1px solid var(--gradiant-ardoise-80);
    color: var(--gradiant-ardoise-80);
    font-size: 1em;
    font-weight: 100;
    padding: .25em .5em;

    div {
        margin-left: auto;
    }
}

@mixin flex-row($items: center, $content: center) {
    align-items: $items;
    display: flex;
    flex-direction: row;
    justify-content: $content;
}

@mixin flex-100($items: center, $content: center) {
    align-items: $items;
    display: flex;
    flex-direction: row;
    justify-content: $content;
    width: 100%;
}

@mixin flex-col($items: center, $content: center) {
    align-items: $items;
    display: flex;
    flex-direction: column;
    justify-content: $content;
}

@mixin seen($color: var(--serie-add), $size: 1em) {
    bottom: 1rem;
    color: $color;
    cursor: pointer;
    font-size: $size;
    position: absolute;
    right: 1rem;
}

@mixin rounded-avatar($size: size) {
    background-image: url("../images/no_avatar.png");
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: $size;
    object-fit: cover;
    width: $size;
}

@mixin human-profile($color: var(--gradiant-ardoise-20)) {
    @include flex-col(center, flex-start);
    background-color: $color;
    border-radius: .5rem;
    margin: .25em;
    min-width: 8em;
    overflow: hidden;
    width: 8rem;

    img {
        //border-bottom: 1px solid #bcdddd;
        border-radius: .5rem .5rem 0 0;
        height: 8rem;
        object-fit: cover;
        width: 8rem;
    }

    div {
        font-size: .75em;
        font-weight: 100;
        padding: .125rem;
        text-align: center;
    }

    div:first-child {
        min-height: 0;
        padding: 0;
    }

    div:last-child {
        margin-top: auto;
        padding-top: 0;
    }
}

@mixin animated-header($bg-image, $h1-color: var(--gradiant-ardoise-90))
{
    border-radius: 1em;
    height: 20em;
    overflow: hidden;
    position: relative;
    width: 100%;

    h1 {
        color: $h1-color;
        font-size: 4em;
        font-weight: bold;
        opacity: 1;
        position: absolute;
    }

    .animated-h1 {
        @include flex-row();
        color: $h1-color;
        opacity: 1;
        position: absolute;

        .part {
            font-size: 4em;
            font-weight: bold;
        }
    }

    .backdrop {
        background-image: url($bg-image);
        background-position: center center;
        background-size: cover;
        border-radius: 1em;
        inset: 0;
        opacity: .5;
        position: absolute;
        z-index: -1;
    }
}