@import "variables";

.activity {
    @include flex-col(flex-start, center);
    padding-top: 1em;

    .header {
        @include animated-header("../images/activity-header.jpeg");

        .animated-h1 {
            color: var(--gradient-ardoise-90);
        }

        .clock {
            left: unset;
            right: 1em;

            .face {
                background-color: var(--gradient-mars-40-alpha-50);

                .number {
                    color: var(--gradient-ardoise-100);
                }

                .unit {
                    background-color: var(--gradient-ardoise-100);
                }

                .warning {
                    background: conic-gradient(hsla(0, 0, 0, 0) 0%, hsla(0, 0, 0, 0) 75%, var(--gradient-red-50-alpha-50) 100%);
                }
            }

            .username, .time {
                color: var(--gradient-ardoise-100);
                font-weight: 400;
            }

            .hands {
                border: 1px solid var(--gradient-ardoise-100);
            }
        }
    }

    .nav-breadcrumb {
        margin: 1em 0 1em auto;
    }

    main {
        @include flex-col(center, center);
        min-height: 20em;
        width: 100%;

        .no-activity {
            font-size: 2em;
            font-weight: 300;
            margin: 0 auto;
            padding: 1em 2em;
        }

        .activity-goals {
            margin-left: auto;
            padding: .25em 2em;
        }

        .form {
            background-color: var(--gradient-ardoise-40-alpha-50);
            border-radius: 1em;
            margin-bottom: 2em;
            padding: 2em;

            form {
                @include flex-col(flex-start, center);
                gap: 1em;

                > div {
                    @include flex-row();
                    gap: 1em;
                }

                input {
                    font-weight: 400;
                }
            }
        }

        .recent-activity {
            @include flex-col(flex-start, center);
            width: 100%;

            .days {
                @include flex-col(start, start);
                gap: 1em;
                width: 100%;

                .day {
                    @include flex-col(flex-start, center);
                    background-color: var(--gradient-ardoise-40-alpha-50);
                    border-radius: 1em;
                    gap: 1em;
                    padding: 1em 2em;
                    width: 100%;

                    &.active {
                        background-color: var(--gradient-ardoise-50-alpha-50);
                    }

                    .date {
                        font-size: 1.5em;
                        font-weight: 400;
                    }

                    .activity-of-the-day {
                        @include flex-row();
                        gap: 1em;
                        width: 100%;

                        .stand-up, .move, .exercice {
                            @include flex-col(flex-start, center);
                            background-color: var(--gradient-ardoise-20-alpha-50);
                            border-radius: 1em;
                            font-size: 1em;
                            font-weight: 300;
                            gap: 1em;
                            padding: 1em;
                            width: 100%;

                            .title {
                                font-size: 1.5em;
                                font-weight: 400;
                            }

                            .description {
                                @include flex-row(center, center);
                                font-size: 1em;
                                font-weight: 300;
                                gap: 1em;

                                .details {
                                    @include flex-col(flex-start, flex-start);
                                    gap: .5em;
                                    width: 100%;

                                    .detail {
                                        @include flex-row(center, flex-start);
                                        gap: .75em;
                                        width: 100%;

                                        .result, .goal {
                                            font-size: 1em;
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                        }

                        .stand-up {
                            .details {
                                .hours {
                                    @include flex-row(flex-start, center);
                                    gap: 1px;

                                    .hour {
                                        border-radius: 4px;
                                        height: 32px;
                                        width: 8px;

                                        &.up {
                                            background-color: var(--activity-stand-up);
                                        }

                                        &.down {
                                            background-color: var(--activity-stand-down);
                                        }
                                    }
                                }
                            }
                        }

                        .progress {
                            @include flex-row(center, center);
                            background-color: var(--gradient-ardoise-10);
                            border-radius: 50%;
                            height: 4em;
                            position: relative;
                            width: 4em;

                            .circle {
                                @include flex-row(center, center);
                                //background: conic-gradient(var(--gradient-ardoise-60) 0%, var(--gradient-ardoise-60) 1%, #000 1%);
                                border-radius: 50%;
                                flex-shrink: 0;
                                height: 3.75em;
                                transition: background 1s;
                                width: 3.75em;

                                .percentage {
                                    @include flex-row(center, center);
                                    background-color: var(--gradient-ardoise-20);
                                    border-radius: 50%;
                                    color: var(--gradient-ardoise-80);
                                    height: 3.25em;
                                    width: 3.25em;
                                }
                            }

                            .circle-start, .circle-end {
                                background-color: var(--gradient-ardoise-60);
                                border-radius: 50%;
                                height: 4px;
                                position: absolute;
                                width: 4px;
                            }

                            .circle-end {
                                background-color: transparent;
                                border-bottom: 1px solid transparent;
                                border-left: 1px solid transparent;
                                border-right: 1px solid var(--gradient-ardoise-20);
                                border-top: 1px solid var(--gradient-ardoise-20);
                                height: 6px;
                                width: 6px;
                            }

                            &.stand-up {
                                .circle {
                                    background-color: var(--activity-stand-up);
                                }

                                .circle-start {
                                    background-color: var(--activity-stand-up);
                                }

                                .circle-end {
                                    > div {
                                        background-color: var(--activity-stand-up);
                                    }
                                }
                            }

                            &.move {
                                .circle {
                                    background-color: var(--activity-move);
                                }

                                .circle-start {
                                    background-color: var(--activity-move);
                                }

                                .circle-end {
                                    > div {
                                        background-color: var(--activity-move);
                                    }
                                }
                            }

                            &.exercice {
                                .circle {
                                    background-color: var(--activity-exercice);
                                }

                                .circle-start {
                                    background-color: var(--activity-exercice);
                                }

                                .circle-end {
                                    > div {
                                        background-color: var(--activity-exercice);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}