@import "variables";

.activity {
    @include flex-col(flex-start, center);
    padding-top: 1em;

    .header {
        @include animated-header("../images/activity-header.jpeg");

        .animated-h1 {
            color: var(--gradient-ardoise-90);
        }

        .clock {
            left: unset;
            right: 1em;

            .face {
                background-color: var(--gradient-mars-40-alpha-50);

                .number {
                    color: var(--gradient-ardoise-100);
                }

                .unit {
                    background-color: var(--gradient-ardoise-100);
                }

                .warning {
                    background: conic-gradient(hsla(0, 0, 0, 0) 0%, hsla(0, 0, 0, 0) 75%, var(--gradient-red-50-alpha-50) 100%);
                }
            }

            .username, .time {
                color: var(--gradient-ardoise-100);
                font-weight: 400;
            }

            .hands {
                border: 1px solid var(--gradient-ardoise-100);
            }
        }
    }

    .nav-breadcrumb {
        margin: 1em 0 1em auto;
    }

    main {
        @include flex-col(center, center);
        min-height: 20em;
        width: 100%;

        .no-activity {
            font-size: 2em;
            font-weight: 300;
            margin: 0 auto;
            padding: 1em 2em;
        }

        .activity-goals {
            margin-left: auto;
            padding: .25em 2em;
        }

        .form {
            background-color: var(--gradient-ardoise-40-alpha-50);
            border-radius: 1em;
            margin-bottom: 2em;
            padding: 2em;

            form {
                @include flex-col(flex-start, center);
                gap: 1em;

                > div {
                    @include flex-row();
                    gap: 1em;
                }

                input {
                    font-weight: 400;
                }
            }
        }

        .recent-activity {
            @include flex-col(flex-start, center);
            width: 100%;

            .days {
                @include flex-col(start, start);
                gap: 1em;
                width: 100%;

                .day {
                    @include flex-col(flex-start, center);
                    background-color: var(--gradient-ardoise-40-alpha-50);
                    border-radius: 1em;
                    gap: 1em;
                    padding: 1em 2em;
                    transition: background-color 1s ease-in-out;
                    width: 100%;

                    &:hover {
                        background-color: var(--gradient-ardoise-40);
                    }

                    &.three-rings {
                        background-color: var(--gradient-green-30-alpha-50);

                        &:hover {
                            background-color: var(--gradient-green-30);

                            .activity-of-the-day {
                                .move {
                                    .block-body {
                                        .details {
                                            .detail {
                                                &:nth-child(2 of .detail) {
                                                    background-color: var(--gradient-green-40);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .activity-of-the-day {
                            .move {
                                .block-body {
                                    .details {
                                        .detail {
                                            &:nth-child(2 of .detail) {
                                                background-color: var(--gradient-green-30);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .date {
                        font-size: 1.5em;
                        font-weight: 400;
                    }

                    .activity-of-the-day {
                        @include flex-row(stretch, center);
                        gap: 1em;
                        width: 100%;

                        .rings-of-the-day {
                            @include flex-col();
                            background-color: var(--gradient-ardoise-20-alpha-50);
                            border-radius: 1em;
                            aspect-ratio: 1;
                            height: 10em;

                            .rings {
                                @include flex-row();
                                background-color: var(--gradient-ardoise-10);
                                border-radius: 50%;
                                height: 8em;
                                width: 8em;

                                .circle {
                                    @include flex-row();
                                    border-radius: 50%;
                                    position: relative;
                                    //transition: background 2s ease-in-out;

                                    .center {
                                        background-color: var(--gradient-ardoise-10);
                                        border-radius: 50%;
                                        height: 20px;
                                        width: 20px;
                                    }

                                    .circle-start, .circle-end {
                                        background-color: var(--gradient-ardoise-60);
                                        border-radius: 50%;
                                        height: 16px;
                                        position: absolute;
                                        //transition: transform 2s ease-in-out;
                                        width: 16px;
                                    }

                                    .circle-end {
                                        background-color: transparent;
                                        border-bottom: 2px solid transparent;
                                        border-left: 2px solid transparent;
                                        border-right: 2px solid var(--gradient-ardoise-20);
                                        border-top: 2px solid var(--gradient-ardoise-20);
                                        height: 20px;
                                        width: 20px;

                                        > div {
                                            border-radius: 50%;
                                            height: 100%;
                                        }
                                    }

                                    &.move-ring {
                                        background-color: var(--activity-move);
                                        border: 2px solid var(--gradient-ardoise-10);
                                        height: 128px;
                                        width: 128px;

                                        .circle-start {
                                            background-color: var(--activity-move);
                                        }
                                        .circle-end {
                                            > div {
                                                background-color: var(--activity-move);
                                            }
                                        }
                                    }

                                    &.exercice-ring {
                                        background-color: var(--activity-exercice);
                                        border: 2px solid var(--gradient-ardoise-10);
                                        height: 92px;
                                        width: 92px;

                                        .circle-start {
                                            background-color: var(--activity-exercice);
                                        }
                                        .circle-end {
                                            > div {
                                                background-color: var(--activity-exercice);
                                            }
                                        }
                                    }

                                    &.stand-up-ring {
                                        background-color: var(--activity-stand-up);
                                        border: 2px solid var(--gradient-ardoise-10);
                                        height: 56px;
                                        width: 56px;
                                        .circle-start {
                                            background-color: var(--activity-stand-up);
                                        }
                                        .circle-end {
                                            > div {
                                                background-color: var(--activity-stand-up);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .stand-up, .move, .exercice {
                            @include flex-col(flex-start, flex-start);
                            background-color: var(--gradient-ardoise-20-alpha-50);
                            border-radius: 1em;
                            font-size: 1em;
                            font-weight: 300;
                            gap: 1em;
                            padding: 1em;
                            width: 100%;

                            .block-header {
                                @include flex-row(flex-start, flex-start);
                                width: 100%;

                                .title {
                                    font-size: 1.5em;
                                    font-weight: 400;
                                }

                                .completed {
                                    border-radius: .5em;
                                    display: flex;
                                    font-size: .75em;
                                    font-weight: 400;
                                    margin-left: auto;
                                    opacity: 0;
                                    padding: 0 1em;
                                    transition: opacity .300s ease-in-out;

                                    &.visible {
                                        opacity: 1;
                                    }
                                }
                            }

                            .block-body {
                                @include flex-row(center, center);
                                font-size: 1em;
                                font-weight: 300;
                                gap: 1em;
                                width: 100%;

                                .details {
                                    @include flex-col(flex-start, flex-start);
                                    gap: .5em;
                                    width: 100%;

                                    .detail {
                                        @include flex-row(center, flex-start);
                                        gap: .75em;
                                        width: 100%;

                                        .result, .goal {
                                            font-size: 1em;
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                        }

                        .stand-up {
                            .block-header {
                                .completed {
                                    background-color: var(--activity-stand-up-fade);
                                    border: 2px solid var(--activity-stand-up);
                                    color: var(--activity-stand-up-hover);
                                }
                            }

                            .block-body {
                                .details {
                                    .wrapper {
                                        @include flex-col();

                                        .hours {
                                            @include flex-row(flex-start, center);
                                            gap: 1px;

                                            .hour {
                                                border-radius: 4px;
                                                height: 32px;
                                                width: 8px;

                                                &.up {
                                                    background-color: var(--activity-stand-up);

                                                    &:hover {
                                                        background-color: var(--activity-stand-up-hover);
                                                    }
                                                }

                                                &.down {
                                                    background-color: var(--activity-stand-down);

                                                    &:hover {
                                                        background-color: var(--activity-stand-down-hover);
                                                    }
                                                }
                                            }
                                        }

                                        .graduations {
                                            @include flex-row(flex-start, flex-start);
                                            font-size: .5em;
                                            height: 2em;
                                            width: 100%;

                                            .quarter {
                                                border-left: 1px solid var(--gradient-ardoise-60);
                                                color: var(--gradient-ardoise-60);
                                                height: 2em;
                                                flex: 1;
                                                padding-left: .25em;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .move {
                            .block-header {
                                .completed {
                                    background-color: var(--activity-move-fade);
                                    border: 2px solid var(--activity-move);
                                    color: var(--activity-move-light);
                                }
                            }

                            .block-body {

                                .details {
                                    .detail {
                                        // Supporté seulement par Safari (9+) et Chrome (111+) pour le moment
                                        //&:nth-child(2 of .detail) {
                                        &:nth-child(2) {
                                            border-radius: .25em;
                                            flex-direction: column;
                                            gap: 0;
                                            padding: .125em .5em;
                                            background-color: var(--gradient-ardoise-40);
                                            margin-left: -.5em;
                                            transition: background-color 1s ease-in-out;
                                        }
                                    }
                                }
                                .result, .steps, .distance {
                                    position: relative;

                                    span {
                                        cursor: pointer;
                                    }

                                    input {
                                        background-color: var(--gradient-red-90);
                                        border: 1px solid var(--activity-move);
                                        border-radius: .25em;
                                        display: none;
                                        font-size: 1em;
                                        font-weight: 400;
                                        inset: -.125em 0 -.125em -.5em;
                                        padding: .5em;
                                        position: absolute;

                                        &.visible {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }

                        .exercice {
                            .block-header {
                                .completed {
                                    background-color: var(--activity-exercice-fade);
                                    border: 2px solid var(--activity-exercice);
                                    color: var(--activity-exercice);
                                }
                            }

                            .block-body {
                                .result {
                                    position: relative;

                                    span {
                                        cursor: pointer;
                                    }

                                    input {
                                        background-color: var(--gradient-green-90);
                                        border: 1px solid var(--activity-exercice);
                                        border-radius: .25em;
                                        display: none;
                                        font-size: 1em;
                                        font-weight: 400;
                                        inset: -.125em 0 -.125em -.5em;
                                        padding: .5em;
                                        position: absolute;

                                        &.visible {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }

                        .progress {
                            @include flex-row(center, center);
                            background-color: var(--gradient-ardoise-10);
                            border-radius: 50%;
                            height: 4em;
                            position: relative;
                            width: 4em;

                            .circle {
                                @include flex-row(center, center);
                                //background: conic-gradient(var(--gradient-ardoise-60) 0%, var(--gradient-ardoise-60) 1%, #000 1%);
                                border-radius: 50%;
                                flex-shrink: 0;
                                height: 3.75em;
                                transition: background 1s;
                                width: 3.75em;

                                .percentage {
                                    @include flex-row(center, center);
                                    background-color: var(--gradient-ardoise-30-alpha-90);
                                    border-radius: 50%;
                                    color: var(--gradient-ardoise-80);
                                    height: 3em;
                                    width: 3em;
                                }
                            }

                            .circle-start, .circle-end {
                                background-color: var(--gradient-ardoise-60);
                                border-radius: 50%;
                                height: 6px;
                                position: absolute;
                                width: 6px;
                            }

                            .circle-end {
                                background-color: transparent;
                                border-bottom: 1px solid transparent;
                                border-left: 1px solid transparent;
                                border-right: 1px solid var(--gradient-ardoise-20);
                                border-top: 1px solid var(--gradient-ardoise-20);
                                height: 8px;
                                width: 8px;

                                > div {
                                    border-radius: 50%;
                                    height: 100%;
                                }
                            }

                            &.stand-up {
                                .circle {
                                    background-color: var(--activity-stand-up);
                                }

                                .circle-start {
                                    background-color: var(--activity-stand-up);
                                }

                                .circle-end {
                                    > div {
                                        background-color: var(--activity-stand-up);
                                    }
                                }
                            }

                            &.move {
                                .circle {
                                    background-color: var(--activity-move);
                                }

                                .circle-start {
                                    background-color: var(--activity-move);
                                }

                                .circle-end {
                                    > div {
                                        background-color: var(--activity-move);
                                    }
                                }
                            }

                            &.exercice {
                                .circle {
                                    background-color: var(--activity-exercice);
                                }

                                .circle-start {
                                    background-color: var(--activity-exercice);
                                }

                                .circle-end {
                                    > div {
                                        background-color: var(--activity-exercice);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.tool-tips {
    @include flex-col(center, revert);
    height: 4em;
    left: 0;
    opacity: 0;
    position: absolute;
    top: -5em;
    transition: opacity .125s;
    z-index: 1000;

    &.show {
        opacity: 1;
    }

    &.masked {
        display: none;
    }

    .body {
        @include flex-row();
        background-color: var(--gradient-ardoise-10);
        border-radius: .25em;
        color: var(--gradient-ardoise-80);
        padding: .5em 1em;
        z-index: 2;
    }

    .tail {
        background-color: var(--gradient-ardoise-10);
        border-radius: .125em;
        min-height: 1em;
        rotate: 45deg;
        translate: 0 -.55em;
        width: 1em;
        z-index: 1;
    }
}

@media (min-width: 1600px) {
    main {
        .recent-activity {
            .days {
                .day {
                    .activity-of-the-day {
                        .move, {
                            .block-body {
                                .details {
                                    .detail {
                                        // Supporté seulement par Safari (9+) et Chrome (111+) pour le moment
                                        //&:nth-child(2 of .detail) {
                                        &:nth-child(2) {
                                            flex-direction: row !important;
                                            gap: .75em !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    .days {
        color: var(--gradient-ardoise-90);
    }
}