@import "./_variables.scss";

.activity {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-start: 3rem;

    .header {
        background-color: var(--gradient-ardoise-20);
        border-radius: 1em;
        color: var(--gradient-ardoise-70);
        height: 20em;
        overflow: hidden;
        position: relative;
        transition: background-color 1s ease-in-out;
        width: 100%;

        &.fade-bg {
            background-color: var(--gradient-ardoise-90-alpha-20);
        }

        h1 {
            color: var(--gradient-ardoise-60);
            font-size: 4em;
            font-weight: bold;
            opacity: 1;
            position: absolute;

            &.typed {
                align-items: center;
                color: var(--gradient-ardoise-10);
                display: flex;
                inset: 0;
                justify-content: center;
                position: absolute;
            }
        }

        .animated-h1 {
            align-items: center;
            color: var(--gradient-ardoise-50);
            display: flex;
            justify-content: center;
            opacity: 1;
            position: absolute;
            z-index: 1;

            .part {
                font-size: 4em;
                font-weight: bold;
            }
        }

        .backdrop {
            align-items: flex-end;
            background-image: url("../images/activity-header.jpeg");
            background-position: center;
            background-size: cover;
            border-radius: 1em;
            display: flex;
            inset: 0;
            justify-content: flex-start;
            mix-blend-mode: luminosity;
            opacity: .75;
            padding: 2em;
            position: absolute;
            transition: translate 3s ease-in-out;

            .name {
                color: var(--gradient-ardoise-10);
                font-size: 3em;
                font-weight: bold;
                text-shadow: 0 0 8px var(--gradient-ardoise-90);
                z-index: 1;
            }

            &.right {
                translate: 100% 0;
            }

            &.left {
                translate: -100% 0;
            }
        }

        .link {
            display: block;
            inset: 0;
            position: absolute;
            transition: translate 3s ease-in-out;

            &.right {
                translate: 100% 0;
            }

            &.left {
                translate: -100% 0;
            }
        }

        .clock {
            left: unset;
            right: 1em;

            .face {
                background-color: var(--gradient-ardoise-60-alpha-50);

                .number {
                    color: var(--gradient-ardoise-10);
                }

                .unit {
                    background-color: var(--gradient-ardoise-10);
                }

                .warning {
                    background: conic-gradient(
                            var(--gradient-red-0) 0%,
                            var(--gradient-red-0) 75%,
                            var(--gradient-red-50-alpha-50) 100%);
                }
            }

            .username, .time {
                color: var(--gradient-ardoise-10);
                font-weight: 400;
            }

            .hands {
                border: 1px solid var(--gradient-ardoise-10);
            }
        }
    }

    .nav-breadcrumb {
        margin: 1em 0 1em auto;
    }

    main {
        align-items: center;
        color: var(--gradient-ardoise-10);
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 20em;
        width: 100%;

        .no-activity {
            font-size: 2em;
            font-weight: 300;
            margin: 0 auto;
            padding: 1em 2em;
        }

        .activity-tools {
            align-items: center;
            display: flex;
            gap: 1em;
            justify-content: space-between;
            max-width: 100%;
            width: 100%;

            .challenges {
                align-items: center;
                display: flex;
                flex-shrink: 1;
                gap: 1rem;
                justify-content: flex-start;
                margin-inline-end: auto;
                overflow-x: auto;

                .in-progress, .completed {
                    align-items: center;
                    display: flex;
                    gap: .5rem;

                    .title {
                        flex-grow: 1;
                        margin-inline-end: .5rem;
                        white-space: nowrap;
                    }

                    .wrapper {
                        flex-shrink: 0;

                        .content {
                            display: flex;
                            flex-shrink: 0;
                            gap: .25rem;

                            .challenge {
                                background-color: var(--gradient-ardoise-80);
                                border-radius: .25rem;
                                flex-shrink: 0;
                                padding: 0;
                                white-space: nowrap;

                                svg {
                                    color: var(--gradient-yellow-60);
                                }

                                a {
                                    align-items: center;
                                    display: flex;
                                    gap: .5rem;
                                    height: 100%;
                                    padding: .25rem 1rem;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .completed {
                    flex-shrink: 1;
                    overflow-x: auto;

                    .wrapper {
                        flex-shrink: 1;
                        overflow-x: auto;
                    }
                }
            }

            .activity-goals {
                margin-inline-start: auto;

                a {
                    display: block;
                    height: 100%;
                    padding: .25rem 1rem;
                    width: 100%;
                }
            }
        }

        details {
            margin-block-start: 1em;
            width: 100%;

            summary {
                background-color: var(--gradient-ardoise-60-alpha-50);
                border: 1px solid var(--gradient-ardoise-10);
                border-radius: .25em;
                cursor: pointer;
                list-style: none;
                padding-block: .25em;
                padding-inline: 1rem;
                transition: 300ms ease-in-out;

                &::-webkit-details-marker {
                    display: none
                }
            }
        }

        details[open] {
            summary {
                background-color: var(--gradient-orange-50);
            }
        }

        .form {
            background-color: var(--gradient-ardoise-60-alpha-50);
            border-radius: .25em;
            margin-bottom: 2em;
            padding: 2em;

            form {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                gap: 1em;
                justify-content: center;

                > div {
                    /*@include flex-row();*/
                    align-items: center;
                    display: flex;
                    gap: 1em;
                    justify-content: center;
                }

                input {
                    font-weight: 400;
                }
            }
        }

        .recent-activity {
            /*@include flex-col(flex-start, center);*/
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .days {
                /*@include flex-col(start, start);*/
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: flex-start;
                width: 100%;

                .day {
                    /*@include flex-col(flex-start, center);*/
                    align-items: flex-start;
                    background-color: var(--gradient-ardoise-60-alpha-50);
                    border-radius: .25em;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    justify-content: center;
                    padding: .5rem;
                    transition: background-color 300ms ease-in-out;
                    width: 100%;

                    &:hover {
                        background-color: var(--gradient-ardoise-60);

                        .activity-of-the-day {
                            .rings-of-the-day {
                                background-color: var(--gradient-ardoise-90-alpha-50);
                            }

                            .stand-up, .move, .exercise {
                                background-color: var(--gradient-ardoise-90-alpha-50);
                            }
                        }
                    }

                    &.three-rings {
                        background-color: var(--gradient-green-70-alpha-50);

                        &:hover {
                            background-color: var(--gradient-green-70);

                            .activity-of-the-day {
                                .move {
                                    .block-body {
                                        .details {
                                            .detail {
                                                &:nth-child(2 of .detail) {
                                                    background-color: var(--gradient-green-40);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .activity-of-the-day {
                            .move {
                                .block-body {
                                    .details {
                                        .detail {
                                            &:nth-child(2 of .detail) {
                                                background-color: var(--gradient-green-70);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .date {
                        font-size: 1.5em;
                        font-weight: 400;
                    }

                    .activity-of-the-day {
                        align-items: stretch;
                        display: flex;
                        gap: .5rem;
                        justify-content: center;
                        width: 100%;

                        .rings-of-the-day {
                            align-items: center;
                            aspect-ratio: 1;
                            background-color: var(--gradient-ardoise-80-alpha-50);
                            border-radius: 50% .25em .25em 50%;
                            display: flex;
                            gap: 1em;
                            height: 10em;
                            justify-content: center;
                            transition: background-color 1s ease-in-out;
                            width: 10em;

                            .drawn-rings {
                                height: 8em;
                                width: 8em;
                            }
                        }

                        .stand-up, .move, .exercise {
                            align-items: flex-start;
                            background-color: var(--gradient-ardoise-80-alpha-50);
                            border-radius: .25em;
                            display: flex;
                            flex-direction: column;
                            font-size: 1em;
                            font-weight: 300;
                            gap: 1em;
                            justify-content: flex-start;
                            padding: 1em;
                            transition: background-color 300ms ease-in-out;
                            width: 100%;

                            .block-header {
                                align-items: flex-start;
                                display: flex;
                                gap: 1em;
                                justify-content: flex-start;
                                width: 100%;

                                .title {
                                    font-size: 1.5em;
                                    font-weight: 400;
                                }

                                .completed {
                                    font-size: 1.5em;
                                    opacity: 0;
                                    transition: opacity .300s ease-in-out;

                                    &.visible {
                                        opacity: 1;
                                    }
                                }

                                .doubled {
                                    align-items: center;
                                    border-radius: 50%;
                                    color: var(--gradient-ardoise-80);
                                    display: flex;
                                    font-size: 1em;
                                    font-weight: 400;
                                    height: 1.5em;
                                    justify-content: center;
                                    margin-left: auto;
                                    opacity: 0;
                                    transition: opacity .300s ease-in-out;
                                    width: 1.5em;

                                    div {
                                        font-size: .875em;
                                    }

                                    &.visible {
                                        opacity: 1;
                                    }
                                }
                            }

                            .block-body {
                                align-items: center;
                                display: flex;
                                font-size: 1em;
                                font-weight: 300;
                                gap: 1em;
                                justify-content: center;
                                width: 100%;

                                .details {
                                    align-items: flex-start;
                                    display: flex;
                                    flex-direction: column;
                                    gap: .5em;
                                    justify-content: flex-start;
                                    width: 100%;

                                    .detail {
                                        align-items: center;
                                        display: flex;
                                        gap: .125em;
                                        justify-content: flex-start;
                                        width: 100%;

                                        .result, .goal {
                                            font-size: 1em;
                                            font-weight: 400;
                                        }
                                    }
                                }
                            }
                        }

                        .stand-up {
                            .block-header {
                                .doubled {
                                    background-color: var(--activity-stand-up);
                                }

                                .completed {
                                    color: var(--activity-stand-up);
                                }
                            }


                            .block-body {
                                .details {
                                    .detail {
                                        align-items: flex-start;
                                        display: flex;
                                        gap: 1em;
                                        justify-content: center;
                                    }

                                    .wrapper {
                                        align-items: center;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;

                                        .hours {
                                            align-items: flex-start;
                                            display: flex;
                                            gap: 2px;
                                            justify-content: center;

                                            .hour {
                                                border-radius: 4px;
                                                height: 2rem;
                                                width: 8px;

                                                &.up {
                                                    background-color: var(--activity-stand-up);

                                                    &:hover {
                                                        background-color: var(--activity-stand-up-hover);
                                                    }
                                                }

                                                &.down {
                                                    background-color: var(--activity-stand-down);

                                                    &:hover {
                                                        background-color: var(--activity-stand-down-hover);
                                                    }
                                                }
                                            }
                                        }

                                        .graduations {
                                            align-items: flex-start;
                                            display: flex;
                                            font-size: .5em;
                                            height: 2em;
                                            justify-content: flex-start;
                                            width: 100%;

                                            .quarter {
                                                border-left: 1px solid var(--gradient-ardoise-30);
                                                color: var(--gradient-ardoise-30);
                                                height: 2em;
                                                flex: 1;
                                                padding-left: .25em;
                                            }
                                        }
                                    }
                                }
                            }

                            .block-body {
                                .details {
                                    align-items: center;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    gap: 0;
                                    justify-content: space-evenly;

                                    .detail {
                                        width: unset;
                                    }

                                    .wrapper {

                                        .hours {
                                            gap: 1px;

                                            .hour {
                                                border-radius: 2px;
                                                height: 3rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .move {
                            .block-header {
                                .doubled {
                                    background-color: var(--activity-move);
                                    color: var(--gradient-ardoise-80);
                                }

                                .completed {
                                    color: var(--activity-move);
                                }
                            }

                            .block-body {

                                .details {
                                    .detail {
                                        &:nth-child(2) {
                                            border-radius: .25em;
                                            flex-direction: column;
                                            gap: 0;
                                            padding: .125em .5em;
                                            background-color: var(--gradient-ardoise-60);
                                            margin-left: -.5em;
                                            transition: background-color 300ms ease-in-out;
                                        }
                                    }
                                }

                                .result, .steps, .distance {
                                    position: relative;

                                    span {
                                        cursor: pointer;
                                    }

                                    input {
                                        background-color: var(--gradient-red-20);
                                        border: 1px solid var(--activity-move);
                                        border-radius: .25em;
                                        color: var(--gradient-ardoise-50);
                                        display: none;
                                        font-size: 1em;
                                        font-weight: 400;
                                        inset: -.125em 0 -.125em -.5em;
                                        padding: .5em;
                                        position: absolute;
                                        width: 10ch;

                                        &.visible {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }

                        .exercise {
                            .block-header {
                                .doubled {
                                    background-color: var(--activity-exercise);
                                    color: var(--gradient-ardoise-80);
                                }

                                .completed {
                                    color: var(--activity-exercise);
                                }
                            }

                            .block-body {
                                .details {
                                    .detail {
                                        flex-wrap: wrap;
                                        justify-content: center;

                                        .result {
                                            position: relative;

                                            span {
                                                cursor: pointer;
                                            }

                                            input {
                                                background-color: var(--gradient-green-10);
                                                border: 1px solid var(--activity-exercise);
                                                border-radius: .25em;
                                                color: var(--gradient-ardoise-50);
                                                display: none;
                                                font-size: 1em;
                                                font-weight: 400;
                                                inset: -.125em 0 -.125em -.5em;
                                                padding: .5em;
                                                position: absolute;

                                                &.visible {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .progress {
                            align-items: center;
                            background-color: var(--gradient-ardoise-90);
                            border-radius: 50%;
                            display: flex;
                            height: 4em;
                            justify-content: center;
                            position: relative;
                            width: 4em;

                            .circle {
                                align-items: center;
                                border-radius: 50%;
                                display: flex;
                                flex-shrink: 0;
                                height: 3.75em;
                                justify-content: center;
                                transition: background 1s;
                                width: 3.75em;

                                .percentage {
                                    align-items: center;
                                    background-color: var(--gradient-ardoise-70-alpha-90);
                                    border: 2px solid var(--gradient-ardoise-90);
                                    border-radius: 50%;
                                    color: var(--gradient-ardoise-20);
                                    display: flex;
                                    height: 3em;
                                    justify-content: center;
                                    width: 3em;
                                }
                            }

                            .circle-start, .circle-end {
                                background-color: var(--gradient-ardoise-60);
                                border-radius: 50%;
                                height: 6px;
                                position: absolute;
                                width: 6px;
                            }

                            .circle-end {
                                background-color: transparent;
                                border-bottom: 1px solid transparent;
                                border-left: 1px solid transparent;
                                border-right: 1px solid var(--gradient-ardoise-80);
                                border-top: 1px solid var(--gradient-ardoise-80);
                                height: 8px;
                                width: 8px;

                                > div {
                                    border-radius: 50%;
                                    height: 100%;
                                }
                            }

                            &.stand-up {
                                .circle {
                                    background-color: var(--activity-stand-up);
                                }

                                .circle-start {
                                    background-color: var(--activity-stand-up);
                                }

                                .circle-end {
                                    > div {
                                        background-color: var(--activity-stand-up);
                                    }
                                }
                            }

                            &.move {
                                .circle {
                                    background-color: var(--activity-move);
                                }

                                .circle-start {
                                    background-color: var(--activity-move);
                                }

                                .circle-end {
                                    > div {
                                        background-color: var(--activity-move);
                                    }
                                }
                            }

                            &.exercise {
                                .circle {
                                    background-color: var(--activity-exercise);
                                }

                                .circle-start {
                                    background-color: var(--activity-exercise);
                                }

                                .circle-end {
                                    > div {
                                        background-color: var(--activity-exercise);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .week {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

            .days {
                align-items: stretch;
                background-color: var(--gradient-ardoise-60-alpha-50);
                border-radius: .25em;
                display: flex;
                height: 16.25em;
                justify-content: space-evenly;
                overflow: hidden;
                padding: 1em;
                width: 100%;

                &:hover {
                    background-color: var(--gradient-ardoise-60);
                }

                &.seven-rings {
                    background-color: var(--gradient-green-70-alpha-50);

                    &:hover {
                        background-color: var(--gradient-green-70);
                    }
                }

                .day {
                    height: 100%;

                    .rings-of-the-day {
                        align-items: center;
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        gap: .25em;
                        justify-content: center;

                        .drawn-rings {
                            height: 8em;
                            width: 8em;
                        }

                        .date {
                            font-weight: 400;
                        }

                        .values {
                            align-items: center;
                            background-color: var(--gradient-ardoise-90);
                            border-radius: .25em;
                            display: flex;
                            font-weight: 400;
                            gap: .5em;
                            justify-content: center;
                            padding: .25em 1em;

                            .value {
                                span {
                                    font-variant-caps: small-caps;
                                }
                            }

                            .value.move {
                                color: var(--activity-move);
                            }

                            .value.exercise {
                                color: var(--activity-exercise);
                            }

                            .value.stand-up {
                                color: var(--activity-stand-up);
                            }
                        }
                    }

                    .no-data {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;
                        width: 8.5em;
                    }
                }
            }

            .graphs {
                align-items: stretch;
                background-color: var(--gradient-ardoise-60-alpha-50);
                border-radius: .25em;
                display: flex;
                gap: 1rem;
                justify-content: flex-start;
                padding: 1em;
                width: 100%;

                &:hover {
                    background-color: var(--gradient-ardoise-60);
                }

                .graph {
                    align-items: flex-end;
                    display: flex;
                    flex-grow: 1;
                    gap: .25rem;
                    justify-content: flex-start;

                    .bar {
                        background-size: 100px 100px;
                        border-radius: .25rem;
                        flex-grow: 1;

                        &.bar-move {
                            background-color: var(--activity-move);
                            background-image: var(--activity-move-gradient);
                        }

                        &.bar-steps {
                            background-color: var(--activity-steps);
                            background-image: var(--activity-steps-gradient);
                        }

                        &.bar-distance {
                            background-color: var(--activity-distance);
                            background-image: var(--activity-distance-gradient);
                        }

                        &.bar-exercise {
                            background-color: var(--activity-exercise);
                            background-image: var(--activity-exercise-gradient);
                        }

                        &.bar-stand-up {
                            background-color: var(--activity-stand-up);
                            background-image: var(--activity-stand-up-gradient);
                        }
                    }
                }
            }
        }

        .activity-values {
            align-items: center;
            background-color: var(--gradient-ardoise-60-alpha-50);
            display: flex;
            flex-direction: column;
            inset: 0;
            justify-content: center;
            position: absolute;

            .activity-values-title {
                font-size: 1.5rem;
            }

            .activity-values-result {
                background-color: var(--gradient-ardoise-80);
                width: 20rem;
            }
        }
    }

}

.activity-challenge {

    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .challenge-tools {
            align-items: center;
            display: flex;
            gap: .5rem;
            margin-inline-start: auto;

            .challenge-tool {
                align-items: center;
                background-color: var(--gradient-ardoise-50);
                border-radius: 50%;
                color: var(--gradient-ardoise-80);
                display: flex;
                height: 2rem;
                justify-content: center;
                transition: scale 120ms ease-in-out;
                width: 2rem;

                &:hover {
                    background-color: var(--gradient-ardoise-60);
                    color: var(--gradient-ardoise-10);
                    scale: 1.25;
                }

                &:has(i[class$="trash"]) {
                    color: var(--gradient-red-50);

                    &:hover {
                        color: var(--gradient-red-60);
                    }
                }
            }
        }

        .challenge-show {
            background-color: var(--gradient-ardoise-60-alpha-50);
            border-radius: 1rem;
            color: var(--gradient-ardoise-10);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-inline: auto;
            padding: 2rem;
            position: relative;

            &.new {
                background-color: var(--gradient-orange-50-alpha-50);
                color: var(--gradient-orange-90);

                .challenge-action {
                    background-color: var(--gradient-orange-60);
                    color: var(--gradient-orange-10);
                    /*rotate: 15deg;*/
                }
            }

            &.update {
                background-color: var(--gradient-green-60-alpha-50);
                color: var(--gradient-green-10);

                .challenge-action {
                    background-color: var(--gradient-green-60);
                    color: var(--gradient-green-10);
                    /*rotate: 15deg;*/
                }
            }

            .challenge-completed,
            .challenge-action {
                align-items: center;
                background-color: var(--gradient-green-70);
                border-radius: 50%;
                color: var(--gradient-yellow-50);
                display: flex;
                font-size: clamp(2rem, 3vw, 3rem);
                height: clamp(3rem, 6vw, 8rem);
                justify-content: center;
                position: absolute;
                right: clamp(-4rem, -3vw, -.5rem);
                rotate: 3deg;
                top: clamp(-4rem, -3vw, -.5rem);
                width: clamp(3rem, 6vw, 8rem);
            }

            .challenge-show-info {
                background-color: var(--gradient-ardoise-60);
                border-radius: .5rem;
                font-size: clamp(1rem, 4vw, 3rem);
                font-weight: 100;
                line-height: 1em;
                padding: .5rem 1rem;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                > .field {
                    > label {
                        align-items: center;
                        display: flex;
                        gap: .5rem;
                        justify-content: space-between;

                        &:has(select)::after {
                            display: none;
                        }

                        > div {
                            display: flex;
                            gap: .25rem;

                            > select {
                                appearance: unset;
                                background-color: var(--form-bg);
                                border-color: var(--form-border);
                                color: var(--form-text);
                                font-weight: 100;
                                height: 2em;
                                margin: 0;
                                padding: .125em 2em .125em .25em;
                                position: relative;

                                &::after {
                                    border-bottom: .5rem solid var(--form-border);
                                    border-left: .5rem solid var(--form-border);
                                    border-right: .5rem solid transparent;
                                    border-top: .5rem solid transparent;
                                    content: "";
                                    height: .5rem;
                                    position: absolute;
                                    right: .5rem;
                                    top: .5rem;
                                    width: .5rem;
                                }
                            }
                        }
                    }

                    &.right {
                        display: flex;
                        justify-content: end;
                    }
                }
            }
        }

        table {
            background-color: var(--gradient-ardoise-40-alpha-50);
            border-radius: .5rem;
            color: var(--gradient-ardoise-90);
            font-size: 1.25rem;
            font-weight: 100;
            margin-inline: auto;
            padding: 1rem;
            width: 100%;

            thead {
                border-bottom: 1px solid var(--gradient-ardoise-90);
                font-weight: 400;
            }

            tbody {
                tr {
                    &:nth-child(odd) {
                        background-color: var(--gradient-ardoise-40);
                    }

                    &:nth-child(even) {
                        background-color: var(--gradient-ardoise-30);
                    }

                    &:hover {
                        background-color: var(--gradient-ardoise-20);
                    }
                }
            }

            th, td {
                padding: .5rem 1rem;
            }
        }
    }
}

.periods {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;

    h3, h4 {
        width: 100%;
    }

    div {
        border-radius: .25rem;
        flex-grow: 1;
        padding-block: .125rem;
        padding-inline: 1rem;
    }

    .move {
        background-color: var(--activity-move-fade);
    }

    .exercise {
        background-color: var(--activity-exercise-fade);
    }

    .stand-up {
        background-color: var(--activity-stand-up-fade);
    }
}

.activity-numbers {
    align-items: center;
    display: flex;
    gap: .5rem;
    margin-block-start: 1rem;
    max-width: 100%;

    .current-month, .last-month {
        .activity-stats {
            background-color: var(--gradient-ardoise-80-alpha-50);
            border-radius: .5rem;
            display: flex;
            flex-wrap: wrap;
            gap: .25rem;
            padding: .25rem;

            .activity-stat {
                background-color: var(--gradient-ardoise-60-alpha-50);
                border-radius: .25rem;
                color: var(--gradient-ardoise-10);
                display: flex;
                gap: .5rem;
                padding: .25rem .5rem;

                &.total {
                    background-color: var(--gradient-green-60-alpha-50);
                    color: var(--gradient-green-20);
                }

                &.average {
                    background-color: var(--gradient-orange-20);
                    color: var(--gradient-orange-90);
                }
            }
        }
    }

    &:has(.graph) {
        margin-block-start: .25rem;
    }

    .graph {
        display: flex;
        overflow-x: auto;
        padding: .125rem;

        .wrapper {
            align-items: flex-end;
            border-radius: .25rem;
            display: flex;
            gap: .0625rem;
            height: 2.5rem;
            padding: .25rem;
            transition: height 300ms ease-in-out;

            &:hover {
                height: 5rem;
            }

            &.move {
                background-color: var(--activity-move-fade);
            }

            &.exercise, &.steps, &.distance {
                background-color: var(--activity-exercise-fade);
            }

            &.stand-up {
                background-color: var(--activity-stand-up-fade);
            }

            .item-wrapper {
                align-items: flex-end;
                display: flex;
                height: 100%;

                .item {
                    background-color: var(--gradient-ardoise-80);
                    border-radius: .125rem;
                    flex-grow: 1;
                    transition: width 300ms ease-in-out;
                    width: .25rem;

                    &:hover {
                        background-color: var(--gradient-orange-50) !important;
                        width: .5rem;
                    }

                    &.move {
                        background-color: var(--activity-move);
                    }

                    &.exercise {
                        background-color: var(--activity-exercise);
                    }

                    &.steps, &.distance {
                        background-color: var(--activity-steps);
                    }

                    &.stand-up {
                        background-color: var(--activity-stand-up);
                    }
                }
            }
        }
    }

    .value-types {
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.header {
    .posters {
        inset: 0;
        position: absolute;

        .changing-poster {
            aspect-ratio: 2 / 3;
            height: 50%;
            position: absolute;
            transition: transform 450ms ease-in-out;
            width: auto;

            &.flap {
                transform: rotate3d(0, 1, 0, 90deg);
            }

            img {
                object-fit: cover;
                width: 100%;
            }

            .counter {
                align-items: center;
                background-color: var(--gradient-red-40);
                border-radius: 999px;
                bottom: 1rem;
                color: var(--gradient-red-90);
                display: flex;
                justify-content: center;
                padding: .25rem .5rem;
                position: absolute;
                right: 1rem;
            }
        }
    }
}

#activity-dialog {
    backdrop-filter: blur(.25rem);
    -webkit-backdrop-filter: blur(.25rem);
    background-color: var(--gradient-ardoise-90-alpha-80);
    border-radius: 1rem;
    border: none;
    margin-block: auto;
    margin-inline: auto;

    .content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;

        .activity-dialog-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            label {
                display: flex;
                gap: .5rem;

                input {
                    width: 5rem;
                }
            }

            menu {
                li {
                    list-style: none;
                }
            }

            .stand-up {
                .block-body {
                    .details {
                        .detail {
                            align-items: flex-start;
                            display: flex;
                            gap: 1em;
                            justify-content: center;
                        }

                        .wrapper {
                            align-items: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .hours {
                                align-items: flex-start;
                                display: flex;
                                gap: 2px;
                                justify-content: center;

                                .hour {
                                    border-radius: 4px;
                                    height: 2rem;
                                    width: 8px;

                                    &.up {
                                        background-color: var(--activity-stand-up);

                                        &:hover {
                                            background-color: var(--activity-stand-up-hover);
                                        }
                                    }

                                    &.down {
                                        background-color: var(--activity-stand-down);

                                        &:hover {
                                            background-color: var(--activity-stand-down-hover);
                                        }
                                    }
                                }
                            }

                            .graduations {
                                align-items: flex-start;
                                display: flex;
                                font-size: .5em;
                                height: 2em;
                                justify-content: flex-start;
                                width: 15rem;

                                .quarter {
                                    border-left: 1px solid var(--gradient-ardoise-30);
                                    color: var(--gradient-ardoise-30);
                                    height: 2em;
                                    flex: 1;
                                    padding-left: .25em;
                                }
                            }
                        }
                    }
                }
            }

            menu {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
                padding-top: 1rem;
                width: 100%
            }
        }
    }
}

@media (max-width: 1140px) {
    .activity {
        .nav-breadcrumb {
            display: none;
        }

        main {
            margin-block-start: 1rem;

            .recent-activity {
                .days {
                    align-items: center;

                    .day {
                        width: unset;

                        .activity-of-the-day {
                            align-items: center;
                            flex-direction: column;

                            .rings-of-the-day {
                                border-radius: 50% 50% .25rem .25rem;
                            }
                        }

                        .move, .exercise, .stand-up {
                            width: unset;

                            .block-body {
                                .details {
                                    gap: .5em;
                                    min-width: 18rem;
                                    width: unset;
                                }
                            }
                        }
                    }
                }
            }

            .week {
                .days {
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 1rem;
                    justify-content: center;
                    height: unset;
                    overflow: unset;
                    padding: 1em 0;
                }
            }

            .form {
                form {
                    > div {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    main {
        .recent-activity {
            .days {
                .day {
                    .activity-of-the-day {
                        .move, .exercise, .stand-up {
                            .block-body {
                                .details {
                                    .detail {
                                        &:nth-child(2) {
                                            flex-direction: row !important;
                                            gap: .75em !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
