//@import '~bootstrap/scss/bootstrap';
@import "variables";
@import "~highlight.js/styles/github-dark-dimmed.css";

@font-face {
    font-family: "clock Font";
    src: url("../fonts/secrcode.ttf") format("truetype");
}

@font-face {
    font-family: "red hat regular";
    src: url("../fonts/RedHatMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "red hat light";
    src: url("../fonts/RedHatMono-Light.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--gradient-mars-50);
    color: var(--gradient-mars-90);
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
    scroll-padding: 10em;
}

body {
    background: var(--mtt-body-bg);
    background-image: var(--gradient-light);
    background-attachment: fixed;
    color: var(--mtt-body-color);
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 100;
    min-height: 100vh;
    line-height: 1.5em;
    margin: 0;

    a {
        text-decoration: none;
    }

    img, picture, svg, video {
        display: block;
        max-width: 100%;
    }

    input, textarea, select, button {
        font: inherit;
        font-size: 1em;
        margin: 0;
    }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    h1, h2 {
        a {
            color: var(--gradient-ardoise-20);
            font-weight: 100;
        }
    }

    h2 {
        margin-top: .5em;
    }

    h4 {
        font-weight: 100;
    }

    p {
        margin-top: 0;
        margin-bottom: 1em;
    }

    .d-none {
        display: none;
    }

    .d-block {
        display: block;
    }

    .d-flex {
        display: flex;
    }

    .f-wrap {
        flex-wrap: wrap;
    }

    .f-gap-1 {
        gap: 1em;
    }

    .d-flex-1 {
        display: flex;
        gap: 1em;
    }

    .p-relative {
        position: relative;
    }

    .w100 {
        width: 100%;
    }

    .m-auto {
        margin: 0 auto;
    }

    .ml-auto {
        margin-left: auto;
    }
}

.flash-messages {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 119;

    .flash-message {
        align-items: center;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border: 1px solid;
        border-radius: .5em;
        display: flex;
        gap: 1em;
        //height: 3.5em;
        margin: 1em 16em;
        opacity: 1;
        padding: 1em;
        position: relative;
        transition: height 500ms ease-in-out, opacity 500ms ease-in-out, margin 500ms ease-in-out, padding 500ms ease-in-out;

        &.success {
            background-color: var(--gradient-green-40-alpha-50);
            border-color: var(--gradient-green-90);
            color: var(--gradient-green-90);
        }

        &.friendship {
            background-color: var(--gradient-ardoise-40-alpha-50);
            border-color: var(--gradient-ardoise-90);
            color: var(--gradient-ardoise-90);

            button {
                background-color: var(--gradient-ardoise-50);
                border-color: var(--gradient-ardoise-90);
                color: var(--gradient-ardoise-90);
            }
        }

        &.warning {
            background-color: var(--gradient-mars-40-alpha-50);
            border-color: var(--gradient-mars-90);
            color: var(--gradient-mars-90);
        }

        &.danger {
            background-color: var(--gradient-red-40);
            border-color: var(--gradient-red-90);
            color: var(--gradient-red-90);
        }

        button:first-child {
            margin-left: auto;
        }

        .close {
            cursor: pointer;
            position: absolute;
            right: .5em;
            top: .25em;
        }

        &.hide {
            height: 0;
            opacity: 0;
            margin: 0 1em;
            padding: 0 1em;
        }
    }
}

main {
    flex: 1;
    margin-bottom: 1em;
    //width: 100%;
}

#accept-cookies {
    background-color: var(--gradient-ardoise-10-alpha-90);
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;

    .accept-overlay {
        //background-color: hsl(346.84, 77.17%, 49.8%);
        background-color: var(--gradient-ardoise-30);
        //border: 1px solid hsl(214.29, 31.82%, 91.37%);
        border: 1px solid var(--gradient-ardoise-50);
        border-radius: .5em;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        color: var(--gradient-ardoise-90);
        margin: calc(50vh - 8em) auto;
        padding: 2em;
        width: 30em;

        .content {
            @include flex-col(flex-start, flex-start);
            max-width: 26em;
            position: relative;

            .close {
                appearance: none;
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 1em;
                outline: none;
                position: absolute;
                right: -1.5em;
                top: -1.5em;
            }
        }

        &.classic {
            bottom: 1em;
            position: fixed;
            right: 1em;
        }

        .footer {
            @include flex-col(flex-end, flex-end);
            margin-top: 1em;

            .btn-accept {
                background-color: var(--gradient-ardoise-40);
                border-color: var(--gradient-ardoise-80);
                color: var(--gradient-ardoise-90);
                leading-trim: both;
                text-edge: cap alphabetic;

                &:hover {
                    background-color: var(--gradient-ardoise-50);
                }
            }
        }
    }

    &::backdrop {
        background: var(--gradient-ardoise-30-alpha-50);
    }
}

.rgpd {
    max-width: 1200px;
}

.rgpd-header {
    background-image: url("../images/rgpd.jpg");
    background-size: cover;
    border-radius: 1em;
    height: 20em;
    margin-bottom: 2em;
    margin-top: 1em;
    width: 100%;
}

.container, .container-fluid {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.container-fluid {
    padding: 1em 0;
}

@media (min-width: 576px) {
    .container {
        //max-width: 540px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

@media (min-width: 768px) {
    .container {
        //max-width: unset;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 1024px;
        padding-left: unset;
        padding-right: unset;
    }
    .container-fluid {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1860px;
    }
}

.nav-toggler {
    @include flex-row();
    gap: 1em;
    position: fixed;
    right: 2em;
    top: 2em;
    z-index: 121;

    .toggler {
        button {
            @include flex-row();
            background: var(--gradient-ardoise-10-alpha-50);
            border: none;
            border-radius: 50%;
            cursor: pointer;
            height: 3em;
            outline: none;
            width: 3em;

            .line {
                background: #f1f1f1;
                display: block;
                height: 4px;
                position: absolute;
                transition: transform .3s ease-out, opacity .1s ease-out;
                width: 3em;
            }

            .l1 {
                transform: translateY(-.5em);
            }

            .l3 {
                transform: translateY(.5em);
            }

            &.active {

                .l1 {
                    transform: translateY(0) rotate(135deg);
                }

                .l2 {
                    opacity: 0;
                }

                .l3 {
                    transform: translateY(0) rotate(-135deg);
                }
            }
        }
    }

    .connexion {
        @include flex-row();
        display: none;
        gap: 1em;
        opacity: 0;
        transition: opacity 300ms ease-in-out;

        > a {
            background-color: var(--gradient-ardoise-30);
            border-radius: 9999px;
            padding: .125em 1em;

            &:hover {
                background-color: var(--gradient-mars-50);
                color: var(--gradient-mars-90);
            }
        }

        &.show {
            display: flex;
        }

        &.visible {
            opacity: 1;
        }
    }
}

.nav-new-menu {
    @include flex-col();
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: var(--gradient-ardoise-10-alpha-50);
    gap: 1em;
    left: 0;
    padding: 1em;
    position: fixed;
    transform: translateY(calc(-100% - 72px));
    transition: transform .3s cubic-bezier(.73, .11, .67, .84);
    width: 100vw;
    z-index: 120;

    a {
        padding: .125em 1em;

        &:hover {
            background-color: var(--gradient-mars-50);
            border-radius: 9999px;
            color: var(--gradient-mars-90);
        }
    }

    .general {
        @include flex-col(start, start);
        background-color: var(--gradient-ardoise-20-alpha-50);
        border-radius: .5em;
        padding: 1em;

        .search-movie {
            @include flex-col(start);
            margin-left: 1em;

            .label {
                margin: 0 0 .5em 1em;
            }

            .search-links {
                @include flex-row();
                margin: .25em 0 0 1em;
            }
        }

        .series-label, .series-links {
            @include flex-col(start, start);
            margin-left: 1em;
            padding: .125em 0;
        }
    }

    .user-legal {
        @include flex-col(end, start);
        gap: 1em;

        .user-links {
            @include flex-col(end, start);
            background-color: var(--gradient-ardoise-20-alpha-50);
            border-radius: .5em;
            padding: 1em;

            .user {
                @include flex-row();
                gap: 1em;
                margin-bottom: 1em;
                margin-right: 1em;

                .thumbnail {
                    border: 2px solid var(--gradient-ardoise-80);
                    border-radius: 50%;
                    height: 2em;
                    width: 2em;

                    img {
                        border-radius: 50%;
                    }
                }
            }
        }

        .legal {
            @include flex-col(end, start);
            background-color: var(--gradient-ardoise-20-alpha-50);
            border-radius: .5em;
            padding: 0 1em 1em 1em;

            .locales {
                @include flex-row();
                margin: 1em;

                a {
                    padding: .25em;
                }

                img {
                    border: 2px solid var(--gradient-ardoise-80);
                    border-radius: 50%;
                    height: 1em;
                    width: 1em;
                }
            }
        }
    }

    .main {
        text-transform: uppercase;
        line-height: 1.5em;
    }
}

nav.active {
    transform: translateY(0);
}

.top-menu {
    @include flex-row(center, space-around);
    background-color: hsla(206deg, 50%, 24%, .25);
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 998;

    &:hover {
        background-color: hsl(206deg, 50%, 24%); /*var(--gradient-ardoise-20);*/
    }

    .top-item {
        font-weight: 600;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom-color: var(--gradient-mars-50);
        }
    }
}

@media (prefers-color-scheme: light) {
    .nav-toggler {
        .connexion {
            > a {
                background-color: var(--gradient-ardoise-100);

                &:hover {
                    background-color: var(--gradient-ardoise-40);
                    color: var(--gradient-ardoise-90);
                }
            }
        }
    }

    .nav-new-menu {
        background-color: var(--gradient-ardoise-80-alpha-50);

        a {
            &:hover {
                background-color: var(--gradient-ardoise-40);
                color: var(--gradient-ardoise-90);
            }
        }

        .general {
            background-color: var(--gradient-ardoise-80-alpha-50);
        }

        .user-legal {
            .user-links {
                background-color: var(--gradient-ardoise-80-alpha-50);

                .user {
                    .thumbnail {
                        border: 2px solid var(--gradient-ardoise-80);
                    }
                }
            }

            .legal {
                background-color: var(--gradient-ardoise-80-alpha-50);

                .locales {
                    img {
                        border: 2px solid var(--gradient-ardoise-80);
                    }
                }
            }
        }
    }
}

.nav-breadcrumb {
    --bs-breadcrumb-divider: '°';
    @include flex-row(center, start);
    background-color: hsla(206deg, 50%, 24%, .25);
    border-radius: .5em;
    height: 3em;
    margin: 1em 0;
    padding: 0 1em;
    position: sticky;
    top: 3rem;
    z-index: 50;

    &:hover {
        background-color: hsl(206deg, 50%, 24%); /*var(--gradient-ardoise-20);*/
    }

    a {
        text-decoration: none;
    }

    .menu {
        color: var(--gradient-ardoise-90);
        cursor: pointer;
        height: 2em;
        margin: 0 2em 0 1em;
        position: relative;
        width: 2em;
        z-index: 52;

        &:before {
            content: '°';
            position: absolute;
            left: -1em;
            top: .5em;
            width: 1em;
        }

        &:after {
            content: '°';
            position: absolute;
            right: -1em;
            text-align: right;
            top: .5em;
            width: 1em;
        }

        &:hover {
            .menu-items {
                display: block;
            }
        }

        img {
            border: 2px solid var(--gradient-ardoise-80);
            border-radius: .5em;
            height: 2em;
            object-fit: cover;
            width: 2em;
        }

        .menu-items {
            background-color: hsl(206deg, 50%, 24%); /*var(--gradient-ardoise-30);*/
            border-radius: .25em;
            box-shadow: 0 0 1em var(--gradient-ardoise-10-alpha-50);
            display: none;
            left: -6em;
            overflow: hidden;
            position: absolute;
            top: 2em;
            //width: 15em;
            z-index: 53;

            .menu-item {
                white-space: nowrap;
                width: 100%;

                a {
                    color: var(--gradient-ardoise-90);
                    display: flex;
                    font-weight: 100;
                    gap: .5em;
                    padding: 0 1em;
                    width: 100%;
                    white-space: nowrap;

                    &:hover {
                        background-color: var(--gradient-mars-50);
                        color: var(--gradient-mars-90);
                    }

                    div:first-child {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        width: 2em;
                    }

                    .icon:has(.fa-brands.fa-youtube),
                    .icon:has(.fa-solid.fa-magnifying-glass) {
                        color: var(--gradient-red-50);
                    }
                }
            }
        }
    }

    .breadcrumb {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0 0;

        .breadcrumb-item {
            height: 100%;

            a {
                align-items: center;
                display: flex;
                height: 100%;
                padding: 0 .5em;

                &:hover, &:focus, &:active {
                    background-color: var(--gradient-mars-50);
                    color: var(--gradient-mars-90);
                    outline-color: var(--gradient-mars-50);

                    span {
                        color: var(--gradient-mars-80);
                    }
                }
            }

            ol {
                @include flex-row(center, start);
                height: 100%;
            }

            span {
                color: var(--gradient-ardoise-90);
                font-size: .875em;
                font-variant: small-caps;
                font-weight: 100;
            }

            + .breadcrumb-item {
                &::before {
                    float: left;
                    height: 100%;
                    padding: 1rem 0;
                    color: #6c757d;
                    content: var(--bs-breadcrumb-divider, "/");
                }
            }

            &.active {
                align-items: center;
                color: var(--gradient-ardoise-90);
                display: flex;
                height: 100%;
                max-width: 50%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:before {
                color: var(--gradient-ardoise-60);
            }

        }

        .bracket {
            align-items: center;
            color: var(--gradient-ardoise-30);
            display: flex;
            gap: .5em;
            height: 100%;
            padding: 0 .5em;
        }
    }

    .choose-collection {
        @include flex-row(center, start);
        margin-left: auto;

        label:has(select) {
            @include customSelect;
        }

        .switch {
            @include switcher(var(--gradient-green-30), var(--gradient-ardoise-80))
        }
    }
}

@media (prefers-color-scheme: light) {
    .nav-breadcrumb {
        background-color: var(--light-theme-button);
        //background-color: var(--gradient-ardoise-40-alpha-50);
        color: var(--gradient-ardoise-100);
        font-weight: bold;

        &:hover {
            background-color: var(--light-theme-hover);
            //background-color: var(--gradient-ardoise-40);
        }

        a {
            color: var(--light-theme-text);
        }

        .breadcrumb {

            .breadcrumb-item {
                span {
                    color: var(--light-theme-text);
                    font-weight: 500;
                }

                &.active {
                    color: var(--light-theme-text);
                }

                &:before {
                    color: var(--light-theme-text);
                }

            }

            .bracket {
                color: var(--light-theme-text);
            }

            .menu {
                color: var(--light-theme-text);

                img {
                    border: 2px solid var(--light-theme-bg);
                }

                .menu-items {
                    background-color: var(--light-theme-button);

                    .menu-item {

                        a {
                            color: var(--light-theme-text);

                            &:hover {
                                background-color: var(--light-theme-hover);
                                color: var(--light-theme-bg);
                            }
                        }
                    }
                }
            }

            .tag-button {
                background-color: var(--gradient-purple-90);
                border: 1px solid var(--gradient-purple-50);

                a {
                    color: var(--gradient-purple-20);
                }

                &:hover {
                    background-color: var(--gradient-purple-60);
                }
            }

            .choose-collection {

                label:has(select) {

                    &::after {
                        border-bottom: 2px solid var(--gradient-ardoise-80);
                        border-right: 2px solid var(--gradient-ardoise-80);
                    }

                    select {
                        background: var(--gradient-ardoise-90);
                        color: var(--gradient-ardoise-20);
                    }
                }
            }
        }
    }
}

.home-header {
    background-color: hsla(206deg, 50%, 95%, .2);
    background-image: url("../images/mytvtime-light.png");
    background-position: center center;
    background-size: cover;
    height: clamp(18em, 20vw, 22em);
    margin: 0 0 1em 0;
    opacity: .75;
    position: relative;
    transition: background-position 1s;
    width: 100%;

    &:hover {
        background-color: hsla(206deg, 50%, 75%, .4);
    }

    .posters {
        @include flex-row();
        background-color: var(--gradient-ardoise-10-alpha-50);
        border: 2px solid;
        height: 17.5em;
        left: 14.5em;
        opacity: 0;
        overflow: clip;
        position: absolute;
        top: 1em;
        transition: opacity 1s ease-in-out;
        width: 12em;

        &.second {
            left: 27.5em;
        }

        &.third {
            left: 40.5em;
        }

        &.fade {
            opacity: 1;
        }

        img {
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: transform 5s linear, src 1s ease-in-out;

            &.end {
                transform: scale(1.5);
            }
        }
    }
}

.clock {
    @include flex-row();
    height: 200px;
    left: 1em; //4em;
    opacity: 0;
    position: absolute;
    top: 1em; //clamp(1em, .25vw, 4em);
    transition: opacity 1s ease-in-out;
    width: 200px;

    &.fade {
        opacity: 1;
    }

    .face {
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        background-color: var(--gradient-ardoise-10-alpha-50);
        border-radius: 1em;
        height: 200px;
        position: relative;
        width: 200px;

        .unit {
            background-color: var(--gradient-ardoise-80);
            height: 4px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform-origin: 50% 0;
            width: 1px;

            &.unit-big {
                height: 12px;
                width: 2px;
            }
        }

        .warning {
            background: conic-gradient(hsla(0, 0, 0, 0) 0%, hsla(0, 0, 0, 0) 83%, var(--gradient-red-50-alpha-50) 83%, var(--gradient-red-50-alpha-50) 100%);
            border-radius: 50%;
            height: 148px;
            left: 50%;
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 300ms ease-in-out;
            width: 148px;

            &.visible {
                opacity: 1;
            }
        }

        .number {
            color: var(--gradient-ardoise-80);
            font-family: "red hat light", monospace;
            font-size: 1em;
            font-weight: 300;
            left: 50%;
            position: absolute;
            top: 50%;
        }

        .number-1 {
            transform: rotate(30deg) translate(0, -87px) rotate(-30deg) translate(-50%, -50%);
        }

        .number-2 {
            transform: rotate(60deg) translate(0, -87px) rotate(-60deg) translate(-50%, -50%);
        }

        .number-3 {
            transform: rotate(90deg) translate(0, -87px) rotate(-90deg) translate(-50%, -50%);
        }

        .number-4 {
            transform: rotate(120deg) translate(0, -87px) rotate(-120deg) translate(-50%, -50%);
        }

        .number-5 {
            transform: rotate(150deg) translate(0, -87px) rotate(-150deg) translate(-50%, -50%);
        }

        .number-6 {
            transform: rotate(180deg) translate(0, -87px) rotate(-180deg) translate(-50%, -50%);
        }

        .number-7 {
            transform: rotate(210deg) translate(0, -87px) rotate(-210deg) translate(-50%, -50%);
        }

        .number-8 {
            transform: rotate(240deg) translate(0, -87px) rotate(-240deg) translate(-50%, -50%);
        }

        .number-9 {
            transform: rotate(270deg) translate(0, -87px) rotate(-270deg) translate(-50%, -50%);
        }

        .number-10 {
            transform: rotate(300deg) translate(0, -87px) rotate(-300deg) translate(-50%, -50%);
        }

        .number-11 {
            transform: rotate(330deg) translate(0, -87px) rotate(-330deg) translate(-50%, -50%);
        }

        .number-12 {
            transform: rotate(360deg) translate(0, -87px) rotate(-360deg) translate(-50%, -50%);
        }
    }

    .username {
        font-size: 0.875em;
        font-weight: 500;
        left: 50%;
        position: absolute;
        top: 50px;
        transform: translate(-50%, 0);
    }

    .time, .date {
        color: var(--gradient-ardoise-90);
        font-family: 'red hat regular', monospace;
        font-size: 1.5em;
        font-weight: 100;
        left: 50%;
        position: absolute;
        top: 14rem;
        transform: translate(-50%, -50%);
    }

    .date {
        background-color: var(--gradient-ardoise-90);
        border-radius: .125em;
        color: var(--gradient-ardoise-20);
        font-family: unset;
        font-weight: 300;
        leading-trim: both;
        padding: .25em .5em;
        text-edge: cap alphabetic;
        top: 16rem;
    }

    .hands {
        border: 1px solid var(--gradient-ardoise-50);
        border-radius: 1em;
        height: 100%;
        inset: 0;
        position: absolute;
        width: 100%;

        .hand {
            border-radius: 999px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform-origin: 50% 100%;

            &.hour {
                background-color: var(--gradient-ardoise-20);
                border: 2px solid var(--gradient-yellow-80);
                height: 40px;
                width: 8px;
            }

            &.minute {
                background-color: var(--gradient-ardoise-30);
                border: 2px solid var(--gradient-yellow-80);
                height: 66px;
                width: 6px;
            }

            &.second {
                background-color: var(--gradient-yellow-50);
                height: 72px;
                width: 4px;
            }

            &.fluid {
                transition: transform 1s linear;
            }
        }

        .center {
            background-color: var(--gradient-ardoise-20);
            border: 2px solid var(--gradient-yellow-80);
            border-radius: 50%;
            height: 20px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
        }
    }

    .close, .goal-achieved {
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        line-height: 2em;
        opacity: 0;
        position: absolute;
        transition: opacity 300ms ease-in-out;
        top: .5em;
    }

    .close {
        background-color: var(--gradient-ardoise-30-alpha-50);
        color: var(--gradient-ardoise-80);
        right: .5em;
    }

    .goal-achieved {
        background-color: var(--gradient-green-50);
        color: var(--gradient-ardoise-30-alpha-50);
        left: .5em;
        width: 1em;

        i {
            transform: scale(.75);
        }

        &.false {
            background-color: var(--gradient-mars-50);
        }
    }

    &:hover {
        .close, .goal-achieved {
            opacity: 1;
        }
    }
}

.home-footer {
    @include flex-100(center, space-evenly);
    background-color: var(--light-theme-button);
    border-radius: 1em;
    color: var(--light-theme-text);
    height: 3em;
    margin: auto 0 1em 0;

    .logo {
        @include flex-row(center, end);
        background-image: url("../../public/apple-touch-icon.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 2em 2em;
        height: 2em;
        padding-left: 3em;
    }

    a {
        color: var(--light-theme-text);
    }


    .powered {
        background-image: url("../images/the-movie-db.svg");
        background-size: cover;
        height: 1em;
        width: 12em;

        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}

@media (prefers-color-scheme: dark) {

    .home-footer {
        background-color: var(--gradient-ardoise-30-alpha-50);
        color: var(--gradient-ardoise-80);

        a {
            color: var(--gradient-ardoise-80);
        }
    }
}


.home-list {
    @include flex-100(start, start);
    overflow-x: scroll;

    .wrapper {
        @include flex-row(start, start);
        gap: 1em;

        .home-discover {
            width: 10em;

            .profile {
                position: relative;

                .known-for {
                    @include flex-100(center, space-around);
                    bottom: 0;
                    height: 9em;
                    left: 0;
                    overflow-x: hidden;
                    position: absolute;

                    a {
                        justify-content: center;

                        img {
                            border: 2px solid var(--gradient-ardoise-90);
                            border-radius: .25em;
                            height: 8em;
                            object-fit: cover;
                            transition: scale 150ms ease-in-out;
                            width: 5em;

                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.user-menu {
    margin-left: auto;
}

@media (max-width: 1024px) {

    .user-menu {
        margin-left: 0;
    }
}

.user-menu-img {
    border: 2px solid var(--gradient-ardoise-70);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.genres {
    @include flex-row(center, flex-start);
    flex-wrap: wrap;
    margin-bottom: 2em;
    padding-left: 1.25em;

    .genre {
        border: .125em solid var(--gradient-ardoise-50);
        border-radius: 1em;
        cursor: pointer;
        margin: .25em;
        padding: 0 .5em;
    }

    .active {
        background-color: var(--gradient-ardoise-30);
        border-color: #5e9ac5;
        color: var(--gradient-ardoise-90);
    }
}

.search {
    @include flex-row();
    flex-wrap: wrap;
    margin-bottom: 1em;

    .search-label {
        margin-right: 1em;
    }

    .date_select,
    .sort_select {
        @include flex-row();
        margin: 1em;

        .label {
            margin-right: 1em;
        }
    }
}

.pinned-collection {
    background-color: var(--gradient-ardoise-30-50);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    height: 18em;
    opacity: 0;
    overflow-x: scroll;
    padding: .5em;
    transition: opacity .3s ease-in-out, height .3s ease-in-out;
    width: 100%;

    &.show {
        opacity: 1;
    }

    &.mini {
        height: 1em;
    }

    &.hide {
        display: none;
    }

    .wrapper {
        @include flex-row(start, start);
        gap: 1em;
        margin: 0 auto;

        a {
            .movie {
                @include flex-col(center, start);
                background-color: var(--gradient-ardoise-40);
                border-radius: .5em;
                color: var(--gradient-ardoise-80);
                height: 14em;
                isolation: isolate;
                width: 8em;

                img {
                    border-radius: .5em .5em 0 0;
                    height: 12em;
                    object-fit: cover;
                    width: 8em;
                }

                .title {
                    @include flex-100();
                    font-size: .75em;
                    font-weight: 100;
                    height: 3em;
                    line-height: 1em;
                    overflow: scroll;
                    padding: 0 .25em;
                    text-align: center;
                }
            }
        }
    }
}

.about-pinned-movie {
    @include flex-row(start, start);
    background-color: var(--gradient-ardoise-10);
    border-radius: 1em;
    color: var(--gradient-ardoise-80);
    font-weight: 100;
    height: 24em;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s ease-in-out;
    z-index: 100;

    .content {
        @include flex-row(start, start);
        height: 24em;
        position: relative;

        img {
            border-radius: 1em 0 0 1em;
            height: 24em;
            object-fit: cover;
            width: 16em;
        }

        .infos {
            @include flex-col(start, center);
            height: 100%;
            min-width: 20em;
            max-width: 30em;
            padding: 1em;
            position: relative;

            div:last-child {
                margin-top: 1em;
                max-height: 18em;
                overflow: scroll;
            }
        }

        .shade {
            background: linear-gradient(rgba(0, 0, 0, 0), var(--gradient-ardoise-10) 75%);
            bottom: 0.5em;
            height: 3em;
            left: 16em;
            position: absolute;
            width: calc(100% - 16em);
        }
    }

    &.hide {
        display: none;
    }

    &.transparent {
        opacity: 0;
    }

    &.show {
        display: flex;
        opacity: 1;
    }
}

.home-discovers {
    @include flex-col();
    font-weight: 100;
    width: 100%;

    .content {
        @include flex-row(stretch, space-evenly);
        flex-wrap: wrap;
        gap: 1em;
        margin: 1em 0;

        .see-more {
            @include flex-100;
        }
    }

    .footer-infos {
        @include flex-col();
        margin-top: 1em;

        div {
            color: #142b34;
            font-size: .8em;
            padding: 0;
        }
    }
}

.home-discover {
    @include flex-col();
    font-size: .75em;
    font-weight: 100;
    position: relative;
    width: 100%;

    a {
        @include flex-col(center, unset);
        height: 100%;
        text-decoration: none;
        width: 100%;

        img {
            aspect-ratio: 2 / 3;
            border-radius: .5em;
            object-fit: cover;
            width: 100%;
        }

        .title {
            color: var(--gradient-ardoise-30);
            line-height: 1em;
            margin-top: auto;
            padding-top: .5em;
            text-align: center;
        }

        .date {
            color: var(--gradient-ardoise-20);
            text-align: center;
        }

        .logo {
            border: 4px solid var(--gradient-ardoise-70);
            border-radius: 50%;
            height: auto;
            position: absolute;
            right: -.5em;
            top: -.5em;
            width: 2em;
        }
    }

    .user {
        @include flex-row(center, center);
        position: absolute;
        right: 1em;
        top: 1em;

        .has-been-seen {
            @include flex-row();
            background-color: var(--gradient-ardoise-20);
            border-radius: 50%;
            color: var(--gradient-ardoise-80);
            cursor: pointer;
            height: 1.35em;
            padding: 0 .2em;
            width: 1.35em;

            &.yes {
                color: var(--gradient-green-60);
            }
        }

        .rating {
            @include rating();
        }
    }

    .my-collections {
        @include flex-col();
        position: absolute;
        right: -1.25em;
        top: 4em;

        .my-collection {
            margin-top: -1em;

            a {
                height: 3em;
                transition: all .125s ease-out;
                width: 3em;

                img {
                    border: 2px solid #11d08e;
                    border-radius: 50%;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}

.show-code {
    @include dialog3(80%);
}

.under-construction {
    @include flex-row();
    //animation: moving 20s infinite linear;
    background: var(--under-construction);
    background-position-x: 0;
    border-radius: 999px;
    padding: .5em;

    .content {
        background-color: hsla(50, 100%, 50%, .5);
        border-radius: 999px;
        color: var(--gradient-red-20);
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.2em;
        padding: 1em 2em;
        text-align: center;
        width: 336px;
    }

    @keyframes moving {
        100% {
            background-position-x: 345px;
        }
    }
}

@media (min-width: 576px) { /* 540 */
    .home-discover {
        width: 18em;
    }
    .home-list {
        .wrapper {
            .home-discover {
                width: 18em;

            }
        }
    }
}

@media (min-width: 768px) { /* 720 */
    .nav-menu {
        > a {
            font-size: 1.5em;
        }
    }

    .nav-new-menu {
        align-items: start;
        flex-direction: row;
        font-size: 1.5em;
    }

    .home-header {
        border-radius: 1em;
        margin: 1em 0;
    }

    .home-discovers {
        .content {
            margin: 2em 0;
        }

        .footer-infos {
            flex-direction: row;
            margin-top: unset;

            div {
                padding: 8px;
            }
        }
    }
}

@media (min-width: 992px) { /* 960 */
    .content {
        justify-content: space-between;
    }
}

@media (prefers-color-scheme: dark) {

    :root {
        --bs-body-bg: var(--gradient-ardoise-20);
        --bs-body-color: var(--gradient-ardoise-90);
    }

    body {
        background-image: var(--gradient-dark);
    }

    a, .nav-link {
        color: var(--gradient-ardoise-80);

        &:hover {
            color: var(--gradient-mars-60);
        }

        &:visited {
            color: var(--gradient-ardoise-80);
        }

        &:focus {
            color: var(--gradient-mars-60);
        }
    }

    .container,
    .container-fluid {
        background-color: transparent;
    }

    .dropdown-menu {
        color: var(--gradient-ardoise-80);
        background-color: var(--gradient-ardoise-30);
    }

    .dropdown-item-text {
        color: var(--gradient-ardoise-80);
    }

    h1, h2, {
        color: var(--gradient-ardoise-80);

        a {
            color: var(--gradient-ardoise-80);
        }
    }

    .nav-breadcrumb {
        .breadcrumb {
            .bracket {
                color: var(--gradient-ardoise-80);
            }
        }
    }

    .home-header {
        background-color: hsla(206deg, 50%, 24%, .2);
        background-image: url("../images/mytvtime-dark.png");

        &:hover {
            background-color: hsl(206deg, 50%, 24%);
        }

    }

    .genres {
        .genre {
            border: .125em solid var(--gradient-ardoise-50);
        }

        .active {
            background-color: var(--gradient-ardoise-90);
            border-color: #5e9ac5;
            color: var(--gradient-ardoise-10);
        }
    }

    .home-discover {
        a {
            .title, .date {
                color: var(--gradient-ardoise-80);
            }
        }
    }

    .home-discovers {
        .footer-infos {
            div {
                color: var(--gradient-ardoise-80);
            }
        }
    }

    .episode {
        .detail {
            .guests {
                .guest {
                    .profile {
                        background-image: url("../images/profile_dark.jpg");
                    }
                }
            }
        }
    }

    .modal-content {
        background-color: var(--gradient-ardoise-20);
    }

    .modal-header {
        border-bottom: 1px solid var(--gradient-ardoise-30);
    }

    .show-code {
        .overlay {
            background-color: var(--gradient-ardoise-20);
            border: 1px solid var(--gradient-ardoise-50);
            color: var(--gradient-ardoise-80);

            .header {
                .close {
                    color: var(--gradient-ardoise-80);
                }
            }
        }
    }

    .home-footer {
        background-color: var(--gradient-ardoise-30-alpha-50);
        color: var(--gradient-ardoise-80);
    }
}

.login, .register {
    @include flex-row();
    background: var(--mtt-body-bg);
    background: linear-gradient(225deg, var(--mtt-body-bg) 0%, var(--mtt-body-bg-gradiant) 100%);
    background-attachment: fixed;
    color: var(--mtt-body-color);
    height: 100vh;
    width: 100vw;

    .login-dialog, .register-dialog {
        background-color: var(--gradient-ardoise-100);
        border: 1px solid var(--gradient-ardoise-60);
        border-radius: calc(0.5rem - 1px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25), 0 0 100px rgba(0, 0, 0, 0.25);
        color: var(--gradient-ardoise-20);
        font-weight: 200;

        .header {
            background-color: var(--gradient-ardoise-90);
            border-bottom: 1px solid var(--gradient-ardoise-60);
            border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
            padding: .5em 1em;
            margin-bottom: 0;
        }

        .body {
            border-bottom: 1px solid var(--gradient-ardoise-60);
            padding: 1em;

            .control {
                > div {
                    @include flex-col(start, start);
                    margin-bottom: 1em;
                    width: 20em;

                    .error {
                        color: darkred;
                    }

                    label {
                        font-weight: 200;
                        margin-bottom: .25em;
                    }

                    input {
                        appearance: unset;
                        border: none;
                        border-bottom: 1px solid var(--gradient-ardoise-70);
                        font-weight: 200;
                        outline-offset: 1px;
                        width: 100%;
                    }
                }
            }

            .checkbox {
                > div {
                    @include flex-100(center, start);
                    flex-direction: row-reverse;

                    label {
                        padding-left: .5em;
                    }
                }
            }

            .input {
                @include flex-col(start, start);
                margin-bottom: .5em;
                width: 20em;

                label {
                    color: var(--gradient-ardoise-40);
                    margin-bottom: .25em;
                    width: 100%;
                }

                input {
                    appearance: unset;
                    border: none;
                    border-bottom: 1px solid var(--gradient-ardoise-70);
                    font-weight: 200;
                    outline-offset: 1px;
                    width: 100%;
                }
            }
        }

        .footer {
            @include flex-100(end, end);
            background-color: var(--gradient-ardoise-90);
            border-radius: 0 0 calc(0.5rem - 1px) calc(0.5rem - 1px);
            padding: .5em 1em;

            .btn {
                background-color: var(--gradient-ardoise-80);
                border: 1px solid var(--gradient-ardoise-40);
                color: var(--gradient-ardoise-0);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .login, .register {
        .login-dialog, .register-dialog {
            background-color: var(--gradient-ardoise-30);
            border-color: var(--gradient-ardoise-0);
            color: var(--gradient-ardoise-90);

            .header {
                background-color: var(--gradient-ardoise-20);
                border-bottom-color: var(--gradient-ardoise-40);
            }

            .body {
                border-bottom-color: var(--gradient-ardoise-40);

                .control {
                    > div {
                        label {
                            color: var(--gradient-ardoise-80);
                        }

                        input {
                            background-color: var(--gradient-ardoise-30);
                            border-color: var(--gradient-ardoise-60);
                            color: var(--gradient-ardoise-90);
                        }
                    }
                }

                .checkbox {
                    > div {
                        label {
                            color: var(--gradient-ardoise-80);
                        }
                    }
                }

                .input {
                    label {
                        color: var(--gradient-ardoise-80);
                    }

                    input {
                        background-color: var(--gradient-ardoise-30);
                        border-color: var(--gradient-ardoise-60);
                        color: var(--gradient-ardoise-90);
                    }
                }
            }

            .footer {
                background-color: var(--gradient-ardoise-20);

                .btn {
                    background-color: var(--gradient-ardoise-40);
                    border: 1px solid var(--gradient-ardoise-50);
                    color: var(--gradient-ardoise-90);
                }
            }
        }
    }
}
