a {
    color: #383838 !important;
    text-decoration: none;
}

h1, h1 > a, h2, h2 > a {
    color: #30393d;
}

h2 {
    margin-top: .5em;
}

.logo {
}

.logo span {
    color: #cbaa4f;
    font-size: 1em;
    font-weight: bold;
}

.home-header {
    background-color: #3d3d3d;
    background-position: top;
    background-size: cover;
    border-radius: 1em;
    display: flex;
    /*filter: sepia(.8);*/
    flex-direction: column;
    margin: 1em 0;
    width: 100%;
}

.home-header-bottom {
    display: flex;
    flex-direction: row;
    padding: 2em;
}

.home-header-top {
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em 1em 0 1em;
}

.home-footer {
}

.home-footer {
    align-items: center;
    background-color: #ca8a04; /* Symfony footer */
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0;
    padding: 1em;
    width: 100%;
}

.home-footer .logo .a {
    color: #f2f2f2 !important;
}

.connexion {
    color: #bdbdbd;
    font-weight: normal;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
}

.connexion a {
    color: #bdbdbd;
    text-decoration: none;
}

.user-menu {
    margin-left: auto;
}

@media (max-width: 992px) {

    .user-menu {
        margin-left: 0;
    }
}

.user-menu-img {
    border: 2px solid #bdbdbd;
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.user-menu-img img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.login {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.locale {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
}

.locale a {
    border: 2px solid #bdbdbd;
    border-radius: 50%;
    display: block;
    height: 2em;
    margin-right: 1em;
    width: 2em;
}

.locale a img {
    border-radius: 50%;
    display: inline;
    height: 28px; /* 2em - 4px (border) */
    width: 28px;
}

.locale li:nth-child(-n+3)::after {
    content: "|";
    font-weight: bold;
    padding-left: .2em;
}

.home-links {
    border-radius: 2em;
    display: flex;
    margin-left: auto;
}

.home-link {
    align-items: center;
    display: flex;
    background-color: #0087e8;
    border-radius: .25em 0 0 .25em;
    border-right: 1px solid #fff;
    font-size: 1.5em;
    justify-content: center;
    /*margin-left: auto;*/
    padding-left: 1em;
}

.home-series-link {
    align-items: center;
    display: flex;
    background-color: #D81F26; /* Netflix Red */
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    font-size: 1.5em;
    justify-content: center;
    padding: 0 1em;
}

.home-tv-link {
    align-items: center;
    display: flex;
    background-color: #ca8a04; /* Symfony footer */;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    font-size: 1.5em;
    justify-content: center;
    padding: 0 1em;
}

.home-youtube-link {
    align-items: center;
    display: flex;
    background-color: #ff0000; /* Youtube Red */;
    border-left: 1px solid #fff;
    border-radius: 0 .25em .25em 0;
    font-size: 1.5em;
    justify-content: center;
    padding-right: 1em;
}

.home-header a {
    color: #f2f2f2;
    font-weight: bold;
    text-decoration: none;
}

.home-link > a {
    padding-right: 1em;
}

.home-tv-link > a {
    padding-left: 1em;
}

.home-youtube-link > a {
    padding-left: 1em;
}

.home-link > .active,
.home-series-link > .active,
.home-tv-link > .active,
.home-youtube-link > .active {
    background-color: #f2f2f2;
    border-radius: 50%;
    height: .5em;
    margin: .25em;
    width: .5em;
}

.genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.genre {
    border: 5px solid #8a8a8a;
    border-radius: 18px;
    margin: .25em;
    padding: .125em 1em;
}

.search {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-label {
    margin-right: 1em;
}

.date_select,
.sort_select {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
}

.date_select > .label,
.sort_select > .label {
    margin-right: 1em;
}

.home-discovers {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.home-discovers-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2em;
}

.home-discover img {
    border-radius: .5em;
}

.home-discover {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px 20px 10px;
    padding: 4px;
    position: relative;
    width: 12em;
}

.home-discover a {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    width: 100%;
}

.home-discover-title {
    color: #254e5f;
    font-weight: bold;
    margin-top: auto;
    text-align: center;
}

.home-discover-date {
    color: #142b34;
    font-size: .8em;
    font-weight: normal;
}

.home-discover .logo {
    border: 4px solid #bdbdbd;
    border-radius: 50%;
    height: auto;
    position: absolute;
    right: -.5em;
    top: -.5em;
    width: 2em;
}

.home-discover .has-been-seen {
    background-color: #333;
    border-radius: 50%;
    color: #dbdbdb;
    cursor: pointer;
    padding: 0 .2em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.home-discover .has-collection {
    background-color: #333;
    border-radius: 50%;
    color: #dbdbdb;
    cursor: pointer;
    padding: 0 .2em;
    position: absolute;
    right: 1em;
    top: 2.5em;
}

.home-discover .has-been-seen.yes {
    color: #11d08e;
}

.home-discovers-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.home-discovers-footer .pages {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-discovers-footer .ends {
    align-items: center;
    color: #bdbdbd;
    display: flex;
    font-size: .8em;
    justify-content: center;
    margin: 0 4px;
    padding: 4px 16px;
}

.home-discovers-footer .page {
    align-items: center;
    background-color: #224959;
    border-radius: 1em;
    color: #bdbdbd;
    display: flex;
    font-size: .8em;
    justify-content: center;
    margin: 0 4px;
    padding: 4px 16px;
}

.home-discovers-footer .page a:hover,
.home-discovers-footer .page a,
.home-discovers-footer .ends a:hover,
.home-discovers-footer .ends a {
    color: #bdbdbd;
    text-decoration: none;
}

.home-discovers-footer .page.active {
    background-color: #622525;
}

.home-discovers-footer-infos {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-discovers-footer-infos > div {
    color: #142b34;
    font-size: .8em;
    padding: 8px;
}

.productions > .production > .cie-logo {
    display: flex;
    margin-bottom: auto;
    margin-left: auto;
}

.cast, .crew {
    background-color: #383838;
}

.cast, .crew {
    align-items: center;
    background-color: #eee;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    justify-content: space-around;
    max-height: 20em;
    min-height: 16em;
    overflow-y: scroll;
}

.cast .title,
.crew .title {
    font-size: 1.5em;
}

.cast .actor,
.crew .member {
    align-items: center;
    /*
    border: 2px solid #f2f2f2;
    border-radius: .75em;
    */
    cursor: grab;
    display: flex;
    flex-direction: column;
    height: 14em;
    margin: .5em .5em;
    /*overflow: hidden;*/
    /*transition: border-radius .25s, margin .25s, height .25s, width .25s;*/
    /*transition: margin .25s, width .25s;*/
    width: 7em;
}

/*
.cast > .actor:hover {
    border-radius: 50%;
    height: 8em;
    margin: .5em 1em;
    width: 6em;
}
*/

/*.cast > .actor:hover {*/
/*    margin: 0;*/
/*    width: 8em;*/
/*}*/

.cast .actor .profile,
.crew .member .profile {
    background-image: url("../../public/images/default/profile.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 2px solid #dbdbdb;*/
    border-radius: .5em;
    height: 10em;
    /*min-height: 138px;*/
    overflow: hidden;
    transition: border-radius .125s;
    width: 100%;
}

.cast .actor .profile:hover,
.crew .member .profile:hover {
    border-radius: 50%;
}

.cast .actor .profile img,
.crew .member .profile img{
    height: auto;
    width: 100%;
}

.cast .actor .name,
.crew .member .name {
    font-size: .75em;
    font-weight: bold;
    /*margin-top: auto;*/
    text-align: center;
}

.cast .actor .character,
.crew .member .job {
    font-size: .5em;
    text-align: center;
}

/*
.crew {
    align-items: center;
    background-color: #383838;
    border: 4px solid #767676;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 20em;
    min-height: 16em;
    overflow-y: scroll;
}

.crew > .member {
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: .75em;
    display: flex;
    flex-direction: column;
    height: 14em;
    margin: .5em .5em;
    overflow: hidden;
    transition: border-radius .25s, margin .25s, height .25s, width .25s;
    width: 7em;
}

.crew > .member:hover {
    border-radius: 50%;
    height: 8em;
    margin: .5em 1em;
    width: 6em;
}

.crew > .member > .profile {
    background-image: url("../../public/images/default/profile.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    min-height: 138px;
    width: 100%;
}

.crew > .member > .profile > img {
    height: auto;
    width: 100%;
}

.crew > .member > .name {
    font-size: .75em;
    font-weight: bold;
    text-align: center;
}

.crew > .member > .job {
    font-size: .5em;
    text-align: center;
    margin-top: auto;
}
*/

@media (prefers-color-scheme: dark) {

    :root {
        --bs-body-bg: #1c1c1c;
        --bs-body-color: #dbdbdb;
    }

    a {
        color: #bdbdbd !important;
    }

    .container,
    .container-fluid {
        background-color: #1c1c1c;
        color: #bdbdbd;
    }

    .dropdown-menu {
        color: #bdbdbd;
        background-color: #3b3b3b;
    }

    .dropdown-item-text {
        color: #bdbdbd;
    }

    h1, h1 > a, h2, h2 > a {
        color: #7c97a1;
    }

    .home-discover-title {
        color: #5ec6f1;
    }

    .home-discover-date {
        color: #5cc6ef;
    }

    .home-discovers-footer-infos > div {
        color: #5dcbf6;
    }

    .movie-genre {
        border: 3px solid #bdbdbd;
    }

    img {
        filter: grayscale(20%);
    }

    .cast, .crew {
        background-color: #383838;
    }

    .cast > .actor > .profile,
    .crew > .member > .profile {
        background-image: url("../../public/images/default/profile_dark.jpg");
    }

    .episode > .detail > .guests > .guest > .profile {
        background-image: url("../../public/images/default/profile_dark.jpg");
    }

    .modal-content {
        background-color: #2c2c2c;
    }

    .modal-header {
        border-bottom: 1px solid #67696b;
    }
}

