@import "./_variables.scss";

.blog {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;

    .animated-header {
        .animated-h1, h1 {
            color: var(--gradient-ardoise-90);
        }

        .backdrop {
            background-image: url("../images/blog-header.jpg");
        }
    }

    .nothing {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 4em 0;

        .to-show {
            background-color: var(--gradient-ardoise-50);
            border-radius: 1em;
            color: var(--gradient-ardoise-90);
            font-size: 1.5em;
            font-weight: bold;
            padding: 2em 4em;
        }
    }

    .body {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 1em;

        .articles {
            width: 75%;

            .article-preview {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: var(--gradient-ardoise-80-alpha-50);
                border-radius: 1em;
                margin-bottom: 1em;
                overflow: hidden;
                transition: scale 300ms ease-in-out;

                &.deleted {
                    scale: 0;
                }

                .banner {
                    background-position: center center;
                    background-size: cover;
                    border-radius: 1em 1em 0 0;
                    height: 15em;
                    width: 100%;
                }

                .apercu {
                    align-items: center;
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    padding: 1em;

                    .thumbnail {
                        height: 3em;
                        width: 3em;

                        img {
                            border: 4px solid var(--gradient-ardoise-20);
                            border-radius: 50%;
                            height: 3em;
                            object-fit: cover;
                            width: 3em;
                        }
                    }

                    .presentation {
                        align-items: flex-start;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        flex: 1;
                        margin-left: 1em;
                        position: relative;

                        .abstract {
                            color: var(--gradient-ardoise-10);
                            font-size: .75em;
                            font-weight: 200;
                        }

                        .tools {
                            /*@include crud-tools(1em, 2em);*/
                            align-items: center;
                            background-color: var(--gradient-grey-20-alpha-50);
                            border-radius: .5rem;
                            display: flex;
                            gap: 1rem;
                            height: 2rem;
                            justify-content: center;
                            opacity: 0;
                            position: absolute;
                            right: 1rem;
                            top: 2rem;
                            transition: opacity 300ms ease-in-out;
                            width: 6rem;
                            z-index: 10;

                            i {
                                cursor: pointer;
                            }

                            &.visible {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .article {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: var(--gradient-ardoise-80-alpha-50);
            border-radius: 1em;
            flex: 1;
            margin-bottom: 1em;
            overflow: hidden;
            position: relative;
            transition: scale 300ms ease-in-out;

            &.deleted {
                scale: 0;
            }

            .banner {
                background-position: center center;
                background-size: cover;
                border-radius: 1em 1em 0 0;
                height: 15em;
                position: relative;
                width: 100%;

                &.full {
                    height: 20em;
                }

                &.no-banner {
                    height: 10em;
                }

                .thumbnail {
                    background-size: cover;
                    border: 2px solid;
                    border-radius: 50%;
                    bottom: -6em;
                    height: 10em;
                    position: absolute;
                    right: 2em;
                    width: 10em;
                }
            }

            .wrapper {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                width: 100%;

                .presentation {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex: 1;
                    margin: 0 auto;
                    max-width: 48em;
                    padding: 1em;

                    .content {
                        color: var(--gradient-ardoise-10);
                        font-size: 1em;
                        font-weight: 200;
                        margin-top: 2em;

                        ol {
                            margin-left: 1.5em;

                            li {
                                margin-bottom: .5em;
                            }
                        }

                        ul {
                            margin-left: .5em;
                            margin-top: .5em;

                            li {
                                list-style-type: disc;
                            }
                        }

                        img {
                            cursor: pointer;
                        }

                        .left {
                            border-radius: .25em;
                            display: inline-block;
                            float: left;
                            height: auto;
                            margin: 0 1em 1em 0;
                        }

                        .right {
                            border-radius: .25em;
                            display: inline-block;
                            float: right;
                            height: auto;
                            margin: 0 0 1em 1em;
                        }

                        .center {
                            border-radius: .25em;
                            height: auto;
                            margin-inside: auto;
                            width: 100%;
                        }
                    }

                    .tools {
                        /*@include crud-tools(1em, 2em);*/

                        align-items: center;
                        background-color: var(--gradient-grey-20-alpha-50);
                        border-radius: .5rem;
                        display: flex;
                        gap: 1rem;
                        height: 2rem;
                        justify-content: center;
                        opacity: 0;
                        position: absolute;
                        right: 1rem;
                        top: 2rem;
                        transition: opacity 300ms ease-in-out;
                        width: 6rem;
                        z-index: 10;

                        i {
                            cursor: pointer;
                        }

                        &.visible {
                            opacity: 1;
                        }
                    }

                }
            }

            .comment-form {
                background-color: var(--gradient-ardoise-90);
                border-radius: 1em;
                margin: 1em;
                padding: 1em;
                width: calc(100% - 2em);

                .label {
                    Font-size: 1em;
                }

                .user {
                    align-items: center;
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: .5em;

                    img {
                        /*@include rounded-avatar(2em);*/
                        border: 2px solid var(--gradient-ardoise-90);
                        background-image: url("../images/no_avatar.png");
                        background-position: center center;
                        background-size: cover;
                        border-radius: 50%;
                        height: 2rem;
                        object-fit: cover;
                        width: 2rem;
                    }

                    .name {
                        color: var(--gradient-ardoise-20);
                        padding-left: .5em;
                    }
                }

                textarea {
                    width: 100%;
                }
            }

            .comments {
                width: calc(100% - 2em);

                .label {
                    font-size: 1em;
                }

                .comment {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    background-color: var(--gradient-ardoise-90);
                    border-radius: .5em;
                    margin-bottom: 1em;
                    padding: 1em;

                    .user {
                        align-items: center;
                        display: flex;
                        justify-content: flex-start;
                        font-size: .875em;

                        img {
                            /*@include rounded-avatar(2em);*/
                            border: 2px solid var(--gradient-ardoise-90);
                            background-image: url("../images/no_avatar.png");
                            background-position: center center;
                            background-size: cover;
                            border-radius: 50%;
                            height: 2rem;
                            object-fit: cover;
                            width: 2rem;
                        }

                        .name {
                            color: var(--gradient-ardoise-20);
                            padding-left: .5em;
                        }

                        .dates {
                            align-items: center;
                            display: flex;
                            justify-content: flex-start;
                            width: 100%;
                            color: var(--gradient-ardoise-20);
                            margin-left: 1em;

                            .date {
                                color: var(--gradient-ardoise-40);
                                font-size: .75em;
                                font-weight: 200;
                                padding-right: 1em;
                            }
                        }
                    }

                    .text {
                        font-style: italic;
                    }

                    .reactions {
                        background-color: var(--gradient-ardoise-80);
                        border-radius: .5em;
                        margin: .25em 0 .25em 2em;
                        padding: .5em;

                        .reaction {
                            border-radius: .5em;
                            margin: .5em 0;
                            padding: .5em;
                        }

                        .reaction:nth-child(2n+1) {
                            background-color: var(--gradient-ardoise-70);
                        }
                    }

                    .react {
                    / / padding-left: 2 em;
                        width: 100%;

                        .answer {
                            align-items: center;
                            display: flex;
                            justify-content: center;

                            .user {
                                align-items: center;
                                display: flex;
                                justify-content: flex-start;

                                img {
                                    /*@include rounded-avatar(1.5em);*/
                                    background-image: url("../images/no_avatar.png");
                                    background-position: center center;
                                    background-size: cover;
                                    border-radius: 50%;
                                    height: 2rem;
                                    object-fit: cover;
                                    width: 2rem;
                                }

                                .name {
                                    font-size: .75em;
                                    padding-left: .5em;
                                }
                            }

                            label {
                                flex: 1;

                                textarea {
                                    border-radius: .25em;
                                    height: 2em;
                                    margin: 0 1em;
                                    width: calc(100% - 2em);
                                }
                            }

                            .submit {
                                background-color: var(--gradient-ardoise-40);
                                border-color: var(--gradient-ardoise-40);
                                border-radius: 0.2rem;
                                color: var(--gradient-ardoise-90);
                                cursor: pointer;
                                display: inline-block;
                                font-size: 0.75rem;
                                font-weight: 400;
                                line-height: 1.5;
                                padding: 0.25rem 0.5rem;
                                text-align: center;
                                text-decoration: none;
                                vertical-align: middle;
                                user-select: none;

                                &:hover {
                                    color: var(--gradient-ardoise-90);
                                    background-color: var(--gradient-ardoise-30);
                                    border-color: var(--gradient-ardoise-40);
                                }
                            }
                        }
                    }
                }
            }
        }

        .article-preview,
        .article {
            .title-author {
                align-items: start;
                display: flex;
                flex-direction: column;
                justify-content: start;

                .title {
                    color: var(--gradient-ardoise-20);
                    flex: 1;
                    font-size: 1.5em;
                    font-weight: bold;
                }

                .author {
                    color: var(--gradient-ardoise-40);
                    flex: 1;
                    font-size: 1em;
                / / margin-left: auto;
                / / text-align: right;
                }
            }

            .dates {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                width: 100%;

                .date {
                    color: var(--gradient-ardoise-40);
                    font-size: .75em;
                    font-weight: 200;
                    margin-right: 1em;
                }
            }
        }

        .articles-tools, .article-tools {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            min-height: 25dvh;
            width: calc(25% - 1em);

            .list {
                margin: 1em 2em;
            }
        }

        .form {
            align-items: center;
            background-color: var(--gradient-ardoise-90);
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin: 1em;
            padding: 1em;
            width: calc(100% - 2rem);

            form {
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 100%;

                .field {
                    .add-an-image {
                        color: var(--gradient-ardoise-50);
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                input {
                    width: 100%;
                }

                textarea {
                    padding: 1em;
                }
            }

            .switch {
                margin-left: unset;
            }

        }
    }

    .table {
        border-bottom: unset;

        .thumbnail {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
        }

        img {
            border: 2px solid var(--gradient-ardoise-80);
            border-radius: .25em;
            height: 3em;
            overflow: hidden;
            width: auto;
        }
    }

    .image-article {
        .form {
            margin: 2em 0;
            width: 100%;

            .dropzone-container {
                background-color: var(--gradient-ardoise-40);
                border-radius: 1em;
            }

            .dropzone-preview-image {
                background-size: cover;
                border: 2px solid var(--gradient-ardoise-80);
                border-radius: 50%;
                overflow: hidden;
            }

            .save {
                align-items: center;
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }
        }

        .back-delete {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        .preview {
            border-radius: 1em;
            overflow: hidden;
            width: 100%;

            img {
                display: block;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    i[id^=show-] {
        cursor: pointer;
    }

    .show {
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: transparent;
        display: none;
        inset: 0;
        opacity: 0;
        position: fixed;
        transition: background-color .5s, opacity .5s;

        &.visible {
            background-color: var(--gradient-ardoise-80);
            display: flex;
            opacity: 1;
        }

        .close {
            align-items: center;
            background-color: var(--gradient-ardoise-80);
            border-radius: 50%;
            color: var(--gradient-ardoise-20);
            cursor: pointer;
            display: flex;
            height: 1.5em;
            justify-content: center;
            position: absolute;
            right: 1em;
            top: 1em;
            width: 1.5em;
        }

        img {
            border: .5em solid var(--gradient-ardoise-80);
            border-radius: 1em;
            max-height: 80%;
            max-width: 80%;
            object-fit: cover;
            transform: translateY(-140%);
            transition: transform .5s;

            &.visible {
                transform: translateY(0);
            }
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .blog {
    / / margin: 0 calc(50 % - 32 em);
    / / max-width: 64 em;

        .image-article {
            .form {
                margin: 2em 16em;
                max-width: 32em;
            }

            .preview {
                margin: 2em 16em;
                max-width: 32em;
            }

            .back-delete {
                margin: 2em 16em;
                max-width: 32em;
            }
        }
    }
}

@media (min-width: 1400px) {
}
