@import "variables";
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

.blog {
    @include flex-col(flex-start, center);
    padding-top: 1em;

    .header {
        @include animated-header("../images/blog-header.jpg");
    }

    .nothing {
        @include flex-100();
        margin: 4em 0;

        .to-show {
            background-color: var(--gradiant-grey-50);
            border-radius: 1em;
            color: var(--gradiant-grey-90);
            font-size: 1.5em;
            font-weight: bold;
            padding: 2em 4em;
        }
    }

    .content {
        @include flex-100(flex-start, flex-start);
        gap: 1em;

        .articles {
            width: 75%;

            .article {
                @include flex-col();
                background-color: var(--gradiant-grey-80);
                border-radius: 1em;
                margin-bottom: 1em;
                overflow: hidden;
                transition: scale 300ms ease-in-out;

                &.deleted {
                    scale: 0;
                }

                .banner {
                    background-position: center center;
                    background-size: cover;
                    border-radius: 1em 1em 0 0;
                    height: 15em;
                    width: 100%;

                    &.full {
                        height: 15em;
                    }
                }

                .apercu {
                    @include flex-100(center, flex-start);
                    padding: 1em;

                    .thumbnail {
                        height: 3em;
                        width: 3em;

                        img {
                            border: 4px solid var(--gradiant-grey-20);
                            border-radius: 50%;
                            height: 3em;
                            object-fit: cover;
                            width: 3em;
                        }
                    }

                    .presentation {
                        @include flex-col(flex-start, center);
                        flex: 1;
                        margin-left: 1em;
                        position: relative;

                        .title-author {
                            @include flex-100(baseline, flex-start);
                        }

                        .title {
                            color: var(--gradiant-grey-20);
                            flex: 1;
                            font-size: 1.5em;
                            font-weight: bold;
                        }

                        .author {
                            color: var(--gradiant-grey-40);
                            font-size: 1em;
                            margin-left: auto;
                        }

                        .abstract {
                            color: var(--gradiant-grey-10);
                            font-size: .75em;
                            font-weight: 200;

                            &.full {
                                font-size: 1em;
                                margin-top: 2em;

                                .left {
                                    border-radius: .25em;
                                    display: inline-block;
                                    float: left;
                                    height: auto;
                                    margin: 0 1em 1em 0;
                                }

                                .right {
                                    border-radius: .25em;
                                    display: inline-block;
                                    float: right;
                                    height: auto;
                                    margin: 0 0 1em 1em;
                                }

                                .center {
                                    border-radius: .25em;
                                    height: auto;
                                    margin-inside: auto;
                                    width: 100%;
                                }
                            }
                        }

                        .dates {
                            @include flex-100(center, flex-start);

                            .date {
                                color: var(--gradiant-grey-40);
                                font-size: .5em;
                                font-weight: 200;
                                margin-right: 1em;
                            }
                        }

                        .tools {
                            @include crud-tools(1em, 2em);
                        }
                    }
                }

                .comment-form {
                    background-color: var(--gradiant-grey-90);
                    border-radius: 1em;
                    margin: 1em;
                    padding: 1em;
                    width: calc(100% - 2em);

                    .label {
                        Font-size: 1em;
                    }

                    .user {
                        @include flex-row(center, flex-start);
                        margin-bottom: .5em;

                        img {
                            @include rounded-avatar(2em);
                            border: 2px solid var(--gradiant-grey-90);
                        }

                        .name {
                            color: var(--gradiant-grey-20);
                            padding-left: .5em;
                        }
                    }

                    textarea {
                        width: 100%;
                    }
                }

                .comments {
                    width: calc(100% - 2em);

                    .label {
                        font-size: 1em;
                    }

                    .comment {
                        @include flex-col(flex-start, flex-start);
                        background-color: var(--gradiant-grey-90);
                        border-radius: .5em;
                        margin-bottom: 1em;
                        padding: 1em;

                        .user {
                            @include flex-row(center, flex-start);
                            font-size: .875em;

                            img {
                                @include rounded-avatar(2em);
                                border: 2px solid var(--gradiant-grey-90);
                            }

                            .name {
                                color: var(--gradiant-grey-20);
                                padding-left: .5em;
                            }

                            .dates {
                                @include flex-100(center, flex-start);
                                color: var(--gradiant-grey-20);
                                margin-left: 1em;

                                .date {
                                    color: var(--gradiant-grey-40);
                                    font-size: .75em;
                                    font-weight: 200;
                                    padding-right: 1em;
                                }
                            }
                        }

                        .text {
                            font-style: italic;
                        }

                        .reactions {
                            background-color: var(--gradiant-grey-80);
                            border-radius: .5em;
                            margin: .25em 0 .25em 2em;
                            padding: .5em;

                            .reaction {
                                border-radius: .5em;
                                margin: .5em 0;
                                padding: .5em;
                            }

                            .odd {
                                background-color: var(--gradiant-grey-70);
                            }
                        }

                        .react {
                            padding-left: 2em;
                            width: 100%;

                            .answer {
                                @include flex-100();

                                .user {
                                    @include flex-row(center, flex-start);

                                    img {
                                        @include rounded-avatar(1.5em);
                                    }

                                    .name {
                                        font-size: .75em;
                                        padding-left: .5em;
                                    }
                                }

                                textarea {
                                    border-radius: .25em;
                                    height: 2em;
                                    margin: 0 1em;
                                    width: 100%;
                                }

                                .submit {
                                    background-color: var(--gradiant-grey-40);
                                    border-color: var(--gradiant-grey-40);
                                    border-radius: 0.2rem;
                                    color: var(--gradiant-grey-90);
                                    cursor: pointer;
                                    display: inline-block;
                                    font-size: 0.75rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    padding: 0.25rem 0.5rem;
                                    text-align: center;
                                    text-decoration: none;
                                    vertical-align: middle;
                                    user-select: none;

                                    &:hover {
                                        color: var(--gradiant-grey-90);
                                        background-color: var(--gradiant-grey-30);
                                        border-color: var(--gradiant-grey-40);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .articles-tools, .article-tools {
            min-height: 25vh;
            width: calc(25% - 1em);

            .add-article, .edit-article, .delete-article {
                @include flex-row();
                align-items: center;
                background-color: var(--gradiant-grey-50);
                border-radius: 999em;
                box-shadow: 0 0 0 var(--gradiant-grey-20);
                color: var(--gradiant-green-70);
                cursor: pointer;
                display: flex;
                font-weight: 600;
                height: 4em;
                transition: translate 100ms ease-out;

                i {
                    font-size: 2em;
                    margin-right: .5em;
                }

                &:hover {
                    box-shadow: 0 4px 0 var(--gradiant-grey-20);
                    translate: 0 -4px;
                }

                &.click {
                    box-shadow: 0 0 0 var(--gradiant-grey-20);
                    translate: 0 0;
                }
            }

            .edit-article, .delete-article {
                margin-bottom: 1em;
            }

            .list {
                margin: 1em 2em;
            }
        }
    }

    .table {
        border-bottom: unset;

        .thumbnail {
            @include flex-100();
            height: 100%;
        }

        img {
            border: 2px solid var(--gradiant-grey-80);
            border-radius: .25em;
            height: 3em;
            overflow: hidden;
            width: auto;
        }
    }

    .image-article {
        .form {
            margin: 2em 0;
            width: 100%;

            .dropzone-container {
                background-color: var(--gradiant-grey-40);
                border-radius: 1em;
            }

            .dropzone-preview-image {
                background-size: cover;
                border: 2px solid var(--gradiant-grey-80);
                border-radius: 50%;
                overflow: hidden;
            }

            .save {
                @include flex-100(center, flex-end);
            }
        }

        .back-delete {
            @include flex-100(center, flex-end)
        }

        .preview {
            border-radius: 1em;
            overflow: hidden;
            width: 100%;

            img {
                display: block;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    i[id^=show-] {
        cursor: pointer;
    }

    .show {
        @include flex-100(center, center);
        background-color: #00000000;
        display: none;
        inset: 0;
        opacity: 0;
        position: fixed;
        transition: background-color .5s, opacity .5s;

        &.visible {
            background-color: var(--gradiant-grey-80) 7 f;
            display: flex;
            opacity: 1;
        }

        .close {
            align-items: center;
            background-color: var(--gradiant-grey-80);
            border-radius: 50%;
            color: var(--gradiant-grey-20);
            cursor: pointer;
            display: flex;
            height: 1.5em;
            justify-content: center;
            position: absolute;
            right: 1em;
            top: 1em;
            width: 1.5em;
        }

        img {
            border: .5em solid var(--gradiant-grey-80);
            border-radius: 1em;
            max-height: 80%;
            max-width: 80%;
            object-fit: cover;
            transform: translateY(-140%);
            transition: transform .5s;

            &.visible {
                transform: translateY(0);
            }
        }
    }
}

@media (min-width: 767.98px) {
}

@media (min-width: 991.98px) {
}

@media (min-width: 1199.98px) {
    .blog {
        margin: 0 calc(50% - 32em);
        max-width: 64em;

        .image-article {
            .form {
                margin: 2em 16em;
                max-width: 32em;
            }

            .preview {
                margin: 2em 16em;
                max-width: 32em;
            }

            .back-delete {
                margin: 2em 16em;
                max-width: 32em;
            }
        }
    }
}

@media (min-width: 1399.98px) {
}

@media (prefers-color-scheme: dark) {

    .blog {
        .content {
            .articles {
                .article {
                    background-color: var(--gradiant-grey-30);

                    .apercu {

                        .thumbnail {
                            img {
                                border: 2px solid var(--gradiant-grey-90);
                            }
                        }

                        .presentation {
                            .title {
                                color: var(--gradiant-grey-90);
                            }

                            .author {
                                color: var(--gradiant-grey-70);
                            }

                            .abstract {
                                color: var(--gradiant-grey-80);
                            }

                            .dates {
                                .date {
                                    color: var(--gradiant-grey-70);
                                }
                            }
                        }
                    }

                    .comment-form {
                        background-color: var(--gradiant-grey-20);

                        .user {
                            .name {
                                color: var(--gradiant-grey-90);
                            }
                        }
                    }

                    .comments {

                        .comment {
                            background-color: var(--gradiant-grey-20);

                            .user {
                                .name {
                                    color: var(--gradiant-grey-90);
                                }

                                .dates {
                                    .date {
                                        color: var(--gradiant-grey-70);
                                    }
                                }
                            }

                            .reactions {
                                background-color: var(--gradiant-grey-20);

                                .odd {
                                    background-color: var(--gradiant-grey-30);
                                }

                            }
                        }
                    }
                }
            }
        }

        .table {
            color: var(--gradiant-grey-80);
        }

        .show {
            &.visible {
                background-color: var(--gradiant-grey-20) 7 f;
            }
        }
    }
}
