@import "variables";

.chat-wrapper {
    @include flex-row(end, end);
    bottom: 0;
    position: fixed;
    right: 0;

    &.dev {
        bottom: 36px;
    }

    .chat-users {
        background-color: transparent;
        border-left: 1px solid var(--gradient-ardoise-20);
        border-radius: calc(.25rem + 1px) 0 0 0;
        border-top: 1px solid var(--gradient-ardoise-20);
        max-height: 320rem;
        width: 20rem;
        z-index: 997;

        &:has(.chat-users-list.minimized) {
            border: 1px solid var(--gradient-ardoise-20);
            border-radius: 50%;
            bottom: 1rem;
            height: 2rem;
            right: 1rem;
            width: 2rem;

            .chat-users-header {
                @include flex-row(center, center);
                border: 1px solid var(--gradient-ardoise-50);
                border-radius: 50%;
                height: 100%;
                padding: 0;
                width: 100%;

                .my-avatar, .my-name, .list-count {
                    display: none;
                }
            }
        }

        .chat-users-header {
            @include flex-row(center, flex-start);
            background-color: var(--gradient-ardoise-70);
            border-bottom: 1px solid var(--gradient-ardoise-20);
            border-radius: .25rem 0 0 0;
            color: var(--gradient-ardoise-20);
            cursor: pointer;
            padding: .5rem 1rem;

            .my-avatar {
                border: 1px solid;
                border-radius: 50%;
                height: 1.5rem;
                width: 1.5rem;

                img {
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                }
            }

            .my-name {
                font-weight: 300;
                margin-left: .5rem;
            }

            .list-count {
                margin-left: auto;
            }
        }

        .chat-users-list {
            @include flex-col(center, flex-start);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            background-color: var(--gradient-ardoise-80-alpha-50);
            color: var(--gradient-ardoise-20);
            overflow: auto;
            padding: 0;
            transition: height 0.5s ease-in-out;

            &.minimized {
                height: 0;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;

                li {
                    @include flex-row(center, flex-start);
                    font-weight: 300;
                    gap: .5rem;
                    padding: 0.5rem 1rem;
                    width: 100%;

                    &:hover {
                        background-color: var(--gradient-ardoise-60);
                        color: var(--gradient-ardoise-90);
                        cursor: pointer;

                        .last {
                            color: var(--gradient-ardoise-80);
                        }
                    }

                    .user-avatar {
                        img {
                            border-radius: 50%;
                            height: 2rem;
                            width: 2rem;
                        }
                    }

                    .writing {
                        color: var(--gradient-ardoise-80);
                        font-size: .75rem;
                        margin-left: auto;

                        &.hidden {
                            display: none;
                        }
                    }

                    .last-activity {
                        color: var(--gradient-green-40);
                        font-size: .75rem;

                        &.right {
                            margin-left: auto;
                        }
                    }

                    .online {
                        color: var(--gradient-green-40);
                    }

                    .last {
                        color: var(--gradient-ardoise-70);
                        font-size: .75rem;

                        &.right {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }

    .discussion {
        @include flex-col(flex-start, flex-start);
        background-color: var(--gradient-ardoise-90);
        border: 1px solid var(--gradient-ardoise-20);
        border-radius: .25rem .25rem 0 0;
        overflow: hidden;
        height: 20rem;
        width: 20rem;

        &.minimized {
            border-radius: 50%;
            height: 2rem;
            width: 2rem;

            .header {
                border: none;
                border-radius: 50%;
                padding: 0;

                .buddy {
                    .user-avatar {
                        img {
                            border: none;
                            height: 2rem;
                            width: 2rem;
                        }
                    }

                    span {
                        display: none;
                    }
                }

                .buttons {
                    display: none;
                }
            }
        }

        &.active {
            .header {
                @include flex-row(center, flex-start);
                background-color: var(--gradient-mars-70);
            }
        }

        .header {
            @include flex-row(center, flex-start);
            background-color: var(--gradient-ardoise-70);
            border-bottom: 1px solid var(--gradient-ardoise-20);
            border-radius: .25rem .25rem 0 0;
            color: var(--gradient-ardoise-20);
            cursor: pointer;
            padding: .5rem 1rem;
            width: 100%;

            .buddy {
                @include flex-row(center, flex-start);
                gap: .5em;

                .user-avatar {
                    img {
                        border: 1px solid var(--gradient-ardoise-20);
                        border-radius: 50%;
                        height: 1.5rem;
                        object-fit: cover;
                        width: 1.5rem;
                    }
                }

                span {
                    color: var(--gradient-ardoise-20);
                    font-weight: 400;
                }
            }

            .buttons {
                @include flex-row();
                gap: .5rem;
                margin-left: auto;
            }
        }

        .body {
            @include flex-col(flex-start, flex-start);
            padding: 0;
            transition: height 0.5s ease-in-out;
            width: 100%;

            &.minimized {
                height: 0;
            }

            .messages {
                @include flex-col(flex-start, flex-start);
                background-color: var(--gradient-ardoise-90);
                color: var(--gradient-ardoise-20);
                height: calc(15.5rem - 1px);
                overflow: auto;
                padding: .25rem;
                width: 100%;

                .message {
                    @include flex-row(flex-start, flex-start);
                    font-weight: 300;
                    margin-top: .5rem;
                    width: 16rem;

                    .message-content {
                        width: 100%;

                        .message-time {
                            color: var(--gradient-ardoise-70);
                            font-size: .75rem;
                            width: 100%;
                        }

                        .message-text {
                            border-radius: .25rem;
                            font-size: .875rem;
                            padding: .25rem .5rem;
                            width: 100%;
                        }
                    }

                    &.user-message {
                        margin-left: auto;

                        .message-content {
                            .message-text {
                                background-color: var(--gradient-ardoise-70);
                                color: var(--gradient-ardoise-20);
                                justify-content: flex-end;
                            }
                        }
                    }

                    &.recipient-message {
                        .message-content {
                            .message-text {
                                background-color: var(--gradient-green-90);
                                color: var(--gradient-green-20);
                            }
                        }
                    }
                }
            }

            .new-message {
                @include flex-row(center, flex-start);
                background-color: var(--gradient-ardoise-70);
                border-top: 1px solid var(--gradient-ardoise-20);
                color: var(--gradient-ardoise-20);
                padding: 0;
                width: 100%;

                form {
                    width: 100%;

                    label {
                        width: 100%;

                        input {
                            appearance: none;
                            border-radius: 0;
                            outline: none;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .chat-wrapper {
        .chat-users {
            border-color: var(--gradient-ardoise-90);

            .chat-users-header {
                background-color: var(--gradient-ardoise-30);
                border-color: var(--gradient-ardoise-90);
                color: var(--gradient-ardoise-90);
            }

            .chat-users-list {
                background-color: var(--gradient-ardoise-20-alpha-80);
                color: var(--gradient-ardoise-90);

                ul {
                    li {
                        &:hover {
                            background-color: var(--gradient-ardoise-50);
                            color: var(--gradient-ardoise-90);
                        }
                    }
                }
            }
        }

        .discussion {
            border-color: var(--gradient-ardoise-80);

            &.active {
                .header {
                    @include flex-row(center, flex-start);
                    background-color: var(--gradient-mars-40);
                }
            }

            .header {
                background-color: var(--gradient-ardoise-30);
                border-bottom-color: var(--gradient-ardoise-80);
                color: var(--gradient-ardoise-90);

                .buddy {
                    .user-avatar {
                        img {
                            border: 1px solid var(--gradient-ardoise-80);
                        }
                    }

                    span {
                        color: var(--gradient-ardoise-80);
                    }
                }
            }

            .body {
                .messages {
                    background-color: var(--gradient-ardoise-20);

                    .message {

                        .message-content {

                            .message-time {
                                color: var(--gradient-ardoise-70);
                            }
                        }

                        &.user-message {
                            margin-left: auto;

                            .message-content {
                                .message-text {
                                    background-color: var(--gradient-ardoise-30);
                                    color: var(--gradient-ardoise-90);
                                }
                            }
                        }

                        &.recipient-message {
                            .message-content {
                                .message-text {
                                    background-color: var(--gradient-green-20);
                                    color: var(--gradient-green-90);
                                }
                            }
                        }
                    }
                }

                .new-message {
                    border-top-color: var(--gradient-ardoise-60);

                    label {
                        input {
                            background-color: var(--gradient-ardoise-30);
                            color: var(--gradient-ardoise-90);
                        }
                    }
                }
            }
        }
    }
}