@import "variables";

.devices {
    .choice {
        @include flex-col(center, stretch);

        .device {
            background-position: center;
            background-size: cover;
            border: 2px solid var(--gradient-grey-20);
            border-radius: .5em;
            cursor: pointer;
            height: 4em;
            width: 4em;

            @include devices("light");
        }

        .label {
            font-weight: 100;
            text-align: center;
            width: 6em;
        }
    }
}


@media (prefers-color-scheme: dark) {
    .devices {
        .choice {
            .device {
                border: 2px solid var(--gradient-grey-80);

                @include devices("dark");
            }
        }
    }
}
