@import "variables";
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

.pointer {
    cursor: pointer;
}

.back-diapo {
    @include flex-row();
    background-color: var(--gradient-ardoise-90-alpha-80);
    inset: 0;
    position: absolute;
    transition: bottom 300ms ease-in-out, top 300ms ease-in-out;
    z-index: 9999;

    .wrapper {
        @include flex-col();
        gap: 1em;
        height: 100%;
        width: 100%;

        .image {
            @include flex-100();
            gap: 1em;
            height: 90%;
            position: relative;

            img {
                border: 1em solid var(--gradient-ardoise-20);
                max-height: 95dvh;
                max-width: 90vw;
                object-fit: cover;
                opacity: 0;
                transition: opacity 300ms ease-in-out;

                &.fade {
                    opacity: 1;
                }
            }

            .chevron {
                @include flex-row();
                background-color: var(--gradient-ardoise-60-alpha-50);
                border-radius: 50%;
                color: var(--gradient-ardoise-20);
                cursor: pointer;
                font-size: 2em;
                height: 1.5em;
                width: 1.5em;
            }
        }

        .thumbnails {
            @include flex-row();
            gap: 1em;

            .thumbnail {
                position: relative;

                img {
                    border: .25em solid var(--gradient-grey-20);
                    cursor: pointer;
                    max-height: 4dvh;
                    max-width: 4dvh;
                    object-fit: cover;
                    opacity: 1;
                }

                &.active {
                    img {
                        border: .25em solid var(--gradient-yellow-50);
                    }
                }

                &.active::before {
                    @include flex-col();
                    background-color: var(--gradient-yellow-50);
                    border-radius: 999px;
                    content: '';
                    height: .5em;
                    left: 0;
                    position: absolute;
                    top: -1em;
                    width: 100%;
                }

                &.active::after {
                    @include flex-col();
                    background-color: var(--gradient-yellow-50);
                    border-radius: 999px;
                    bottom: -1em;
                    content: '';
                    height: .5em;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
            }
        }
    }

    .close {
        position: absolute;
        right: 1em;
        top: 1em;

        > div {
            @include flex-row();
            background-color: var(--gradient-grey-20-alpha-50);
            border-radius: 50%;
            color: var(--gradient-grey-10);
            cursor: pointer;
            font-size: 2em;
            height: 1.5em;
            width: 1.5em;
        }
    }

    .navigation {
        bottom: 1em;
        color: var(--gradient-ardoise-10);
        position: absolute;
        right: 1em;
        transition: height 300ms ease-in-out, width 100ms ease-in-out;

        .help {
            height: 11em;
            position: relative;
            width: 15em;

            .maxi {
                background-color: var(--gradient-ardoise-40);
                border-radius: 1em;
                inset: 0;
                padding: 1em;
                position: absolute;

                .title {
                    font-weight: bold;
                }

                .key {
                    @include flex-100(center, start);
                    margin-top: .5em;

                    img {
                        border: 1px solid;
                        border-radius: .25em;
                        height: 2em;
                        width: auto;
                    }

                    > div {
                        flex-shrink: 0;
                        margin-left: 1em;
                    }
                }

                .close {
                    cursor: pointer;
                    position: absolute;
                    right: 1em;
                    top: 1em;
                }
            }

            .mini {
                align-items: center;
                background-color: var(--gradient-ardoise-40);
                border-radius: 999px;
                cursor: pointer;
                display: flex;
                font-size: 2em;
                font-weight: bold;
                height: 1.2em;
                justify-content: center;
                inset: 0;
                position: absolute;
                width: 1.2em;
            }

            &.minimise {
                height: .75em;
                width: .75em;

                .maxi {
                    display: none;
                }
            }
        }
        &:has(.help.minimise) {
            bottom: 2em;
            height: 2.4em;
            right: 2em;
            width: 2.4em;
        }
    }
}
