@import "variables";

.my-events {
    --event-height: 10rem;

    @include flex-col(flex-start, center);
    padding-top: 1em;

    .header {
        @include animated-header("../images/event-header.jpg");
    }

    .nav-breadcrumb {
        margin: 1em 0 1em auto;
    }

    main {
        width: 100%;

        .events {
            @include flex-col();
            width: 100%;

            .event {
                @include flex-row(flex-start, flex-start);
                background-color: var(--gradiant-grey-90);
                border-radius: .5em;
                color: var(--gradiant-grey-30);
                margin-bottom: 1em;
                overflow: hidden;
                width: 100%;

                .poster {
                    height: var(--event-height);
                    width: 10em;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .infos {
                    @include flex-col(flex-start, center);
                    height: var(--event-height);
                    padding: 1em;
                    width: calc(50% - 10em);
                }

                .countdown {
                    @include flex-100();
                    font-size: 2em;
                    font-weight: 100;
                    height: var(--event-height);
                    opacity: 1;
                    position: relative;
                    transition: opacity 2s ease-in-out, color 300ms ease-in-out;
                    width: 50%;

                    &.switch {
                        opacity: 0;
                    }

                    &.fade {
                        color: var(--gradiant-grey-90);
                    }

                    &.past {
                        opacity: .25;
                    }

                    .part {
                        @include flex-col();
                        width: 2.5em;

                        .count {
                            font-size: 2em;
                            font-weight: 100;
                        }

                        .label {
                            font-size: .5em;
                            font-weight: 100;
                            text-transform: uppercase;
                        }
                    }

                    .separator {
                        animation: blink 1s infinite ease-in-out;
                        font-size: 2em;
                        height: 100%;
                        padding-top: .25em;
                    }

                    .date {
                        @include flex-100();
                        color: var(--gradiant-grey-20);
                        inset: 0;
                        opacity: 0;
                        position: absolute;
                        transition: opacity 300ms ease-in-out;

                        &.show {
                            opacity: 1;
                        }
                    }

                    @keyframes blink {
                        49% {
                            opacity: 1;
                        }
                        50% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

}

@media (prefers-color-scheme: dark) {

    .my-events {

        .header {
            background-color: var(--gradiant-grey-20);
            border-radius: 1em;
            color: var(--gradiant-grey-70);

            h1 {
                color: var(--gradiant-grey-70);
            }

            .animated-h1 {
                color: var(--gradiant-grey-70);
            }
        }

        main {
            .events {
                .event {
                    background-color: var(--gradiant-grey-30);
                    color: var(--gradiant-grey-90);

                    .countdown {
                        &.fade {
                            color: var(--gradiant-grey-30);
                        }

                        .date {
                            color: var(--gradiant-grey-90);
                        }
                    }
                }
            }
        }
    }
}