@import "./_variables.scss";

.my-events, .my-event {
    --event-height: 10rem;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;

    .animated-header {
        margin-block: 0 1rem;

        .backdrop {
            background-image: url("../images/event-header.jpg");
        }
    }

    .countdown {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 100;
        gap: .5rem;
        height: var(--event-height);
        line-height: 1.1em;
        opacity: 1;
        position: relative;
        transition: opacity 1s ease-in-out, color 300ms ease-in-out, color 1s ease-in-out, color 300ms ease-in-out;
        text-align: center;
        width: 50%;

        &.fade, &.fade.past, &.switch {
            .part {
                opacity: 0;
            }

            .separator {
                display: none;
            }
        }

        &.past {
            opacity: .25;
        }

        .part {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 6rem;
            transition: opacity 1s ease-in-out, color 300ms ease-in-out;
            width: 5rem;

            &:first-child {
                width: unset;
            }

            .count {
                display: block;
                font-size: 4rem;
                font-weight: 100;
                height: 2rem;
            }

            .label {
                display: block;
                font-size: 1rem;
                font-weight: 100;
                height: 1rem;
                text-transform: uppercase;
            }
        }

        .separator {
            animation: blink 1s infinite ease-in-out;
            font-size: 2rem;
            height: 4.5rem;
            //padding-top: .25em;
            transition: opacity 1s ease-in-out, color 300ms ease-in-out
        }

        .date {
            align-items: center;
            display: flex;
            justify-content: center;
            inset: 0;
            line-height: 1.1em;
            opacity: 0;
            position: absolute;
            transition: opacity 300ms ease-in-out;
            text-align: center;

            &.show {
                opacity: 1;
            }
        }

        @keyframes blink {
            49% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
    }
}

.my-events {
    --event-height: 10rem;

    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .events-header {
            align-items: center;
            display: flex;
            gap: .25em;
            justify-content: flex-end;

            .event-layout {
                align-items: center;
                background-color: var(--gradient-ardoise-50);
                border-radius: .25em;
                color: var(--gradient-ardoise-100);
                cursor: pointer;
                display: flex;
                font-size: 2rem;
                height: 2em;
                justify-content: center;
                width: 2em;

                &.active {
                    background-color: var(--gradient-ardoise-30);
                }
            }

            .add-event {
                align-items: center;
                background-color: var(--gradient-ardoise-50);
                border-radius: .25em;
                box-shadow: 0 0 0 var(--gradient-ardoise-20);
                color: var(--gradient-ardoise-100);
                cursor: pointer;
                display: flex;
                font-weight: 600;
                padding: 1em 2em;
                transition: translate 100ms ease-out;

                i {
                    font-size: 2em;
                    margin-right: .5em;
                }

                &:hover {
                    box-shadow: 0 4px 0 var(--gradient-ardoise-20);
                    translate: 0 -4px;
                }

                &.click {
                    box-shadow: 0 0 0 var(--gradient-ardoise-20);
                    translate: 0 0;
                }
            }

        }

        .events {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            width: 100%;

            a {
                transition: scale 300ms ease-in-out;
                width: 100%;

                &.deleted {
                    scale: 0;
                }

                .event {
                    align-items: flex-start;
                    display: flex;
                    justify-content: flex-start;
                    background-color: var(--gradient-ardoise-90-forced);
                    border-radius: .5em;
                    overflow: hidden;
                    width: 100%;

                    &.light {
                        color: var(--gradient-ardoise-30-forced);

                        h2 {
                            color: var(--gradient-ardoise-30-forced);
                        }

                        .countdown {
                            color: var(--gradient-ardoise-30-forced);
                        }

                        .alert {
                            border: .25rem solid var(--gradient-green-30);
                            color: var(--gradient-green-30);
                        }

                        .past-event {
                            border: .25rem solid var(--gradient-ardoise-30-forced);
                            color: var(--gradient-ardoise-30-forced);
                        }

                        .watch-provider {
                            border-color: var(--gradient-ardoise-30-forced);
                        }
                    }

                    &.dark {
                        color: var(--gradient-ardoise-90-forced);

                        h2 {
                            color: var(--gradient-ardoise-90-forced);
                        }

                        .countdown {
                            color: var(--gradient-ardoise-90-forced);
                        }

                        .alert {
                            border: .25rem solid var(--gradient-green-90);
                            color: var(--gradient-green-90);
                        }

                        .past-event {
                            border: .25rem solid var(--gradient-ardoise-90-forced);
                            color: var(--gradient-ardoise-90-forced);
                        }

                        .watch-provider {
                            border-color: var(--gradient-ardoise-90-forced);
                        }
                    }

                    .poster {
                        height: var(--event-height);
                        width: 10em;

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }

                        .no-poster {
                            align-items: center;
                            background-color: var(--gradient-ardoise-90);
                            display: flex;
                            flex-direction: column;
                            font-size: 2rem;
                            justify-content: center;
                            aspect-ratio: 1 / 1;
                            min-width: 24rem;
                            width: 20vw;
                        }
                    }

                    &:has(.no-poster) {
                        .infos, .countdown {
                            background-color: var(--gradient-ardoise-90);
                        }
                    }

                    .infos {
                        align-items: flex-start;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: var(--event-height);
                        padding: 1em;
                        position: relative;
                        width: calc(50% - 10em);

                        .tools {
                            @include crud-tools(-6rem, 1rem);
                        }

                        .alert, .past-event {
                            border-radius: 50%;
                            font-size: 2rem;
                            padding: .375rem .5rem;
                            position: absolute;
                            right: 1rem;
                            top: 1rem;
                        }

                        .watch-provider {
                            border: 2px solid;
                            border-radius: calc(.25rem + 2px);
                            position: absolute;
                            right: 1rem;
                            top: 1rem;

                            img {
                                border-radius: .25rem;
                                height: 3.25rem;
                                object-fit: cover;
                                width: 3.25rem;
                            }
                        }

                        .past-event {
                            bottom: 1rem;
                            padding: .5rem;
                            top: unset;
                        }
                    }
                }
            }

            .no-event {
                background-color: var(--gradient-ardoise-50);
                border-radius: 1em;
                color: var(--gradient-ardoise-100);
                font-weight: 600;
                padding: 1em 2em;
            }

            &.roomy {
                flex-direction: row;
                flex-wrap: wrap;

                a {
                    width: unset;

                    .event {
                        flex-direction: column;
                        width: unset;

                        .poster {
                            height: unset;
                            width: unset;

                            img {
                                aspect-ratio: 1 / 1;
                                min-width: 24rem;
                                width: 20vw;
                            }
                        }

                        .infos {
                            height: unset;
                            width: 100%;

                            h2, .sub-heading {
                                overflow-x: auto;
                                min-width: 22rem;
                                text-wrap: nowrap;
                                width: calc(20vw - 2rem);
                            }

                            .sub-heading {
                                height: 1.25em;
                            }

                            .past-event {
                                bottom: 1.5rem;
                                right: 5rem;
                            }
                        }

                        .countdown {
                            font-size: 1.75em;
                            height: unset;
                            width: 100%;

                            .part {
                                .count {
                                    font-size: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .form {
            align-items: center;
            display: flex;
            justify-content: center;

            .switch {
                margin-left: unset;
            }

        }
    }
}

.form-dialog2 {
    .content {
        span {
            font-weight: bold;
        }
    }
}

.my-event {
    main {
        border-radius: 1rem;
        padding: 1rem;
        width: 100%;

        &.light {
            color: var(--gradient-ardoise-30-forced);

            h2 {
                color: var(--gradient-ardoise-30-forced);
            }
        }

        &.dark {
            color: var(--gradient-ardoise-90-forced);

            h2 {
                color: var(--gradient-ardoise-90-forced);
            }
        }

        .sub-header {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;

            .thumbnail, .banner {
                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .thumbnail {
                border: 4px solid var(--gradient-ardoise-90-forced);
                border-radius: 50%;
                height: 8em;
                width: 8em;

                img {
                    border-radius: 50%;
                }
            }

            .banner {
                border-radius: 1em;
                height: 30em;
                margin-left: auto;
                width: calc(100% - 9em);

                img {
                    border-radius: 1em;
                }
            }
        }

        .event {
            font-size: clamp(1rem, 1vw, 2rem);
            margin-left: 9rem;

            h3 {
                font-weight: 100;
            }

            .dates {
                align-items: flex-start;
                display: flex;
                font-size: .875rem;
                justify-content: flex-start;

                .date {
                    margin-right: 1rem;
                }
            }

            .countdown {
                width: 100%;
            }

            .description {
                font-size: clamp(1rem, 2vw, 3rem);
                line-height: 1.1em;
                margin-top: 1em;
            }
        }

        .images {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            margin-block: 1rem;

            .image {
                align-items: center;
                display: flex;
                justify-content: center;

                figure {
                    max-width: 100%;

                    img {
                        border-radius: 1rem;
                        margin-inline: auto;
                        max-width: 20rem;
                    }
                }
            }
        }
    }
}
