@import "variables";

.my-events, .my-event {
    --event-height: 10rem;

    @include flex-col(flex-start, center);
    padding-top: 1em;

    .header {
        @include animated-header("../images/event-header.jpg");
    }

    .nav-breadcrumb {
        margin: 1em 0 1em auto;
    }

    .countdown {
        @include flex-100();
        font-size: 2em;
        font-weight: 100;
        height: var(--event-height);
        line-height: 1.1em;
        opacity: 1;
        position: relative;
        transition: opacity 2s ease-in-out, color 300ms ease-in-out;
        text-align: center;
        width: 50%;

        &.switch {
            opacity: 0;
        }

        &.fade {
            color: var(--gradiant-grey-90);
        }

        &.past {
            opacity: .25;
        }

        .part {
            @include flex-col(center, space-evenly);
            height: 6rem;
            width: 2.5em;

            .count {
                display: block;
                font-size: 4rem;
                font-weight: 100;
                height: 2rem;
            }

            .label {
                display: block;
                font-size: 1rem;
                font-weight: 100;
                height: 1rem;
                text-transform: uppercase;
            }
        }

        .separator {
            animation: blink 1s infinite ease-in-out;
            font-size: 2em;
            height: 4.5rem;
            //padding-top: .25em;
        }

        .date {
            @include flex-100();
            color: var(--gradiant-grey-20);
            inset: 0;
            line-height: 1.1em;
            opacity: 0;
            position: absolute;
            transition: opacity 300ms ease-in-out;
            text-align: center;

            &.show {
                opacity: 1;
            }
        }

        @keyframes blink {
            49% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
    }
}

.my-events {
    --event-height: 10rem;

    main {
        @include flex-100();

        .events {
            @include flex-col();
            gap: 1em;
            width: 100%;

            a {
                transition: scale 300ms ease-in-out;
                width: 100%;

                &.deleted {
                    scale: 0;
                }

                .event {
                    @include flex-row(flex-start, flex-start);
                    background-color: var(--gradiant-grey-90);
                    border-radius: .5em;
                    color: var(--gradiant-grey-30);
                    overflow: hidden;
                    width: 100%;

                    .poster {
                        height: var(--event-height);
                        width: 10em;

                        img {
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }

                    .infos {
                        @include flex-col(flex-start, center);
                        height: var(--event-height);
                        padding: 1em;
                        position: relative;
                        width: calc(50% - 10em);

                        .tools {
                            @include crud-tools();
                        }
                    }
                }
            }

            a:has(.add-event) {
                margin-left: auto;
                width: unset;
            }

            .no-event, .add-event {
                background: var(--btn-primary);
                background-color: var(--gradiant-ardoise-50);
                border-radius: 1em;
                color: var(--gradiant-grey-100);
                font-weight: 600;
                padding: 1em 2em;
            }

            .add-event {
                align-items: center;
                box-shadow: 0 0 0 var(--gradiant-grey-20);
                cursor: pointer;
                display: flex;
                margin-left: auto;
                transition: translate 100ms ease-out;

                i {
                    font-size: 2em;
                    margin-right: .5em;
                }

                &:hover {
                    box-shadow: 0 4px 0 var(--gradiant-grey-20);
                    translate: 0 -4px;
                }

                &.click {
                    box-shadow: 0 0 0 var(--gradiant-grey-20);
                    translate: 0 0;
                }
            }
        }

        .form {
            @include flex-100();

            form {
                @include mtt-form();
            }

            .switch {
                @include switcher-with-label(11em, var(--gradiant-green-30), var(--gradiant-grey-60));
                margin-left: unset;
            }

        }
    }
}

.confirm-deletion {
    @include dialog2(32em);

    .content {
        span {
            font-weight: bold;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .my-events {
        main {
            .form {
                form {
                    box-shadow: 0 0 1em hsla(0, 0, 100%, .2), 0 0 3em hsla(0, 0, 100%, .15), 0 0 10em hsla(0, 0, 100%, .1);
                }
            }
        }
    }

    .confirm-deletion {
        .overlay {
            background-color: var(--gradiant-grey-20);
            border-color: var(--gradiant-grey-50);
            color: var(--gradiant-grey-80);

            .header {
                .close {
                    color: var(--gradiant-grey-80);
                }
            }
        }
    }
}

.my-event {
    .sub-header {
        @include flex-100();

        .thumbnail, .banner {
            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .thumbnail {
            border: 4px solid var(--gradiant-grey-90);
            border-radius: 50%;
            height: 8em;
            width: 8em;

            img {
                border-radius: 50%;
            }
        }

        .banner {
            border-radius: 1em;
            height: 30em;
            margin-left: auto;
            width: calc(100% - 9em);

            img {
                border-radius: 1em;
            }
        }
    }

    h3 {
        font-weight: 100;
    }

    .dates {
        @include flex-row(start, start);
        font-size: .75em;

        .date {
            margin-right: 1em;
        }
    }

    .description {
        margin-top: 1em;
    }

    .image {
        @include flex-100();
        margin-bottom: 2em;

        figure {
            max-width: 100%;

            img {
                border-radius: 1em;
                margin-inline: auto;
                max-width: 100%;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {

    .my-events, .my-event {

        .header {
            background-color: var(--gradiant-grey-20);
            border-radius: 1em;
            color: var(--gradiant-grey-70);

            h1 {
                color: var(--gradiant-grey-70);
            }

            .animated-h1 {
                color: var(--gradiant-grey-70);
            }
        }

        .countdown {
            &.fade {
                color: transparent;
                //color: var(--gradiant-grey-30);
            }

            .date {
                color: var(--gradiant-grey-90);
            }
        }
    }

    .my-events {

        main {
            .events {
                a {
                    .event {
                        background-color: var(--gradiant-grey-30);
                        color: var(--gradiant-grey-90);
                    }
                }
            }
        }
    }

    //.my-event {
    //    .countdown {
    //        &.fade {
    //            color: var(--gradiant-grey-30);
    //        }
    //
    //        .date {
    //            color: var(--gradiant-grey-90);
    //        }
    //    }
    //}
}