@import "variables";

//select::part()
.form-select {
    appearance: none;
    background-color: var(--gradiant-grey-90);
    border: 1px solid var(--gradiant-grey-50);
    border-radius: .25em;
    color: var(--gradiant-grey-10);
    font-size: 1em;
    font-weight: 200;
    padding: .25em 1.5em .25em .5em;
    position: relative;

    &:before {
        content: "⌄";
        position: absolute;
        right: 1em;
        top: .5em;
    }
}

.form-control {
    appearance: unset;
    border: 1px solid var(--gradiant-grey-40);
    padding: .125em .5em;
}

.btn {
    appearance: none;
    background-color: var(--gradiant-grey-90);
    border: 1px solid var(--gradiant-grey-50);
    border-radius: .25em;
    color: var(--gradiant-grey-10);
    cursor: pointer;
    font-size: 1em;
    font-weight: 200;
    padding: .25em 1em;

    &:hover {
        background-color: var(--gradiant-grey-80);
    }
}

.btn-group {
    @include flex-row();

    .btn:first-child {
        border-left: 1px solid var(--gradiant-grey-50);
        border-radius: .25em 0 0 .25em;
    }

    .btn:not(:first-child, :last-child) {
        border-left: none;
        border-radius: 0;
    }

    .btn:last-child {
        border-radius: 0 .25em .25em 0;
    }

    &.btn-group-sm {
        font-size: .75em;

        .btn {
            padding: .125em .75em;
        }
    }
}

.btn-secondary {
    background-color: var(--gradiant-grey-40);
    border-color: var(--gradiant-grey-50);
    color: var(--gradiant-grey-90);

    &:hover {
        background-color: var(--gradiant-grey-50);
        border-color: var(--gradiant-grey-60);
    }
}

.btn-outline-secondary {
    background-color: transparent;
    border-color: var(--gradiant-grey-50);
    color: var(--gradiant-grey-90);

    &:hover {
        background-color: var(--gradiant-grey-30-alpha-50);
        border-color: var(--gradiant-grey-60);
    }
}

