@import "variables";

.ml {
    margin-left: auto;
}

.form-select {
    appearance: none;
    background-color: var(--gradient-ardoise-90);
    border: 1px solid var(--gradient-ardoise-50);
    border-radius: .25em;
    color: var(--gradient-ardoise-10);
    font-size: 1em;
    font-weight: 200;
    height: 2em;
    padding: .25em 1.5em .25em .5em;
    position: relative;

    &:before {
        content: "⌄";
        position: absolute;
        right: 1em;
        top: .5em;
    }
}

.form-control {
    appearance: unset;
    border: 1px solid var(--gradient-ardoise-40);
    padding: .125em .5em;
}

.btn {
    appearance: none;
    background-color: var(--gradient-ardoise-90);
    border: 1px solid var(--gradient-ardoise-50);
    border-radius: .25em;
    color: var(--gradient-ardoise-10);
    cursor: pointer;
    font-size: 1em;
    font-weight: 200;
    padding: .25em 1em;
    leading-trim: both;
    text-edge: cap alphabetic;

    &:hover {
        background-color: var(--gradient-ardoise-80);
    }
}

.btn-sm {
    font-size: .75em;
    padding: 0 1em;
}

.btn-group {
    @include flex-row();

    .btn:first-child {
        border-left: 1px solid var(--gradient-ardoise-50);
        border-radius: .25em 0 0 .25em;
    }

    .btn:not(:first-child, :last-child) {
        border-left: none;
        border-radius: 0;
    }

    .btn:last-child {
        border-radius: 0 .25em .25em 0;
    }

    &.btn-group-sm {
        font-size: .75em;

        .btn {
            padding: .125em .75em;
        }
    }
}

.btn-primary {
    background-color: var(--gradient-ardoise-50);
    //background-image: var(--btn-primary);
    border-color: var(--gradient-ardoise-80);
    color: var(--gradient-ardoise-90);

    &:hover {
        background-color: var(--gradient-ardoise-60);
        border-color: var(--gradient-ardoise-90);
    }
}

.btn-secondary {
    background-color: var(--gradient-ardoise-40);
    //background-image: var(--btn-secondary);
    border-color: var(--gradient-ardoise-50);
    color: var(--gradient-ardoise-90);

    &:hover {
        background-color: var(--gradient-ardoise-50);
        border-color: var(--gradient-ardoise-60);
    }
}

.btn-danger {
    background-color: var(--gradient-red-40);
    //background-image: var(--btn-danger);
    border-color: var(--gradient-red-80);
    color: var(--gradient-red-90);

    &:hover {
        background-color: var(--gradient-red-50);
        border-color: var(--gradient-red-90);
    }
}

.btn-warning {
    background-color: var(--gradient-orange-50);
    //background-image: var(--btn-warning);
    border-color: var(--gradient-orange-80);
    color: var(--gradient-orange-90);

    &:hover {
        background-color: var(--gradient-orange-60);
        border-color: var(--gradient-orange-90);
    }
}

.btn-outline-secondary {
    background-color: transparent;
    border-color: var(--gradient-ardoise-50);
    color: var(--gradient-ardoise-90);

    &:hover {
        background-color: var(--gradient-ardoise-30-alpha-50);
        border-color: var(--gradient-ardoise-60);
    }
}

input[type="text"],
input[type="search"],
input[type="email"] {
    appearance: unset;
    border: none;
    border-radius: .25em;
    font-size: 1em;
    font-weight: 200;
    height: 2em;
    padding: .5em;
}

label:has(input[type="checkbox"]) {
    align-items: center;
    display: flex;

    input[type="checkbox"] {
        appearance: none;
        background-color: var(--gradient-ardoise-20);
        border: 1px solid var(--gradient-ardoise-90);
        border-radius: .125em;
        color: var(--gradient-ardoise-90);
        height: 1em;
        margin-inline-end: .5em;
        position: relative;
        width: 1em;

        &:focus {
            outline: none;
        }

        &:checked {
            &::after {
                content: "✔";
                display: block;
                font-size: 1.25rem;
                left: .125rem;
                position: absolute;
                top: -.375rem;
                width: 100%;
            }
        }
    }
}

label:has(select) {
    align-items: center;
    display: flex;
    gap: .5em;
    position: relative;

    select {
        appearance: none;
        background-color: var(--gradient-ardoise-25);
        border: 1px solid var(--gradient-ardoise-50);
        border-radius: .25em;
        color: var(--gradient-ardoise-90);
        padding: .125em 1.5em .125em .5em;

        &:focus {
            outline: none;
        }
    }

    &::after {
        border-bottom: 4px solid var(--gradient-ardoise-50);
        border-left: 4px solid transparent;
        border-right: 4px solid var(--gradient-ardoise-50);
        border-top: 4px solid transparent;
        content: "";
        display: block;
        height: .5em;
        position: absolute;
        right: .75em;
        top: .5em;
        transform: rotate(45deg);
        width: .5em;
        z-index: 2;
    }
}

@media (prefers-color-scheme: light) {

    .form-select {
        background-color: var(--gradient-ardoise-80);
        border: 1px solid var(--gradient-ardoise-10);
        color: var(--gradient-ardoise-10);
    }

    .form-control {
        border: 1px solid var(--gradient-ardoise-60);
    }

    .btn {
        background-color: var(--gradient-ardoise-10);
        border: 1px solid var(--gradient-ardoise-50);
        color: var(--gradient-ardoise-90);

        &:hover {
            background-color: var(--gradient-ardoise-20);
        }
    }

    .btn-group {
        .btn:first-child {
            border-left: 1px solid var(--gradient-ardoise-50);
        }
    }

    .btn-secondary {
        background-color: var(--gradient-ardoise-80);
        border-color: var(--gradient-ardoise-50);
        color: var(--gradient-ardoise-10);

        &:hover {
            background-color: var(--gradient-ardoise-50);
            border-color: var(--gradient-ardoise-40);
        }
    }

    .btn-outline-secondary {
        background-color: transparent;
        color: var(--gradient-ardoise-10);

        &:hover {
            background-color: var(--gradient-ardoise-30-alpha-50);
            border-color: var(--gradient-ardoise-40);
        }
    }
}
