@import "variables";

.notifications {
    @include flex-col(flex-end, center);
    position: fixed;
    right: 8em;
    top: 1em;
    z-index: 1000;

    &.debug {
        border: 2px dashed var(--gradient-ardoise-70);
        border-radius: .5em;
    }

    .notification {
        border-radius: .5em;
        color: var(--gradient-ardoise-90);
        margin-bottom: 1em;
        opacity: 0;
        padding: 1em 2em;

        &.success {
            background-color: hsla(111, 20%, 57%, 0.87);
            border: 2px solid hsl(111, 40%, 57%);
        }

        &.error {
            background-color: hsla(0, 20%, 56%, 0.87);
            border: 2px solid hsl(0, 40%, 56%);
        }

        &.info {
            background-color: hsla(0, 0%, 60%, 0.87);
            border: 2px solid hsl(0, 0%, 80%);
        }

        &.init {
            transform: translate(25em, 0);
        }

        &.start {
            transition: opacity .5s, transform .5s;
        }

        &.visible {
            opacity: 1;
            transform: translate(0, 0);
        }

        &.end {
            transform: scale(0.1);
        }
    }
}

.movie-header {
    border-radius: 1em;
    opacity: 0;
    overflow: auto;
    position: relative;
    transform: translate(0, -100%);

    img {
        object-fit: cover;
        width: 100%;
    }

    &.no-header {
        height: 5em;
        width: 100%;
    }

    &.start {
        transition: opacity .5s, transform .5s;
    }

    &.visible {
        opacity: 1;
        transform: translate(0, 0);
    }

    .user {
        @include flex-row(center, center);
        bottom: 2em;
        position: absolute;
        right: 2em;

        .rating {
            @include rating();
        }
    }

    .ygg {
        @include seen(var(--gradient-orange-50), 2.5em, 7.5em);
        bottom: 32px;
        left: 32px;
        right: unset;

        a {
            color: var(--gradient-orange-50);
        }
    }
}

.has-been-seen {
    @include flex-row();
    background-color: var(--gradient-ardoise-30);
    border-radius: 50%;
    color: var(--movie-add);
    cursor: pointer;
    font-size: 2em;
    height: 1.35em;
    padding: 0 .2em;
    width: 1.35em;

    &.yes {
        color: var(--movie-seen);
    }
}

.collection-header {
    background-size: cover;
    background-position: center 25%;
    height: 30em;
    position: relative;

    .collection-poster {
        position: absolute;
        left: 1em;
        top: 1em;

        img {
            border-radius: .75em;
            height: 28em;
            width: auto;
        }
    }
}

.part {
    .movie-header {
        .has-been-seen {
            bottom: 1em;
            right: 1em;
        }
    }

    .sub-part {
        @include flex-100(flex-start, center);
        padding: 1em;

        .movie-poster {
            img {
                border-radius: .5em;
            }
        }
    }
}

.movie-info {
    @include flex-col(unset, unset);
    font-weight: 100;

    .top {
        @include flex-col(unset, unset);
        margin-top: 2em;

        .movie-detail {
            @include flex-col(unset, unset);
            flex-wrap: wrap;
            width: 100%;

            .title {
                font-size: 2em;
                //font-size: clamp(1rem, 3vw + 1rem, 3rem);
                font-weight: bold;
                margin-right: auto;
                padding: .5em;
            }

            .watch-providers {
                padding: 1em;

                .streaming, .buy {
                    font-weight: 300;
                }

                .provider-list {
                    @include flex-row(center, start);
                    flex-wrap: wrap;

                    .provider {
                        background-color: var(--gradient-ardoise-10);
                        border-radius: .5em;
                        @include flex-row(center, start);
                        margin: .125em;
                        padding: .25em .25em .25em .5em;

                        .logo {
                            border-radius: .25em;
                            overflow: hidden;

                            img {
                                height: 2em;
                                object-fit: cover;
                                width: 2em;
                            }
                        }

                        .name {
                            color: var(--gradient-ardoise-80);
                            font-weight: 100;
                            margin-right: 1em;
                        }
                    }
                }

                .watch {

                }
            }

            .genres {
                margin-right: auto;

                .genre {
                    background-color: var(--gradient-ardoise-20-alpha-50);
                    border-color: var(--gradient-ardoise-80);
                    color: var(--gradient-ardoise-80);

                    a {
                        color: var(--gradient-ardoise-80);
                        height: 100%;
                        padding: .25em 1em;
                        text-decoration: none;
                        width: 100%;
                    }
                }
            }

            .part-1 {
                @include flex-col(flex-start, flex-start);
                width: 100%;
            }

            .part-2 {
                @include flex-100(flex-start, flex-start);

                .part-2L {
                    @include flex-col(flex-start, flex-start);
                    width: 100%;
                }

                .part-2R {
                    @include flex-col(center, flex-start);
                    width: 100%;

                    .collection {
                        @include flex-col();
                        background-color: var(--gradient-ardoise-30-alpha-50);
                        border-radius: 1em;
                        overflow: hidden;

                        .content {
                            @include flex-col();
                            padding: 1em;

                            .poster {
                                margin-bottom: 1em;

                                img {
                                    border-radius: .5em;
                                }
                            }
                        }
                    }
                }
            }

            .overview {
                @include flex-col(flex-start, flex-start);
                padding: 0 1.25em 1.25em;
                width: 100%;

                .the-overview {

                }

                .overview-add {
                    @include flex-row(center, center);
                    border: 2px solid var(--mtt-body-color);
                    border-radius: 50%;
                    cursor: pointer;
                    margin-bottom: .5rem;
                    width: 20px;
                }

                .overview-textarea {
                    @include flex-row(flex-start, flex-start);
                    gap: .5rem;
                    height: 0;
                    overflow: hidden;
                    transition: height 300ms ease-in-out, padding 300ms ease-in-out;
                    transform-origin: 0 0;
                    width: 100%;

                    &.open {
                        height: 10rem;

                        textarea {
                            padding: .5rem;
                        }
                    }

                    textarea {
                        border: none;
                        border-radius: .5rem;
                        height: 100%;
                        width: 100%;
                    }

                    .overview-buttons {
                        @include flex-col(safe, flex-start);
                        gap: .5rem;
                    }
                }

                .overview-textarea:has(.open) {

                }
            }

            .info {
                padding-left: 1.25em;
            }

            .infos {
                @include flex-col(flex-start, flex-start);
                padding-left: 1.25em;
            }

            .release-dates {
                @include flex-col(unset, unset);
                margin-bottom: 1em;
                margin-top: 1em;

                .country {
                    @include flex-col(unset, unset);
                    padding-left: 1em;

                    .dates {
                        @include flex-col(unset, unset);
                        padding-left: .5em;

                        .event {
                            @include flex-row(flex-end, flex-start);
                            padding: .25em;
                        }
                    }
                }
            }

            .productions {
                padding: 20px 0 0 20px;

                > div {
                    @include flex-row(flex-start, unset);
                    flex-wrap: wrap;
                    list-style-type: none;

                    .production {
                        @include flex-row(unset, unset);
                        background-color: var(--gradient-ardoise-80);
                        border-radius: .5em;
                        color: var(--gradient-ardoise-20);
                        font-size: .75em;
                        font-weight: 100;
                        margin: .5em .5em 0 0;
                        padding: .25em .5em;
                    }
                }
            }
        }

        .movie-poster {
            @include flex-col(flex-start, flex-start);
            //margin-bottom: auto;
            //margin-left: auto;
            margin-top: 1em;
            width: 100%;

            img {
                border: 8px solid var(--gradient-ardoise-90);
                width: 100%;
            }

            .replacement {
                background: rgb(131, 58, 180);
                background: linear-gradient(225deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
                border: 8px solid var(--gradient-ardoise-90);
                height: 30vw;
                width: 100%;
            }

            .favorite {
                @include flex-col();
                padding: 1em .5em;
                width: 100%;

                .control {
                    @include flex-100();

                    .switch {
                        @include switcher(var(--gradient-green-30), var(--gradient-ardoise-80))
                    }
                }

                .message {
                    @include flex-100();
                    border-radius: .5em;
                    color: var(--gradient-ardoise-100);
                    font-weight: 300;
                    margin-top: 1em;
                    padding: .5em;

                    &.added {
                        background-color: var(--gradient-green-30);
                    }

                    &.removed {
                        background-color: var(--gradient-orange-30);
                    }
                }
            }

            .movie-collection {
                @include flex-col(flex-start, flex-start);
                margin-top: 2em;
                transition: opacity 300ms ease-in-out;
                width: 100%;

                &.hide {
                    opacity: 0;
                }

                &.d-none {
                    display: none;
                }

                .label {
                    color: var(--gradient-ardoise-70);
                    font-weight: 100;
                    text-transform: uppercase;
                }

                .field {
                    margin-top: 1em;
                    width: 100%;

                    .list {
                        @include flex-row(flex-start, center);
                        flex-wrap: wrap;
                        background-color: var(--gradient-ardoise-10-alpha-50);
                        color: var(--gradient-ardoise-80);
                        border: 0;
                        border-radius: .5em;
                        padding: .5em;
                        width: 100%;

                        .item {
                            background-color: var(--gradient-ardoise-30);
                            border-radius: .25em;
                            color: var(--gradient-ardoise-80);
                            cursor: pointer;
                            padding: .25em .5em;
                            margin: .25em;

                            &.selected {
                                background-color: var(--gradient-orange-50);
                            }
                        }
                    }
                }
            }
        }
    }

    a {
        &span[data-descr] {
            position: relative;

            &:hover::after {
                background-color: var(--gradient-ardoise-10);
                border: 2px var(--gradient-ardoise-60) solid;
                border-radius: .5em;
                color: var(--gradient-ardoise-60);
                content: attr(data-descr);
                font-size: .75em;
                font-weight: 100;
                left: 0;
                min-width: 12.5em;
                padding: .75em;
                position: absolute;
                top: 1.5em;
                z-index: 1;
            }
        }
    }

    .cast, .crew {
        @include flex-row();
        background-color: var(--gradient-ardoise-40-alpha-50);
        border-radius: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        width: 100%;

        .content {
            @include flex-row(center, flex-start);
            flex-wrap: wrap;
            margin: 0 auto;
            max-height: 20em;
            min-height: 14em;
            overflow-y: scroll;

            .actor, .member {
                @include flex-col(center, unset);
                background-color: var(--gradient-ardoise-80);
                border-radius: .5em;
                cursor: grab;
                height: 12.5em;
                margin: .5em .5em;
                width: 7em;

                .profile {
                    background-image: url("../images/profile.jpg");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: .5em .5em 0 0;
                    height: 10em;
                    overflow: hidden;
                    transition: border-radius .25s, height .25s;
                    width: 100%;

                    &:hover {
                        border-radius: 50%;
                        height: 15em;
                    }

                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                div:not(.profile) {
                    @include flex-col();
                    height: 2.5em;
                    line-height: 1em;

                    .name {
                        font-size: .75em;
                        font-weight: bold;
                        text-align: center;
                    }

                    .character, .job {
                        font-size: .5em;
                        text-align: center;
                    }
                }
            }
        }
    }

    .images {
        @include images-tmdb;
    }
}

@media (min-width: 991.98px) {

    .movie-info {

        .top {
            @include flex-100(unset, unset);

            .movie-detail {
                width: 70%;

                .part-1 {
                    width: 100%;
                }

                .part-2 {

                    .part-2L {
                        width: 50%;
                    }

                    .part-2R {
                        width: 50%;
                    }
                }
            }

            .movie-poster {
                margin-top: 0;
                padding-left: 1em;
                width: 30%;
            }
        }
    }
}

.recommendations {
    @include flex-row(stretch, space-around);
    background-color: var(--gradient-ardoise-40-alpha-50);
    border-radius: 1em;
    flex-wrap: wrap;
    max-height: 20em;
    padding: .5em;
    overflow-y: scroll;

    .recommendation {
        @include flex-col(center, unset);
        border-radius: .5em;
        flex-wrap: wrap;
        height: 14.5em;
        margin: .5em;
        overflow: hidden;
        width: 10em;

        .no-poster {
            color: var(--gradient-ardoise-70);
            font-weight: 100;
            position: relative;

            .title {
                position: absolute;
                text-align: center;
                top: 1em;
                width: 100%;
            }

            .original-title {
                bottom: 1em;
                position: absolute;
                text-align: center;
                width: 100%;
            }
        }

        a {
            height: 100%;
            width: 100%;

            img {
                border-radius: .5em;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

.person-modal {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

    .person-infos {
        @include flex-col(unset, space-evenly);

        .biography {
            padding-right: 1em;

            > div > div {
                margin: .5em;
            }
        }

        .imdb-page {
            align-items: center;
            display: flex;

            a {
                background-image: url("../images/imdb.png");
                background-size: cover;
                display: block;
                height: 27px;
                margin-left: 2em;
                width: 64px;
            }
        }
    }

    .person-profile {
        width: 100%;

        img {
            border-radius: .5em;
            width: 100%;
        }
    }
}

@media (min-width: 992px) {

    .person-modal {
        @include flex-row(flex-start, flex-start);

        .person-infos {
            width: 70%;
        }

        .person-profile {
            margin-left: auto;
            width: 30%;
        }
    }
}

.collection-parts {
    font-weight: 100;

    .part {
        margin-bottom: 2em;

        .movie-header {
            border-radius: 1em;
            margin-bottom: 1em;
        }
    }
}

.collection .card {
    background-color: var(--gradient-ardoise-90);
}

@media (prefers-color-scheme: dark) {

    .movie-detail .title {
        color: var(--gradient-ardoise-90);
    }

    .movie-info, .tv-info {
        .cast, .crew {
            background-color: var(--gradient-ardoise-30-alpha-50);

            .content {

                .actor, .member {
                    background-color: var(--gradient-ardoise-30);

                    .profile {
                        background-image: url("../images/profile_dark.jpg");
                    }
                }
            }
        }

        .images {
            > div {
                background-color: var(--gradient-ardoise-20-alpha-50);
                border-radius: .5em;
            }
        }
    }

    .collection .card {
        background-color: var(--gradient-ardoise-30);
    }

    .recommendations {
        background-color: var(--gradient-ardoise-10-alpha-50);
    }
}
