@import "variables";

.notifications {
    @include flex-col(flex-end, center);
    position: fixed;
    right: 8em;
    top: 1em;

    &.debug {
        border: 2px dashed var(--gradiant-grey-70);
        border-radius: .5em;
    }

    .notification {
        border-radius: .5em;
        color: var(--gradiant-grey-90);
        margin-bottom: 1em;
        opacity: 0;
        padding: 1em 2em;

        &.success {
            background-color: hsla(111, 20%, 57%, 0.87);
            border: 2px solid hsl(111, 40%, 57%);
        }

        &.error {
            background-color: hsla(0, 20%, 56%, 0.87);
            border: 2px solid hsl(0, 40%, 56%);
        }

        &.info {
            background-color: hsla(0, 0%, 60%, 0.87);
            border: 2px solid hsl(0, 0%, 80%);
        }

        &.init {
            transform: translate(25em, 0);
        }

        &.start {
            transition: opacity .5s, transform .5s;
        }

        &.visible {
            opacity: 1;
            transform: translate(0, 0);
        }

        &.end {
            transform: scale(0.1);
        }
    }
}

.movie-header {
    border-radius: 1em;
    opacity: 0;
    overflow: auto;
    position: relative;
    transform: translate(0, -100%);

    &.no-header {
        height: 5em;
        width: 100%;
    }

    &.start {
        transition: opacity .5s, transform .5s;
    }

    &.visible {
        opacity: 1;
        transform: translate(0, 0);
    }

    .user {
        @include flex-row(center, center);
        bottom: 2em;
        position: absolute;
        right: 2em;

        .rating {
            @include rating();
        }
    }
}

.has-been-seen {
    background-color: var(--gradiant-grey-30);
    border-radius: 50%;
    color: var(--movie-add);
    cursor: pointer;
    font-size: 2em;
    padding: 0 .2em;

    &.yes {
        color: var(--movie-seen);
    }
}

.part {
    .movie-header {
        .has-been-seen {
            bottom: 1em;
            right: 1em;
        }
    }

    .sub-part {
        @include flex-100(flex-start, center);
    }
}

.movie-info {
    @include flex-col(unset, unset);
    font-weight: 100;

    .top {
        @include flex-col(unset, unset);
        margin-top: 2em;

        .movie-detail {
            @include flex-col(unset, unset);
            flex-wrap: wrap;
            width: 100%;

            .title {
                font-size: 2em;
                //font-size: clamp(1rem, 3vw + 1rem, 3rem);
                font-weight: bold;
                margin-right: auto;
                padding: .5em;
            }

            .watch-providers {
                padding: 1em;

                .streaming, .buy {
                    font-weight: 300;
                }

                .provider-list {
                    @include flex-row(center, start);
                    flex-wrap: wrap;

                    .provider {
                        background-color: var(--gradiant-grey-50);
                        border-radius: .5em;
                        @include flex-row(center, start);
                        margin: .125em;
                        padding: .25em .25em .25em .5em;

                        .logo {
                            border-radius: .25em;
                            overflow: hidden;

                            img {
                                height: 2em;
                                object-fit: cover;
                                width: 2em;
                            }
                        }

                        .name {
                            font-weight: 100;
                            margin-right: 1em;
                        }
                    }
                }

                .watch {

                }
            }

            .genres {
                margin-right: auto;

                .genre {
                    border-color: var(--gradiant-grey-60);
                    color: var(--gradiant-grey-60);

                    a {
                        color: var(--gradiant-grey-60);
                        height: 100%;
                        padding: .25em 1em;
                        text-decoration: none;
                        width: 100%;
                    }
                }
            }

            .part-1 {
                @include flex-col(flex-start, flex-start);
                width: 100%;
            }

            .part-2 {
                @include flex-100(flex-start, flex-start);

                .part-2L {
                    @include flex-col(flex-start, flex-start);
                    width: 100%;
                }

                .part-2R {
                    @include flex-col(center, flex-start);
                    width: 100%;
                }
            }

            .overview {
                padding: 0 1.25em 1.25em;
            }

            .info {
                padding-left: 1.25em;
            }

            .infos {
                @include flex-col(flex-start, flex-start);
                padding-left: 1.25em;
            }

            .release-dates {
                @include flex-col(unset, unset);
                margin-bottom: 1em;
                margin-top: 1em;

                .country {
                    @include flex-col(unset, unset);
                    padding-left: 1em;

                    .dates {
                        @include flex-col(unset, unset);
                        padding-left: .5em;

                        .event {
                            @include flex-row(flex-end, flex-start);
                            padding: .25em;
                        }
                    }
                }
            }

            .productions {
                padding: 20px 0 0 20px;

                > div {
                    @include flex-row(flex-start, unset);
                    flex-wrap: wrap;
                    list-style-type: none;

                    .production {
                        @include flex-row(unset, unset);
                        background-color: var(--gradiant-grey-30);
                        border-radius: .5em;
                        font-size: .75em;
                        font-weight: 100;
                        margin: .5em .5em 0 0;
                        padding: .25em .5em;
                    }
                }
            }
        }

        .movie-poster {
            @include flex-col(flex-start, flex-start);
            //margin-bottom: auto;
            //margin-left: auto;
            margin-top: 1em;
            width: 100%;

            img {
                border: 8px solid var(--gradiant-grey-90);
                width: 100%;
            }

            .replacement {
                background: rgb(131, 58, 180);
                background: linear-gradient(225deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
                border: 8px solid var(--gradiant-grey-90);
                height: 30vw;
                width: 100%;
            }

            .movie-collection {
                @include flex-col(flex-start, flex-start);
                margin-top: 2em;
                width: 100%;

                .label {
                    color: var(--gradiant-grey-70);
                    font-weight: 100;
                    text-transform: uppercase;
                }

                .field {
                    margin-top: 1em;
                    width: 100%;

                    .list {
                        @include flex-row(flex-start, center);
                        flex-wrap: wrap;
                        background-color: var(--gradiant-grey-10-alpha-50);
                        color: var(--gradiant-grey-80);
                        border: 0;
                        border-radius: .5em;
                        padding: .5em;
                        width: 100%;

                        .item {
                            background-color: var(--gradiant-grey-30);
                            border-radius: .25em;
                            color: var(--gradiant-grey-80);
                            cursor: pointer;
                            padding: .25em .5em;
                            margin: .25em;

                            &.selected {
                                background-color: var(--gradiant-mars-50);
                            }
                        }
                    }
                }
            }
        }
    }

    a {
        &span[data-descr] {
            position: relative;

            &:hover::after {
                background-color: var(--gradiant-grey-10);
                border: 2px var(--gradiant-grey-60) solid;
                border-radius: .5em;
                color: var(--gradiant-grey-60);
                content: attr(data-descr);
                font-size: .75em;
                font-weight: 100;
                left: 0;
                min-width: 12.5em;
                padding: .75em;
                position: absolute;
                top: 1.5em;
                z-index: 1;
            }
        }
    }

    .cast, .crew {
        @include flex-row();
        background-color: var(--gradiant-grey-90);
        border-radius: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        width: 100%;

        .content {
            @include flex-row(center, flex-start);
            flex-wrap: wrap;
            margin: 0 auto;
            max-height: 20em;
            min-height: 16em;
            overflow-y: scroll;

            .actor, .member {
                @include flex-col(center, unset);
                cursor: grab;
                height: 14em;
                margin: .5em .5em;
                width: 7em;

                .profile {
                    background-image: url("../images/profile.jpg");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: .5em;
                    height: 10em;
                    overflow: hidden;
                    transition: border-radius .25s, height .25s;
                    width: 100%;

                    &:hover {
                        border-radius: 50%;
                        height: 15em;
                    }

                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                .name {
                    font-size: .75em;
                    font-weight: bold;
                    text-align: center;
                }

                .character, .job {
                    font-size: .5em;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 991.98px) {

    .movie-info {

        .top {
            @include flex-100(unset, unset);

            .movie-detail {
                width: 70%;

                .part-1 {
                    width: 100%;
                }

                .part-2 {

                    .part-2L {
                        width: 50%;
                    }

                    .part-2R {
                        width: 50%;
                    }
                }
            }

            .movie-poster {
                margin-top: 0;
                padding-left: 1em;
                width: 30%;
            }
        }
    }
}

.recommendations {
    @include flex-row(stretch, space-around);
    background-color: var(--gradiant-grey-90);
    border-radius: 1em;
    flex-wrap: wrap;
    max-height: 20em;
    padding: .5em;
    overflow-y: scroll;

    .recommendation {
        @include flex-col(center, unset);
        border-radius: .5em;
        flex-wrap: wrap;
        height: 14.5em;
        margin: .5em;
        overflow: hidden;
        width: 10em;

        .no-poster {
            color: var(--gradiant-grey-70);
            font-weight: 100;
            position: relative;

            .title {
                position: absolute;
                text-align: center;
                top: 1em;
                width: 100%;
            }

            .original-title {
                bottom: 1em;
                position: absolute;
                text-align: center;
                width: 100%;
            }
        }

        a {
            height: 100%;
            width: 100%;

            img {
                border-radius: .5em;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }
}

.person-modal {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

    .person-infos {
        @include flex-col(unset, space-evenly);

        .biography {
            padding-right: 1em;

            > div > div {
                margin: .5em;
            }
        }

        .imdb-page {
            align-items: center;
            display: flex;

            a {
                background-image: url("../images/imdb.png");
                background-size: cover;
                display: block;
                height: 27px;
                margin-left: 2em;
                width: 64px;
            }
        }
    }

    .person-profile {
        width: 100%;

        img {
            border-radius: .5em;
            width: 100%;
        }
    }
}

@media (min-width: 992px) {

    .person-modal {
        @include flex-row(flex-start, flex-start);

        .person-infos {
            width: 70%;
        }

        .person-profile {
            margin-left: auto;
            width: 30%;
        }
    }
}

.collection-parts {
    font-weight: 100;

    .part {
        margin-bottom: 2em;
    }
}

.collection .card {
    background-color: var(--gradiant-grey-90);
}

@media (prefers-color-scheme: dark) {

    .movie-detail .title {
        color: var(--gradiant-grey-90);
    }

    .movie-info, .tv-info {
        .cast, .crew {
            background-color: var(--gradiant-grey-10-alpha-50);

            .content {

                .actor, .member {

                    .profile {
                        background-image: url("../images/profile_dark.jpg");
                    }
                }
            }
        }
    }

    .collection .card {
        background-color: var(--gradiant-grey-30);
    }

    .recommendations {
        background-color: var(--gradiant-grey-10-alpha-50);
    }
}
