@import "variables";

.notification {
    border-radius: .5em;
    color: #dbdbdb;
    opacity: 0;
    padding: 1em 2em;
    position: fixed;
    right: 8em;
    top: 1em;
    transition: opacity .5s;

    &.success {
        background-color: #84a47e;
    }
    &.error {
        background-color: #a67a7a;
    }
    &.info {
        background-color: #9a9a9a;
    }
}

.movie-header {
    border-radius: 1em;
    overflow: auto;
    position: relative;

    .user {
        @include flex-row(center, center);
        bottom: 2em;
        position: absolute;
        right: 2em;

        .rating {
            @include flex-row();
            background-color: #11d08e;
            border-radius: 1.5em;
            height: 3em;
            margin-right: 1em;
            width: 12em;

            .star {
                background-image: url("../images/star-outline.png");
                background-size: cover;
                height: 2em;
                width: 2em;

                &.ok {
                    background-image: url("../images/star.png");
                }
                &:hover {
                    transform: scale(1.25);
                }
            }
        }
    }
}

.has-been-seen {
    background-color: #333;
    border-radius: 50%;
    color: #dbdbdb;
    cursor: pointer;
    font-size: 2em;
    padding: 0 .2em;

    &.yes {
        color: #11d08e;
    }
}

.part .movie-header .has-been-seen {
    bottom: 1em;
    right: 1em;
}

.movie-info {
    @include flex-row(unset, unset);
    margin-top: 2em;
}

.movie-detail {
    @include flex-col(unset, unset);
    flex-wrap: wrap;
}

.movie-detail .title {
    font-size: 2em;
    font-weight: bold;
    margin-right: auto;
    padding: .5em;
}

.movie-detail .genres {
    margin-right: auto;
}

.movie-detail .genre {
    border-color: #8a8a8a;
    color: #8a8a8a;
}

.movie-detail .genres .genre a {
    color: #8a8a8a;
    height: 100%;
    padding: .25em 1em;
    text-decoration: none;
    width: 100%;
}

.movie-detail .original_title,
.movie-detail .date,
.movie-detail .runtime,
.movie-detail .revenue,
.movie-detail .vote,
.movie-detail .homepage,
.movie-detail .imdb {
    padding-left: 20px;
}

/*
.movie-detail a {
    color: #f2f2f2;
    text-decoration: none;
}
*/

.movie-detail a span[data-descr] {
    position: relative;
}

.movie-detail a span[data-descr]:hover::after {
    background-color: #1c1c1c;
    border: 2px #bdbdbd solid;
    border-radius: .5em;
    color: #dbdbdb;
    content: attr(data-descr);
    font-size: .75em;
    font-weight: 100;
    left: 0;
    min-width: 12.5em;
    padding: .75em;
    position: absolute;
    top: 1.5em;
    z-index: 1;
}

.movie-detail .overview {
    padding: 20px;
}

.movie-detail .productions {
    padding: 20px 0 0 20px;
}

.movie-detail .productions > div {
    @include flex-row(flex-start, unset);
    flex-wrap: wrap;
    list-style-type: none;
}

.movie-detail .productions .production {
    @include flex-row(unset, unset);
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: .5em;
    font-size: .75em;
    font-weight: 100;
    margin: .5em .5em 0 0;
    padding: .25em .5em;
}

.movie-poster {
    @include flex-row(unset, center);
    margin-bottom: auto;
    margin-left: auto;
}

.movie-poster > img {
    border: 8px solid #f2f2f2;
}

.recommendations {
    @include flex-row(center, space-around);
    background-color: #eee;
    border-radius: 1em;
    flex-wrap: wrap;
    max-height: 20em;
    padding: .5em;
    overflow-y: scroll;
}

.recommendation .no-poster {
    color: #dbdbdb;
    font-weight: 100;
    position: relative;
}

.recommendation .no-poster .title {
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
}

.recommendation .no-poster .original-title {
    bottom: 1em;
    position: absolute;
    text-align: center;
    width: 100%;
}

.recommendation img {
    border-radius: .5em;
}

.recommendation {
    @include flex-col(center, unset);
    border-radius: .5em;
    flex-wrap: wrap;
    height: 14.5em;
    margin: .5em;
    overflow: hidden;
    width: 10em;
}

.release-dates {
    @include flex-col(unset, unset);
    margin-bottom: 1em;
    margin-top: 1em;
}

.release-dates > .country {
    @include flex-col(unset, unset);
    padding-left: 1em;
}

.release-dates > .country > .dates {
    @include flex-col(unset, unset);
    padding-left: .5em;
}

.release-dates > .country > .dates > .event {
    @include flex-row(flex-end, flex-start);
    padding: .25em;
}

.person-modal {
    @include flex-row(unset, unset);
}

.person-infos {
    @include flex-col(unset, space-evenly);
}

.person-infos > .biography {
    padding-right: 1em;
}

.person-infos > .biography > div > div {
    margin: .5em;
}

.person-infos > .imdb-page {
    align-items: center;
    display: flex;
}

.person-infos > .imdb-page > span > a {
    background-image: url("../images/imdb.png");
    background-size: cover;
    display: block;
    height: 27px;
    margin-left: 2em;
    width: 64px;
}

.person-profile {
    margin-left: auto;
}

.collection-parts {
    font-weight: 100;
}

.collection-parts .part {
    margin-bottom: 2em;
}

.collection .card {
    background-color: #eee;
}

@media (prefers-color-scheme: dark) {

    .movie-detail .title {
        color: #f2f2f2;
    }

    .collection .card {
        background-color: #383838;
    }

    .movie-detail .title {
        color: #f2f2f2;
    }

    .recommendations {
        background-color: #383838;
    }
}