@import "variables";

.search-page {
    @include flex-col(flex-start, center);
    padding-top: 1em;

    .header {
        @include animated-header("../images/search-header.jpg");

        .animated-h1 {
            .part {
                @include animated-card;
            }
        }

        .backdrop {
            background-position: center;
        }

        .clock {
            left: unset;
            right: 1em;

            .face {
                background-color: var(--gradient-green-40-alpha-50);
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:has(.wrapper.people) {
            gap: 1rem;
            margin-block: 1rem;
        }

        form {
            align-items: center;
            display: flex;
            gap: 1rem;
            margin-inline: auto;
        }

        .wrapper {
            @include flex-row(start, start);
            flex-wrap: wrap;
            gap: 1em;
            margin-block: 1rem;
            margin-inline: auto;

            .home-discover {
                .profile {
                    .no-image {
                        @include flex-col();
                        aspect-ratio: 2 / 3;
                        background-color: var(--gradient-green-40-alpha-50);
                        border-radius: .5em;
                        color: var(--gradient-green-90);
                        width: 13.5rem;
                    }
                }

                .type {
                    color: var(--gradient-green-90);
                    font-size: 2rem;
                    position: absolute;
                    right: 1rem;
                    text-shadow: 0 0 3px var(--gradient-green-10);
                    top: 1rem;
                }
            }

            .title {
                font-weight: 400;
                line-height: 1.2rem;
                text-align: center;
            }

            &.people {
                background-color: var(--gradient-ardoise-20);
                justify-content: center;
            }

            &.media {
                background-color: var(--gradient-ardoise-20);
                justify-content: center;

                .item {
                    position: relative;

                    .home-discover {
                        .no-image {
                            @include flex-col();
                            aspect-ratio: 2 / 3;
                            background-color: var(--gradient-ardoise-40-alpha-50);
                            border-radius: .5em;
                            color: var(--gradient-ardoise-90);
                            width: 13.5rem;
                        }
                    }

                    .type {
                        position: absolute;
                        right: .5rem;
                        text-shadow: 0 0 3px var(--gradient-ardoise-10);
                        top: .5rem;
                        z-index: 1;
                    }
                }
            }
        }

        &:has(.wrapper.people) {
            .wrapper {
                border-radius: .5rem;
                margin-block: unset;
                margin-inline: auto;
                padding: 1rem;
                width: unset;
            }
        }

        .footer-infos {
            margin-top: 1rem;
            text-align: center;
        }
    }
}
