@import "variables";

.search-page {
    @include flex-col(flex-start, center);
    padding-top: 1em;

    .header {
        @include animated-header("../images/search-header.jpg");

        .animated-h1 {
            color: var(--gradient-green-40-alpha-50);
        }

        .backdrop {
            background-position: center;
        }

        .clock {
            left: unset;
            right: 1em;

            .face {
                background-color: var(--gradient-green-40-alpha-50);
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;

        form {
            margin-inline: auto;
        }

        .wrapper {
            @include flex-row(start, start);
            flex-wrap: wrap;
            gap: 1em;
            margin-inline: auto;
            width: 216px;

            .home-discover {
                .profile {
                    .no-image {
                        @include flex-col();
                        aspect-ratio: 2 / 3;
                        background-color: var(--gradient-green-40-alpha-50);
                        border-radius: .5em;
                        color: var(--gradient-green-90);
                        width: 13.5rem;
                    }
                }

                .type {
                    font-size: 2rem;
                    position: absolute;
                    right: 1rem;
                    text-shadow: 0 0 3px var(--gradient-green-10);
                    top: 1rem;
                }
            }

            .title {
                font-weight: 400;
                line-height: 1.2rem;
                text-align: center;
            }
        }
    }
}

@media (min-width: 480px) {
    .search-page {
        main {
            .wrapper {
                width: 448px;
            }
        }
    }
}

@media (min-width: 712px) {
    .search-page {
        main {
            .wrapper {
                width: 680px;
            }
        }
    }
}

@media (min-width: 944px) {
    .search-page {
        main {
            .wrapper {
                width: 912px;
            }
        }
    }
}

@media (min-width: 1176px) {
    .search-page {
        main {
            .wrapper {
                width: 1144px;
            }
        }
    }
}

@media (min-width: 1408px) {
    .search-page {
        main {
            .wrapper {
                width: 1376px;
            }
        }
    }
}

@media (min-width: 1640px) {
    .search-page {
        main {
            .wrapper {
                width: 1608px;
            }
        }
    }
}

@media (min-width: 1872px) {
    .search-page {
        main {
            .wrapper {
                width: 1840px;
            }
        }
    }
}

@media (min-width: 2104px) {
    .search-page {
        main {
            .wrapper {
                width: 2072px;
            }
        }
    }
}

@media (min-width: 2336px) {
    .search-page {
        main {
            .wrapper {
                width: 2304px;
            }
        }
    }
}
