@import "variables";

.my-series, .series-search {
    --serie-lg-height: 15em;
    --serie-lg-poster-width: 9.984375em;
    --serie-md-height: 10em;
    --serie-md-poster-width: 6.65625em;

    @include flex-col(flex-start, center);
    padding-top: 1em;

    .header {
        --quote-opacity: 1;

        @include animated-header("../images/serie-header.jpg");
        background-color: var(--gradiant-ardoise-10);
        transition: background-color 3s ease-in-out;

        .quote {
            @include flex-100(center, flex-end);
            font-size: 1.1em;
            font-weight: 100;
            //line-height: 1em;
            opacity: var(--quote-opacity);
            position: absolute;
            text-align: right;
            transition: opacity 500ms ease-in-out;

            &.hidden {
                opacity: 0;
            }

            &.n1 {
                right: 1em;
                top: 1em;
            }

            &.n2 {
                right: 1em;
                bottom: 1em;
            }

            &.n3 {
                bottom: 1em;
                justify-content: flex-start;
                left: 1em;

                div {
                    text-align: left;
                }
            }

            &.n4 {
                left: 1em;
                justify-content: flex-start;
                top: 1em;

                div {
                    text-align: left;
                }
            }

            div {
                background-color: var(--gradiant-ardoise-40-alpha-50);
                border-radius: .5em;
                max-width: 48%;
                padding: .5em 1em;
                text-align: right;

                b {
                    color: var(--gradiant-purple-70);
                }

                em {
                    color: var(--gradiant-mars-70);
                }
            }
        }

        .indicators {
            @include flex-row();
            bottom: 1em;
            height: 1em;
            position: absolute;

            .indicator {
                background-color: var(--gradiant-ardoise-90);
                border-radius: .125em;
                cursor: pointer;
                height: .25em;
                margin: 0 .125em;
                opacity: .75;
                transition: height 500ms ease-in-out;
                width: 1em;

                &.active {
                    height: .75em;
                }
            }
        }

        .left-arrow, .right-arrow {
            @include flex-row();
            background-color: transparent;
            cursor: pointer;
            height: 100%;
            font-size: 2em;
            position: absolute;
            top: 0;
            transition: background-color .5s ease-in-out;
            width: 1.5em;

            &:hover {
                background-color: var(--gradiant-ardoise-90-alpha-10);
            }
        }

        .left-arrow {
            left: 0;
        }

        .right-arrow {
            right: 0;
        }
    }

    .nav-breadcrumb {
        margin: 1em 0 1em auto;
    }

    .series {
        @include flex-col();
        flex-direction: column-reverse;

        .wrapper {
            @include flex-col(flex-start, flex-start);
            //font-size: .75em;
            font-weight: 100;

            a {
                display: block;
                height: 100%;
                width: 100%;

                .serie {
                    @include flex-row(flex-start, flex-start);
                    background-color: var(--gradiant-ardoise-10);
                    border-radius: 0;
                    height: var(--serie-lg-height);
                    margin-bottom: 1em;
                    //overflow: hidden;
                    position: relative;
                    transition: scale 300ms ease-in-out;
                    width: 100%;

                    .backdrop {
                        background-color: var(--gradiant-ardoise-90);
                        background-position: center center;
                        background-size: cover;
                        border-radius: 0 .5em .5em 0;
                        inset: 0 0 0 var(--serie-lg-poster-width);
                        opacity: .25;
                        position: absolute;
                    }

                    .poster {
                        height: var(--serie-lg-height);
                        z-index: 0;

                        img {
                            border-radius: 0;
                            height: var(--serie-lg-height);
                            object-fit: cover;
                            width: var(--serie-lg-poster-width)
                        }
                    }

                    .infos {
                        @include flex-col(flex-start, flex-start);
                        height: var(--serie-lg-height);
                        padding: .5em;
                        width: calc(100% - var(--serie-lg-poster-width));
                        z-index: 0;

                        div {
                            color: var(--gradiant-ardoise-90);
                        }

                        div:first-child {
                            font-size: 1.5em;
                            font-weight: 200;
                        }

                        div:last-child {
                            max-height: calc(var(--serie-lg-height) - 8em);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                        }
                    }

                    .network {
                        @include flex-row();
                        background-color: var(--gradiant-ardoise-90);
                        border: 2px solid var(--gradiant-ardoise-10);
                        border-radius: 50%;
                        bottom: 1em;
                        height: 4em;
                        left: 1em;
                        object-fit: cover;
                        overflow: hidden;
                        padding: .25em;
                        position: absolute;
                        width: 4em;
                        z-index: 1;

                        img {
                            width: 100%;
                        }
                    }

                    .status {
                        @include flex-row();
                        background-color: var(--gradiant-green-20);
                        border-radius: .5em;
                        color: var(--gradiant-green-90);
                        height: 2em;
                        padding: 0 1em;
                        position: absolute;
                        right: 4em;
                        top: 2em;
                    }

                    .add {
                        @include seen(var(--serie-add), 1.5em);
                    }

                    .seen {
                        @include seen(var(--serie-seen), 1.5em);
                    }

                    &.search {
                        background-color: var(--gradiant-ardoise-20);
                        height: var(--serie-md-height);

                        .backdrop {
                            left: var(--serie-md-poster-width);
                        }

                        .poster {
                            height: var(--serie-md-height);
                            width: var(--serie-md-poster-width);
                        }
                    }

                    .front {
                        border: .25em solid transparent;
                        border-radius: .5em;
                        inset: 0;
                        position: absolute;
                        transition: border 100ms ease-in-out;

                        &:hover {
                            border: .25em solid var(--gradiant-ardoise-90);
                            //outline-offset: -.25em;
                        }
                    }

                    &:hover {
                        animation: wobble 200ms;
                        scale: 1.02;
                    }

                    @keyframes wobble {
                        50% {
                            rotate: -1deg;
                        }
                        75% {
                            rotate: .5deg;
                        }
                        87.5% {
                            rotate: -.25deg;
                        }
                        93.75% {
                            rotate: .125deg;
                        }
                        96.875% {
                            rotate: -.0625deg;
                        }
                        98.4375% {
                            rotate: .03125deg;
                        }
                        99.21875% {
                            rotate: -.015625deg;
                        }
                    }
                }
            }
        }

        .new-serie-preview {
            @include flex-col();
            background-color: var(--gradiant-ardoise-10);
            inset: 0;
            display: none;
            opacity: 0;
            position: fixed;
            transition: all .5s;
            z-index: 1000;

            &.visible {
                background-color: #888888df;
                display: flex;
                opacity: 1;
            }

            .message {
                @include flex-row(center, flex-start);
                margin-bottom: 2em;
                position: relative;

                .content {
                    background-color: var(--gradiant-ardoise-30);
                    border-radius: .5em;
                    color: var(--gradiant-ardoise-90);
                    font-size: 2em;
                    font-weight: bold;
                    padding: 1em 2em;
                }

                .close {
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 1.5em;
                    margin-left: auto;
                    position: absolute;
                    right: .25em;
                    top: 0;
                }
            }
        }

        .series-tools {
            margin-bottom: 1em;
            position: unset;
            top: unset;
            width: 100%;

            .pages {
                background-color: var(--gradiant-ardoise-90);
                border-radius: 0;
                min-height: unset;
                padding: .5em;

                &.mobile {
                    display: block;
                }

                .position {
                    color: var(--gradiant-ardoise-30);
                    font-weight: 100;
                    text-align: center;
                    text-transform: uppercase;
                    width: 100%;
                }

                .page-group {
                    @include flex-row();
                    border-radius: .25em;

                    .page:nth-child(1n+0) {
                        border-bottom: 1px solid var(--gradiant-ardoise-80);
                        border-left: 0;
                        border-right: 1px solid var(--gradiant-ardoise-80);
                        border-top: 1px solid var(--gradiant-ardoise-80);
                        padding: .25em 0;
                    }

                    .page:first-child {
                        border-left: 1px solid var(--gradiant-ardoise-80);
                        border-radius: .25em 0 0 .25em;
                    }

                    .page:last-child {
                        border-radius: 0 .25em .25em 0;
                    }

                    .page {
                        font-weight: 100;
                        min-height: calc(2em + 2px);
                        min-width: 2em;
                        transition: all .3s;

                        &.current {
                            @include flex-row();
                            background-color: var(--gradiant-ardoise-80);
                            color: var(--gradiant-ardoise-30);
                        }

                        &:hover {
                            background-color: var(--gradiant-ardoise-80);
                            color: var(--gradiant-ardoise-20);
                        }

                        a, div {
                            @include flex-row();
                            height: 100%;
                            min-height: 2em;
                            width: 100%;
                        }
                    }
                }

            }

            button {
                appearance: unset;
                background-color: var(--gradiant-ardoise-20);
                border: 1px solid var(--gradiant-ardoise-80);
                border-radius: var(--button-border-radius);
                color: var(--gradiant-ardoise-80);
                font-weight: 100;
                padding: .25em 1em;
                text-transform: uppercase;
                width: 100%;

                &.disabled {
                    background-color: var(--gradiant-ardoise-50);
                    border: 1px solid var(--gradiant-ardoise-60);
                    color: var(--gradiant-ardoise-60);
                    cursor: default;
                }
            }

            .label {
                color: var(--gradiant-ardoise-30);
                font-weight: 100;
                display: none;
                text-transform: uppercase;
            }

            h2 {
                color: var(---gradiant-mars-70);
                display: none;
                font-size: 1.5em;
                margin-top: 0;
            }

            .search-serie, .add-serie {
                background-color: var(--gradiant-ardoise-90);
                border-radius: 0;
                min-height: unset;
                padding: .5em;

                .group {
                    @include flex-100(center, space-between);
                }

                .help {
                    display: none;
                    font-weight: 100;

                    details {
                        div {
                            background-color: var(--gradiant-ardoise-80);
                            border-radius: .5em;
                            padding: .5em;
                        }
                    }
                }

            }

            .search-serie {
                .group {
                    .field {
                        position: relative;
                    }

                    .autocomplete-items {
                        border: 1px solid var(--gradiant-ardoise-80);
                        border-bottom: none;
                        border-top: none;
                        left: 0;
                        max-height: 32em;
                        overflow: scroll;
                        position: absolute;
                        right: 0;
                        top: 100%;
                        width: 22em;
                        z-index: 99;
                    }

                    .autocomplete-items div {
                        padding: .25em .5em calc(.25em - 1px);
                        cursor: pointer;
                        background-color: var(--gradiant-ardoise-90);
                        border-bottom: 1px solid var(--gradiant-ardoise-70);
                        color: var(--gradiant-ardoise-30);
                    }

                    .autocomplete-items div:hover {
                        /*when hovering an item:*/
                        background-color: var(--gradiant-ardoise-80);
                    }

                    .autocomplete-active {
                        /*when navigating through the items using the arrow keys:*/
                        background-color: var(--gradiant-ardoise-40) !important;
                        color: var(--gradiant-ardoise-90) !important;
                    }
                }
            }

            .settings {
                @include flex-col(flex-start, flex-start);
                background-color: var(--gradiant-ardoise-90);
                border-radius: 0;
                padding: .5em;

                .sort {
                    @include flex-100();

                    .group-settings {
                        @include flex-100();

                        .field {
                            position: relative;
                            width: 100%;

                            &::after {
                                border-bottom: 2px solid var(--gradiant-ardoise-80);
                                border-right: 2px solid var(--gradiant-ardoise-80);
                                content: '';
                                height: .5em;
                                position: absolute;
                                right: .5em;
                                top: .75em;
                                transform: rotate(45deg);
                                width: .5em;
                                z-index: 2;
                            }

                            select {
                                appearance: unset;
                                background-color: var(--gradiant-ardoise-40);
                                border: 0 solid var(--gradiant-ardoise-80);
                                color: var(--gradiant-ardoise-80);
                                font-weight: 100;
                                padding: .25em 1em .25em .25em;
                                position: relative;
                                width: 100%;

                                &.left {
                                    border-width: 1px 0 1px 1px;
                                    border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
                                }

                                &.right {
                                    border-width: 1px 0 1px 1px;
                                    border-radius: 0 0 0 0;
                                }
                            }
                        }
                    }
                }

                .per-page {
                    @include flex-col(flex-start, center);
                    width: 100%;

                    .field {
                        @include flex-100();

                        input {
                            width: 80%;
                        }

                        .value {
                            @include flex-col();
                            background-color: var(--gradiant-ardoise-40);
                            border-radius: .5em;
                            font-weight: 100;
                            margin: .5em;
                            padding: .5em 1em;
                            width: calc(20% - 2em);
                        }
                    }
                }

                .order-by {
                    @include flex-col(flex-start, center);
                    width: 100%;
                }

                .order {
                    @include flex-col(flex-start, center);
                    width: 100%;
                }

                .apply {
                    @include flex-100();
                    flex: 1;
                    margin-top: auto;

                    button {
                        border-radius: 0 var(--button-border-radius) var(--button-border-radius) 0;
                    }
                }
            }
        }
    }
}

.serie-page {
    .header {
        @include flex-row(flex-start, flex-start);
        background-color: var(--gradiant-ardoise-10);
        border-radius: 1em;
        margin: 1em 0;
        padding: 2em;
        position: relative;
        width: 100%;

        .poster {
            height: 30em;
            position: relative;
            z-index: 0;
            width: 20em;

            > img {
                border-radius: .5em;
                height: 30em;
                object-fit: cover;
                width: 20em;
            }

            .watch-providers {
                @include flex-row(flex-start, flex-start);
                bottom: 0;
                left: 0;
                overflow-x: scroll;
                position: absolute;
                width: 20em;

                .watch-provider {
                    @include flex-row();
                    background-color: var(--gradiant-ardoise-10);
                    border-radius: 0 0 .5em .5em;
                    color: var(--gradiant-ardoise-80);
                    height: 4em;
                    //margin: 1px;
                    width: 20em;

                    .logo {
                        border-radius: .25em;
                        height: 3em;
                        margin: .5em;
                        width: 3em;

                        > img {
                            height: 3em;
                            object-fit: cover;
                            width: 3em;
                        }
                    }

                    .watch {
                        @include flex-col();
                        font-weight: 100;
                        height: 4em;
                        //margin-left: 1em;
                        width: 16em;

                        a {
                            font-weight: bold;
                        }
                    }
                }
            }

            .arrow {
                @include flex-row();
                background-color: var(--gradiant-ardoise-20);
                border-radius: .25em;
                bottom: 1em;
                color: var(--gradiant-ardoise-80);
                display: none;
                height: 2em;
                position: absolute;
                right: .25em;
                width: 2em;

                &.d-flex {
                    display: flex;
                }
            }
        }

        .backdrop {
            background-position: center center;
            background-size: cover;
            border-radius: 1em;
            inset: 0;
            opacity: .25;
            position: absolute;
            z-index: 0;
        }

        .infos {
            @include flex-col(start, center);
            color: var(--gradiant-ardoise-90);
            min-height: 30em;
            padding: 1em;
            position: relative;
            width: 100%;
            z-index: 0;

            h1 {
                color: var(--gradiant-ardoise-90);
                font-weight: 400;

                span {
                    font-weight: 100;
                }
            }

            .info {
                @include flex-100(center, start);
                font-weight: 100;
                margin-top: .5em;

                .tagline {
                    font-style: italic;
                    font-weight: 100;
                    margin-right: 2em;
                }

                .vote-count {
                    color: var(--gradiant-ardoise-80);
                    margin-left: auto;
                }

                .vote-average {
                    @include flex-row(center, center);
                    background-color: var(--gradiant-ardoise-20);
                    border-radius: 50%;
                    height: 3.5em;
                    margin-left: 2em;
                    position: relative;
                    width: 3.5em;

                    .circle {
                        @include flex-row(center, center);
                        //background: conic-gradient(var(--gradiant-ardoise-60) 0%, var(--gradiant-ardoise-60) 1%, #000 1%);
                        border-radius: 50%;
                        height: calc(3.5em - 4px);
                        width: calc(3.5em - 4px);
                        transition: background 1s;

                        .percentage {
                            @include flex-row(center, center);
                            background-color: var(--gradiant-ardoise-20);
                            border-radius: 50%;
                            color: var(--gradiant-ardoise-80);
                            height: calc(3.5em - 12px);
                            width: calc(3.5em - 12px);
                        }
                    }

                    .circle-start, .circle-end {
                        background-color: var(--gradiant-ardoise-60);
                        border-radius: 50%;
                        height: 4px;
                        position: absolute;
                        width: 4px;
                    }
                }
            }

            .creators {
                @include flex-100(unset, flex-start);
                flex-wrap: wrap;
                margin-top: 1em;
                width: 100%;

                .creator {
                    @include human-profile(var(--gradiant-ardoise-20));
                }
            }

            .what-s-new {
                @include flex-row(center, end);
                position: absolute;
                right: 1em;
                top: 1em;

                .new-episode, .new-season {
                    background-color: var(--gradiant-mars-50);
                    border-radius: .5em;
                    color: var(--gradiant-mars-90);
                    margin: 0 .5em;
                    padding: .5em 1em;
                    font-weight: 100;
                }
            }
        }

        .ygg {
            bottom: 1rem;
            color: var(--gradiant-purple-50);
            cursor: pointer;
            font-size: 1.5em;
            position: absolute;
            right: 4rem;
        }

        .add {
            @include seen(var(--serie-add), 2.5em);
        }

        .seen {
            @include seen(var(--serie-seen), 2.5em);
        }
    }

    main {
        @include flex-100(flex-start, flex-start);

        h4 {
            margin-top: .5em;
        }

        article {
            @include flex-col(flex-start, flex-start);
            min-height: 50vh;
            width: 100%;

            section {
                @include flex-col(flex-start, flex-start);
                width: 100%;

                .cast {
                    @include flex-col(flex-start, flex-start);
                    background-color: var(--gradiant-ardoise-30);
                    border-radius: .5em;
                    padding: 0 1em;
                    width: 100%;

                    .list {
                        @include flex-row(unset, flex-start);
                        margin: 1em;
                        overflow-x: auto;
                        width: 100%;

                        .people {
                            @include human-profile();
                        }
                    }
                }

                .seasons, .episodes {
                    @include flex-col();
                    margin: 1em 0;
                    width: 100%;

                    a {
                        width: 100%;

                        .season {
                            @include flex-row(center, flex-start);
                            background-color: var(--gradiant-ardoise-90);
                            border-radius: 0;
                            height: 10em;
                            margin: 1em 0;
                            width: 100%;

                            .poster {
                                height: 10em;
                                z-index: 0;

                                img {
                                    border-radius: 0;
                                    height: 10em;
                                    object-fit: cover;
                                    width: auto;
                                }
                            }

                            .infos {
                                @include flex-col(flex-start, flex-start);
                                padding: .5em;

                                div {
                                    color: var(--gradiant-ardoise-20);
                                    font-weight: 100;
                                    margin: .25em 0;
                                    max-height: 3em;
                                    overflow-y: scroll;
                                }

                                .details {
                                    @include flex-row(center, start);
                                    overflow: initial;
                                    position: relative;

                                    .bubble {
                                        @include flex-col(center, revert);
                                        height: 3em;
                                        left: -3.5em;
                                        opacity: 0;
                                        position: absolute;
                                        top: -3em;
                                        transition: opacity .25s;

                                        &.show {
                                            opacity: 1;
                                        }

                                        .body {
                                            @include flex-row();
                                            background-color: var(--gradiant-ardoise-20);
                                            border-radius: .25em;
                                            color: var(--gradiant-ardoise-80);
                                            min-height: 2em;
                                            width: 7em;
                                            z-index: 2;
                                        }

                                        .tail {
                                            background-color: var(--gradiant-ardoise-20);
                                            border-radius: .125em;
                                            min-height: 1em;
                                            rotate: 45deg;
                                            translate: 0 -.55em;
                                            width: 1em;
                                            z-index: 1;
                                        }
                                    }

                                    div {
                                        margin: 0;

                                        .viewing {
                                            @include flex-row(center, start);
                                            //flex-wrap: wrap;
                                            overflow: scroll;
                                            position: relative;

                                            .ep {
                                                @include flex-row(center, center);
                                                border: 2px solid var(--gradiant-ardoise-60);
                                                border-radius: 50%;
                                                height: 1em;
                                                margin: .25em;
                                                width: 1em;

                                                &:hover {
                                                    border: 2px solid var(--gradiant-ardoise-80);
                                                }

                                                &.full {
                                                    color: var(--gradiant-green-50);
                                                }
                                            }
                                        }
                                    }

                                    .mouse-detector {
                                        background: transparent;
                                        inset: 0;
                                        position: absolute;
                                    }
                                }
                            }
                        }

                        .episode {
                            @include flex-row(center, flex-start);
                            background-color: var(--gradiant-ardoise-90);
                            border-radius: 0;
                            min-height: 10em;
                            margin: 1em 0;
                            width: 100%;

                            .poster {
                                height: 100%;
                                z-index: 0;

                                img {
                                    border-radius: 0;
                                    height: 100%;
                                    object-fit: cover;
                                    width: 30em;
                                }
                            }

                            .infos {
                                @include flex-col(flex-start, flex-start);
                                padding: .5em;
                                width: calc(100% - 30em);

                                .info {
                                    color: var(--gradiant-ardoise-20);
                                    font-weight: 100;
                                    margin: .25em 0;
                                    max-height: 3em;
                                    overflow-y: scroll;
                                }

                                .guests {
                                    @include flex-100(unset, flex-start);
                                    margin-top: 1em;
                                    overflow: scroll;
                                    width: 100%;

                                    .guest {
                                        @include human-profile(var(--gradiant-ardoise-20));
                                    }
                                }
                            }
                        }
                    }
                }

                .images {
                    @include flex-col(flex-start, flex-start);
                    margin: 1em 0;
                    width: 100%;

                    > div {
                        @include flex-row(center, flex-start);
                        flex-wrap: wrap;
                        background-color: var(--gradiant-ardoise-90);
                        border-radius: 0;
                        min-height: 10em;
                        margin: 0 0 1em 0;
                        width: 100%;

                        img {
                            display: block;
                            margin: 1em;
                        }

                        .backdrop {
                            border-radius: .5em;
                            max-width: calc(100% - 2em);
                        }

                        .logo {

                        }

                        .poster {
                            border-radius: .5em;
                        }
                    }

                    h4, h5 {
                        font-weight: 100;
                        text-transform: uppercase;
                    }
                }
            }
        }

        aside {
            @include flex-col(flex-start, flex-start);
            background-color: var(--gradiant-ardoise-30);
            border-radius: .5em;
            margin-left: 1em;
            min-height: 50vh;
            padding: 0 1em;
            width: 100%;

            .key-facts {
                .fact {
                    margin: .5em 0;

                    .label {
                        font-weight: 400;
                    }

                    .content {
                        font-weight: 100;
                        margin-bottom: .25em;
                        padding-left: .5em;

                        .frame {
                            background-color: var(--gradiant-ardoise-90);
                            border-radius: .25em;
                            display: inline-block;
                            max-height: 4em;
                            padding: .25em .5em;

                            img {
                                max-height: 3.5em;
                            }
                        }
                    }

                    .keywords {
                        @include flex-row(flex-start, flex-start);
                        flex-wrap: wrap;

                        .keyword {
                            @include flex-col();
                            background-color: var(--gradiant-ardoise-40);
                            border-radius: .25em;
                            color: var(--gradiant-ardoise-80);
                            padding: .25em .5em;
                            margin: .125em;

                            .original {
                                font-weight: 100;
                            }

                            .translated {
                                font-size: .25em;
                                font-weight: initial;
                                line-height: .75em;
                            }

                            &.new {
                                background-color: var(--gradiant-purple-40);
                                cursor: pointer;
                            }
                        }
                    }

                    .similar {
                        @include flex-100();
                        flex-wrap: wrap;
                        max-height: 50em;
                        overflow: scroll;

                        .poster {
                            position: relative;

                            img {
                                border-radius: .5em;
                                height: 12em;
                                margin: 1em;
                                object-fit: cover;
                                width: 8em;
                            }

                            .name {
                                bottom: 1em;
                                font-size: .5em;
                                padding: .5em;
                                text-align: center;
                                width: 100%;
                            }

                            .add {
                                @include seen(var(--serie-add), 1.5em);
                            }

                            .seen {
                                @include seen(var(--serie-seen), 1.5em);
                            }
                        }
                    }
                }
            }
        }
    }

    .translationModalBack {
        background-color: var(--gradiant-ardoise-10-alpha-90);
        display: none;
        inset: 0;
        opacity: 0;
        position: fixed;
        transition: opacity 500ms;

        &.open {
            @include flex-row();
        }

        &.visible {
            opacity: 1;
        }

        .translationModal {
            background-color: var(--gradiant-ardoise-30);
            border-radius: 1em;
            display: none;
            color: var(--gradiant-ardoise-80);
            opacity: 0;
            transition: opacity 500ms;
            width: 50em;

            &.open {
                @include flex-col(flex-start, flex-start);
            }

            &.visible {
                opacity: 1;
            }

            .trans-header {
                border-bottom: 1px solid var(--gradiant-ardoise-50);
                padding: 1em;
                width: 100%;
            }

            .trans-content {
                width: 100%;

                .language {
                    @include flex-100();
                    margin-top: 1em;
                }

                .fields {
                    @include flex-col(flex-start, flex-start);
                    max-height: 38em;
                    margin: 1em 2em;
                    overflow: scroll;
                    width: calc(100% - 4em);

                    .language {
                        @include flex-100();
                        margin: 1em 0;
                    }

                    .field {
                        width: 100%;

                        .translation {
                            @include flex-col(flex-start, flex-start);
                            margin: .5em 1em;
                            width: calc(100% - 4em);

                            label {
                                font-weight: 100;
                            }

                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .trans-footer {
                @include flex-100(center, flex-end);
                border-top: 1px solid var(--gradiant-ardoise-50);
                padding: 1em;
                width: 100%;

                button {
                    appearance: unset;
                    background-color: var(--gradiant-ardoise-50);
                    border: none;
                    border-radius: var(--button-border-radius);
                    color: var(--gradiant-ardoise-90);
                    font-weight: 100;
                    margin-left: 1em;
                    padding: .25em 1em;
                }
            }
        }
    }
}

.series-search {

    .header {
        .animated-h1 {
            .part {
                font-size: 6em;
            }
        }
    }

    .search {
        @include flex-100();
        background-color: var(--gradiant-ardoise-20);
        margin: 1em 0;
        padding-top: 1em;
    }
}

.particule {
    @include flex-100();
    background-color: var(--gradiant-purple-90);
    border: 2px solid var(--gradiant-purple-100);
    border-radius: .5em;
    color: var(--gradiant-purple-30);
    height: 4em;
    position: absolute;
    transition: opacity 800ms ease-in-out, translate 1s linear, rotate 1s linear;
    width: 4em;
    z-index: 1000;

    &.reboot {
        transition: unset;
    }

    &.re-new {
        opacity: 0;
    }

    &.new {
        background-color: var(--gradiant-mars-80);
        color: var(--gradiant-mars-30);
    }
}

@media (min-width: 576px) { /* 540 */
    .my-series, .series-search {
        --serie-lg-height: 20em;
        --serie-lg-poster-width: 13.3125em;

        .series {
            .wrapper {
                a {
                    .serie {
                        border-radius: .5em;

                        .poster {
                            img {
                                border-radius: .5em 0 0 .5em;
                            }
                        }

                        .backdrop {
                            border-radius: 0 .5em .5em 0;
                        }

                        .infos {
                            border-radius: 0 .5em .5em 0;
                            justify-content: center;
                        }

                        .network {
                            bottom: unset;
                            left: unset;
                            right: -.5em;
                            top: 1em;
                        }
                    }
                }
            }
        }
    }

    .series-search {
        .search {
            border-radius: .5em;
        }
    }

}

@media (min-width: 768px) { /* 720 */
    .my-series, .series-search {
        //--serie-lg-height: 15em;
        .header {
            height: 25em;

            h1 {
                font-size: 6em;
            }
        }

        .series {
            align-items: flex-start;
            flex-direction: row;
            justify-content: flex-start;

            .wrapper {
                width: calc(70% - 1em);

                a {
                    .serie {
                        .infos {
                            padding: 1em;
                        }
                    }
                }
            }

            .series-tools {
                margin-left: 1em;
                position: sticky;
                top: 4em;
                width: 30%;

                &.mobile {
                    display: none;
                }

                .label {
                    display: inline;
                }

                h2 {
                    display: block;
                }

                .pages {

                    &.mobile {
                        display: none;
                    }
                }


                .numbers {
                    font-weight: 100;
                    text-align: center;
                    text-transform: uppercase;
                }

                .add-serie {
                    .help {
                        display: block;
                    }
                }

                .pages, .numbers, .search-serie, .add-serie {
                    background-color: var(--gradiant-ardoise-80);
                    border: 1em;
                    border-radius: .5em;
                    margin-bottom: 1em;
                    min-height: 4em;
                    padding: 1em;
                }

                .settings {
                    border: 1em;
                    border-radius: .5em;
                    padding: 1em;

                    .field {
                        select {
                            border-radius: .25em;
                        }
                    }

                    .per-page {
                        padding: 1em 0;
                    }

                    .sort {
                        flex-direction: column;

                        .group-settings {
                            .field {
                                select {
                                    &.left {
                                        border-width: 1px 0 0 1px;
                                        border-radius: var(--button-border-radius) 0 0 0;
                                    }

                                    &.right {
                                        border-width: 1px 1px 0 1px;
                                        border-radius: 0 var(--button-border-radius) 0 0;
                                    }
                                }
                            }
                        }
                    }

                    .apply {
                        button {
                            border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
                        }
                    }
                }
            }
        }
    }

    .serie-page {
        main {
            article {
                width: 70%;

                &.full {
                    width: 100%;
                }

                section {
                    .seasons, .episodes {
                        border-radius: .5em;
                        padding: 0 1em;

                        a {
                            .season, .episode {
                                border-radius: .5em;
                                height: 12em;

                                .poster {
                                    height: 12em;

                                    img {
                                        border-radius: .5em 0 0 .5em;
                                        height: 12em;
                                        max-width: 20em;
                                        object-fit: cover;
                                    }
                                }

                                .infos {

                                    div {
                                        color: var(--gradiant-ardoise-80);
                                    }
                                }
                            }

                            .episode {
                                height: 24em;

                                .poster {
                                    height: 24em;
                                    width: 30em;

                                    img {
                                        height: 24em;
                                        max-width: unset;
                                        width: 30em;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            aside {
                width: calc(30% - 1em);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {

    .my-series, .series-search {
        color: var(--gradiant-ardoise-80);

        .header {
            h1 {
                color: var(--gradiant-ardoise-90);
            }
        }

        .series {
            .wrapper {
                a {
                    .serie {
                        //background-color: var(--gradiant-ardoise-30);
                    }
                }
            }

            .series-tools {
                .search-serie, .add-serie, .numbers, .settings {
                    background-color: var(--gradiant-ardoise-30);
                }

                .pages {
                    background-color: var(--gradiant-ardoise-30);

                    .position {
                        color: var(--gradiant-ardoise-70);
                    }

                    .page-group {
                        .page {
                            border-color: var(--gradiant-ardoise-70);

                            &.current {
                                background-color: var(--gradiant-ardoise-40);
                                color: var(--gradiant-ardoise-90);
                            }

                            &:hover {
                                background-color: var(--gradiant-ardoise-60);

                                a {
                                    color: var(--gradiant-ardoise-20);
                                }
                            }
                        }
                    }
                }

                .search-serie, .add-serie, .settings {
                    .label {
                        color: var(--gradiant-ardoise-70);
                    }
                }

                .search-serie {
                    .autocomplete-items {
                        border: 1px solid var(--gradiant-ardoise-40);
                    }

                    .autocomplete-items div {
                        background-color: var(--gradiant-ardoise-30);
                        border-bottom: 1px solid var(--gradiant-ardoise-40);
                    }

                    .autocomplete-items div:hover {
                        /*when hovering an item:*/
                        background-color: var(--gradiant-ardoise-60);
                    }

                    //.autocomplete-active {
                    //    /*when navigating through the items using the arrow keys:*/
                    //    background-color: var(--gradiant-ardoise-70) !important;
                    //    color: var(--gradiant-ardoise-90);
                    //}
                }

                .add-serie {
                    .help {
                        details {
                            div {
                                background-color: var(--gradiant-ardoise-40);
                            }
                        }
                    }
                }
            }
        }
    }


    .serie-page {
        main {
            article {
                section {
                    .seasons, .episodes {
                        background-color: var(--gradiant-ardoise-30);

                        a {
                            .season, .episode {
                                background-color: var(--gradiant-ardoise-40);
                            }
                        }
                    }

                    .images {
                        > div {
                            background-color: var(--gradiant-ardoise-30);
                            border-radius: .5em;
                        }
                    }
                }
            }
        }
    }

}
