.series-header {
}

.series-info {
    margin-top: 2em;
}

.series-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.series-detail .genres {
    margin: .5em 0 0 -.25em;
}

.series-detail .genre {
    color: #a94449;
    border-color: #a94449;
}

.series-detail .data {
    color: #a94449;
}

.series-detail .item {
    padding: .5em 0 0 0;
}

.series-poster > img {
    max-width: 20em;
}

.series-detail .trailer {
    border: 4px solid #bdbdbd;
    margin: 1em 0;
}

.platform {
    align-items: center;
    background-color: #a94449;
    border-radius: 1.75em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    padding: 0 .3em;
}

.platform > .view {
    font-weight: bold;
    padding: .5em;
    text-transform: uppercase;
}

.platform > img {
    border-radius: 50%;
    height: 2em;
    width: 2em;
}
