@import "variables";

.tt-header {
    @include banner("../images/tiktok-header1.jpg");
}

.tt-videos {
    font-weight: 400;
    margin: 1em;

    .getter {
        align-items: center;
        display: flex;
        flex-direction: column;

        .parameters {
            align-items: center;
            background-color: #f8d1d1;
            border-radius: .5em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0 auto;
            padding: 1em;
            width: 80%;

            .input {
                display: flex;
                flex-direction: row;
                margin-bottom: 1em;

                label {
                    margin-left: 0;
                }
            }

            .example {
                background-image: url("../images/tiktok-link.png");
                background-position: center center;
                background-size: cover;
                border-radius: .5em;
                height: 5em;
                width: 20em;
            }
        }

        .result {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .see-more {
                @include flex-100;
            }
        }
    }
}

.tt-videos-none {
    background-color: #808080;
    border-radius: .25em;
    font-size: 3em;
    font-weight: normal;
    margin: 2em;
    padding: 1em 2em;
    text-align: center;
}

.tt-video {
    align-items: center;
    background-color: #f8d1d1;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    overflow: hidden;
    width: 14em;

    .thumbnail {
        position: relative;
        width: 14em;

        img {
            height: 27em;
            width: auto;
        }

        .title {
            bottom: .5em;
            color: #f3e8ff;
            font-size: .75em;
            padding: 0.25em;
            position: absolute;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);

            &hover {
                color: #2f1d26;
            }
        }
    }

    .details {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: .5em;
        width: 14em;

        .author {
            @include author(#c94b4b);
        }

        .infos {
            display: flex;
            flex-direction: column;
            padding-left: 1em;

            .info {
                font-size: .75em;
                font-weight: 400;
            }
        }
    }
}

.tt-video-page {
    font-weight: 400;

    .details {
        .author {
            .thumbnail {
                @include author(#c94b4b);
            }
        }
    }
}

@media (min-width: 575.98px) {
    .tt-header {
        .banner {
            background-image: url("../images/tiktok-header2.jpg");
            height: 180px;
            width: 100%;

            .nav-breadcrumb {
                bottom: -2em;
                left: 1em;
            }
        }
    }
}

@media (min-width: 767.98px) {
    .tt-header {
        .banner {
            background-image: url("../images/tiktok-header3.jpg");
            height: 240px;
            width: 100%;

            .nav-breadcrumb {
                bottom: -1em;
                left: 1em;
            }
        }
    }
    .tt-videos {
        .getter {
            .parameters {
                flex-direction: row;
                .input {
                    margin-bottom: 0;
                }
            }
        }
    }
    .tt-video {
        width: 15em;

        .thumbnail {
            width: 15em;
        }

        .details {
            width: 15em;
        }
    }
}

@media (min-width: 991.98px) {
    .tt-header {
        .banner {
            background-image: url("../images/tiktok-header4.jpg");
            height: 320px;
            width: 100%;

            .nav-breadcrumb {
                bottom: 0;
                left: 1em;
            }
        }
    }
}

@media (min-width: 1199.98px) {
    .tt-header {
        .banner {
            background-image: url("../images/tiktok-header6.jpg");
            height: 360px;
            width: 100%;

            .nav-breadcrumb {
                bottom: 0;
                left: 1em;
            }
        }
    }
}

@media (min-width: 1399.98px) {
    .tt-header {
        .banner {
            background-image: url("../images/tiktok-header5.jpg");
            height: 400px;
            width: 100%;

            .nav-breadcrumb {
                bottom: 0;
                left: 1em;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {

    .tt-header {
        .banner {
            .nav-breadcrumb {
                .breadcrumb {
                    background-color: transparent;
                    padding: 0;
                }
            }
        }
    }

    .tt-videos {
        .getter {
            .parameters {
                background-color: #3c2424;
            }
        }

        .tt-video {
            background-color: #3c2424;
        }
    }
}
