@import "variables";

.user-search {
    .wrapper {
        @include flex-100(center, space-evenly);

        .users {
            @include flex-col(center, start);
            color: var(--gradient-ardoise-100);
            gap: 1em;

            .search-bar {
                @include flex-row(center, start);
                background-color: var(--gradient-ardoise-30-alpha-50);
                border-radius: 999px;
                gap: 1em;
                min-width: 35em;
                padding: .25em;

                .magnifying-glass {
                    @include flex-row();
                    background-color: var(--gradient-ardoise-50);
                    //background-image: var(--btn-primary);
                    border: 2px solid var(--gradient-ardoise-90);
                    border-radius: 50%;
                    height: 3em;
                    width: 3em;

                    i {
                        font-size: 1.5em;
                    }
                }


            }

            .user {
                @include flex-row(center, start);
                border-radius: 999px;
                gap: 1em;
                min-width: 35em;
                padding: .25em;

                &.myself {
                    background-color: var(--gradient-mars-50);
                    //background-image: var(--btn-warning);
                    font-weight: bold;
                }

                .thumbnail {
                    border: 2px solid var(--gradient-ardoise-90);
                    border-radius: 50%;
                    height: 3em;
                    width: 3em;

                    img {
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .username {
                    @include flex-row();
                    gap: .5em;

                    .self {

                    }
                }

                .relation {
                    @include flex-row();
                    background-color: var(--gradient-ardoise-40);
                    //background-image: var(--btn-primary);
                    border: 1px solid var(--gradient-ardoise-80);
                    border-radius: 999px;
                    margin-left: auto;
                    margin-right: .5em;
                    padding: .25em 2em .25em 1em;
                    position: relative;

                    .delete {
                        cursor: pointer;
                        font-size: .75em;
                        position: absolute;
                        right: .5em;
                        top: .25em;
                    }
                }

                .request {
                    @include flex-row();
                    background-color: var(--gradient-ardoise-40);
                    cursor: pointer;
                    border-radius: .25em;
                    margin-left: auto;
                    margin-right: 1em;
                    padding: .125em .5em;
                }

                .pending {
                    @include flex-row();
                    background-color: var(--gradient-green-30);
                    border-radius: .25em;
                    margin-left: auto;
                    margin-right: 1em;
                    padding: .125em .5em;

                    &.d-none {
                        display: none;
                    }
                }
            }

            .user:nth-child(2n+1):not(.myself) {
                background-color: var(--gradient-ardoise-20-alpha-50);
            }

            .user:nth-child(2n):not(.myself) {
                background-color: var(--gradient-ardoise-30-alpha-50);
            }
        }

        .under-construction:first-child {
            rotate: -15deg;
        }

        .under-construction:last-child {
            rotate: z 15deg;
        }
    }
}

.nav-to-top {
    background-color: #0d9488e6;
    background-image: url("../images/arrow-up-circle-outline.png");
    background-position: center center;
    border-radius: 50%;
    bottom: 1em;
    cursor: pointer;
    display: none;
    height: 3em;
    opacity: 0;
    right: 1em;
    position: fixed;
    transition: opacity 1s ease-in-out;
    width: 3em;
}

.user-account {

    .banner {
        background-color: var(--form-bg);
        border: 4px solid var(--form-border);
        border-radius: 1em;
        display: flex;
        height: 12em;
        margin-bottom: 6em;
        position: relative;
        transition: border-color $transition-delay,
        filter $transition-delay,
        margin-bottom $transition-delay,
        background-position $transition-delay cubic-bezier(.5, 0, .5, 1),
        height $transition-delay cubic-bezier(.5, 0, .5, 1),
        width $transition-delay cubic-bezier(.5, 0, .5, 1);
        width: 100%;

        &.h30 {
            height: 30em;
        }

        &.h40 {
            height: 48em;
        }

        &.mb13 {
            margin-bottom: 13em;
        }

        &.mb32 {
            margin-bottom: 32em;
        }

        img {
            border-radius: .75em;
            height: auto;
            object-fit: cover;
            width: 100%;

            &.sepia {
                filter: sepia(0.8);
            }
        }

        .title {
            bottom: 0;
            color: #f2f2f2;
            font-size: 2em;
            font-weight: 100;
            left: .5em;
            position: absolute;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }

        .avatar {
            bottom: 0.5em;
            height: 6em;
            position: absolute;
            right: 0.5em;
            transition: right $transition-delay cubic-bezier(.5, 0, .5, 1);
            width: 6em;
            z-index: 2;

            img {
                border: 4px solid #bdbdbd;
                border-radius: 50%;
                height: 100%;
                transition: border-color $transition-delay, filter $transition-delay;
                width: auto;
            }
        }

        .weather {
            background: rgb(1, 92, 138);
            background: linear-gradient(225deg, rgba(1, 92, 138, 0.85) 0%, rgba(0, 127, 191, 0.85) 50%, rgba(0, 159, 240, 0.85) 100%);
            border: 4px solid #dbdbdb;
            border-radius: 1em;
            bottom: -6em;
            color: #f2f2f2;
            position: absolute;
            transition: bottom $transition-delay;
            width: 100%;

            .content {
                @include flex-col();
                font-size: 1em;
                font-weight: bold;
                height: 100%;
                padding: 1em;
                position: relative;
                width: 100%;

                .vertical,
                .content-row {
                    @include flex-col(center, space-evenly);
                    width: 100%;
                }

                .city {
                    font-size: 1.5em;
                    font-weight: 300;
                }

                .temperature {
                    font-size: 5em;
                    font-weight: 100;
                    height: 1em;
                    //margin-bottom: -.25em;
                    //margin-top: .5em;
                    //margin-bottom: -.3em;
                    //margin-top: -.2em;
                    //padding: 0 .5em;
                }

                .condition {
                    @include flex-row();
                    width: 4em;

                    &.open {
                        width: 20em;

                        img {
                            width: 4em;
                        }
                    }
                }

                .item {
                    @include flex-row();
                    font-size: .75em;
                    font-weight: 200;

                    div {
                        padding: 0 .5em;
                    }
                }

                .wind {
                    align-items: center;
                    background-color: #3333333f;
                    border-radius: .5em;
                    display: flex;
                    height: 5rem;
                    justify-content: center;
                    margin: .5em;
                    position: relative;
                    transition: all .25s ease-out;
                    width: 5rem;

                    &:hover {
                        transform: scale(2, 2);
                    }

                    .north {
                        position: absolute;
                        transform: translate(0, -1.5rem);

                        &:after {
                            border-right: 1px solid #abcccc;
                            content: "";
                            height: .5em;
                            position: absolute;
                            left: 9px;
                            bottom: 16px;
                            width: 0;
                        }
                    }

                    .east {
                        position: absolute;
                        transform: translate(1.5rem, 0);

                        &:after {
                            border-bottom: 1px solid #abcccc;
                            content: "";
                            height: 0;
                            position: absolute;
                            left: 16px;
                            top: 8px;
                            width: .5em;
                        }
                    }

                    .south {
                        position: absolute;
                        transform: translate(0, 1.5rem);

                        &:after {
                            border-right: 1px solid #abcccc;
                            content: "";
                            height: .5em;
                            position: absolute;
                            left: 9px;
                            top: 16px;
                            width: 0;
                        }
                    }

                    .west {
                        position: absolute;
                        transform: translate(-1.5rem, 0);

                        &:after {
                            border-bottom: 1px solid #abcccc;
                            content: "";
                            height: 0;
                            position: absolute;
                            right: 17px;
                            top: 8px;
                            width: .5em;
                        }
                    }

                    .circle1 {
                        background-color: transparent;
                        border: .5em solid #abcccc3f;
                        border-radius: 50%;
                        height: 4.5rem;
                        position: absolute;
                        width: 4.5rem;
                    }

                    .arrow {
                        @include flex-col(center, flex-start);
                        position: absolute;
                        transform: rotate(0deg) scaleX(50%);
                        transition: all 1s;
                        height: 4rem;
                        width: 1rem;

                        * {
                            padding: 0;
                        }

                        .head {
                            //transform: translateY(-.75rem);
                            //padding: 0;

                            div {
                                transform: rotate(-67deg);

                                div {
                                    border-bottom: 4px solid #abcccc;
                                    border-right: 4px solid #abcccc;
                                    height: 1rem;
                                    width: 1rem;
                                }
                            }
                        }

                        .stick {
                            background-color: #abcccc;
                            height: 4rem;
                            //padding: 0;
                            position: absolute;
                            width: 4px;
                        }

                        .center {
                            background-color: #abcccc;
                            border-radius: 50%;
                            height: .5rem;
                            //padding: 0;
                            position: absolute;
                            transform: translateY(1.75rem);
                            width: 1rem;
                        }

                        .tail {
                            @include flex-col();
                            background-color: #abcccc;
                            border-radius: 50%;
                            height: .5rem;
                            //padding: 0;
                            position: absolute;
                            transform: translateY(3.75rem);
                            width: 1rem;

                            div {
                                background-color: #1233337f;
                                border-radius: 50%;
                                height: .25rem;
                                //padding: 0;
                                position: absolute;
                                width: .5rem;
                            }
                        }
                    }

                }

                .hours {
                    @include flex-row(center, auto);
                    margin-bottom: 1em;
                    margin-top: 1em;
                    overflow-x: scroll;
                    width: 20em;

                    .h24 {
                        @include flex-row();
                        padding: .5em 0;

                        .hour {
                            @include flex-col();
                            background-color: #3f3f3f3f;
                            border: none;
                            border-radius: .4em;
                            color: #f2f2f2;
                            font-size: .75em;
                            font-weight: 100;
                            margin: 0 .25em;
                            outline: none;
                            overflow: hidden;
                            padding: .25em;
                            transform: scale(1);
                            transition: $transition-delay;

                            img {
                                height: 29px;
                                width: 29px;
                            }

                            &:hover,
                            &:focus {
                                transform: scale(1.25);
                            }
                        }
                    }
                }

                .toggle {
                    background-color: transparent;
                    color: #f2f2f2;
                    cursor: pointer;
                    font-size: 1em;
                    font-weight: bold;
                    right: 1em;
                    position: absolute;
                    top: 1em;
                }
            }
        }
    }

    .details {
        @include flex-100();

        form {
            @include mtt-form(.5deg);
        }
    }

    .collections {
        @include flex-100(stretch);
        background-color: var(--gradient-ardoise-80);
        border-radius: 1em;
        color: var(--gradient-ardoise-20);
        flex-wrap: wrap;
        font-weight: 100;
        //gap: 1em;
        padding: 1em;

        .collection {
            @include flex-col(center, start);
            gap: .5em;
            width: 8em;

            .count {
                @include flex-row();
                border: 4px solid var(--gradient-ardoise-40);
                border-radius: 50%;
                font-size: 2em;
                height: 2.5em;
                width: 2.5em;
            }

            .label {
                font-weight: 300;
                text-align: center;
            }
        }
    }

    @media (min-width: 768px) {
        .details {
            .field {
                flex: 1 0 auto;
            }
        }
    }
}

.user-movies {
    @include flex-col();
    font-weight: 100;
    margin-top: 3em;
    width: 100%;

    h4 {
        text-align: center;
    }

    .search-block {
        @include flex-col(center, space-evenly);
        width: 100%;
    }

    .search {
        background-color: var(--gradient-ardoise-80-alpha-50);
        border: 2px solid var(--gradient-ardoise-60);
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        padding: 1em;
        position: relative;
        top: 0;
        z-index: 2;

        .result {
            @include flex-row;
            background-color: rgba(238, 238, 238, 0.75);
            border: 2px solid #dbdbdb;
            border-radius: 1em;
            flex-wrap: wrap;
            left: -.25em;
            max-height: 30em;
            overflow: hidden;
            overflow-y: scroll;
            padding: 1em;
            position: absolute;
            top: 4.125em;
            width: 45em;
        }
    }

    .export {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        font-weight: 400;
        margin-top: 1em;
        position: relative;
        top: 0;
        z-index: 2;
    }

    .home-discover {
        @include flex-col();
        padding: 0;
        position: relative;
        transition: opacity .5s ease-out, transform .5s ease-out;
        width: 9.5em;
    }
}

.export-movies, .append-movies {
    @include dialog2(50em);

    .overlay {
        margin-top: calc(50vh - 38em);
    }
}

.export-movies {
    .content {

        .sample {
            //background-color: #f0f0f0;
            background: #f6e2f6;
            background: linear-gradient(225deg, #f6e2f6 0%, #f0f0f0 100%);
            border-radius: .5em;
            color: #545454;
            font-family: 'Courier Prime', monospace;
            font-size: 1em;
            margin: 0 0 1em 0;
            max-width: 800px;
            overflow-x: scroll;
            padding: 1em;
            width: 100%;

            span.key {
                color: #a600a6;
            }

            span.value-alpha {
                color: #007800;
            }

            span.value-digit {
                color: #0000db;
            }

            .i {
                color: #e99e00;
            }
        }

        .selection {
            @include flex-row();
            margin-bottom: 1em;
            width: 100%;
        }

        .export-result {
            @include flex-row();
            flex-wrap: wrap;
            max-height: 10rem;
            overflow-y: scroll;

            .result-item {
                background-color: #0d5e42;
                border-radius: .25em;
                color: #0dcaf0;
                cursor: pointer;
                margin: .125em;
                padding: 0 .25em;

                &:hover {
                    background-color: #ffe4ab;
                    color: #073f53;
                }

                &.active {
                    background-color: #3487bb;
                    color: #c8f1ff;
                }
            }
        }
    }
}

.append-movies {
    .content {

        label {
            margin-bottom: 1em;

            input {
                margin-left: 1em;

                &::file-selector-button {
                    appearance: none;
                    background-color: var(--gradient-ardoise-40);
                    border: 1px solid var(--gradient-ardoise-60);
                    border-radius: .5em;
                    color: var(--gradient-ardoise-80);
                    font-weight: 100;
                    padding: .25em .5em;

                    &:hover {
                        background-color: var(--gradient-ardoise-50);
                        color: var(--gradient-ardoise-90);
                    }
                }
            }
        }

        .append-infos {
            background-color: #666;
            border-radius: .5em;
            color: #dbdbdb;
            display: flex;
            flex-direction: column;
            margin: .5em 0;
            padding: .5em;
            width: 100%;

            .info {
                font-size: .75em;
                padding: .5em;
            }

            .select {
                margin-left: auto;
                padding: .5em;
            }

            .none {
                background-color: #0d9488;
                border-radius: .5em;
                font-size: 1.5em;
                margin: 1em auto;
                padding: 1em;
            }
        }

        .append-result {
            @include flex-row(stretch, center);
            color: #dbdbdb;
            flex-wrap: wrap;
            max-height: 49rem;
            overflow-y: scroll;

            .result-item {
                background-color: #666;
                border-radius: .5em;
                display: flex;
                flex-direction: column;
                margin: .5em;
                overflow: hidden;
                position: relative;
                width: 10em;

                .name {
                    @include flex-row();
                    font-size: .75em;
                    height: 100%;
                    padding: .25em;
                    text-align: center;
                    width: 100%;
                }

                img {
                    display: block;
                    height: 15em;
                    object-fit: cover;
                    width: auto;
                }

                .check-add {
                    background-color: transparent;
                    border: 4px solid #dbdbdb;
                    border-radius: 50%;
                    cursor: pointer;
                    height: 1.5em;
                    position: absolute;
                    right: 1em;
                    top: 1em;
                    width: 1.5em;
                }

                .check-add.active {
                    background-color: #0d6efd;
                }
            }
        }
    }

    .append-progress {
        background-color: rgba(13, 148, 136, 0.2);
        align-items: center;
        display: none;
        inset: 0;
        justify-content: center;
        position: absolute;

        .progress {
            @include flex-row(center, space-evenly);
            background-color: #0d9488;
            border-radius: .5em;
            color: #dbdbdb;
            height: 4em;
            padding: 1em;

            .label {
                font-size: 1em;
                margin-right: .5em;
            }

            .bar {
                background-color: #0c4a6e;
                border: 2px solid #dbdbdb;
                border-radius: .5em;
                height: 1em;
                overflow: hidden;
                width: 30em;

                .value {
                    background-color: #5eead4;
                    height: 100%;
                    overflow: hidden;
                    transition: width .2s linear;
                    width: 50%;
                }
            }
        }
    }
}

.contact {

    .details {
        @include flex-100();

        form {
            @include mtt-form(0deg);

            .form-row {
                &.center {
                    justify-content: center;
                }
            }

            .field {
                input {
                    width: 100%;
                }

                textarea {
                    padding: .25em 1em;
                    width: 100%;
                }

                &:has(textarea) {
                    width: 100%;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .details {
            .field {
                flex: 1 0 auto;
            }
        }
    }
}

@media (min-width: 575.98px) {

    .user-account {

        .banner {
            height: 16em;
        }
    }
}

@media (min-width: 767.98px) {

    .user-account {

        .banner {
            height: 20em;
            margin-bottom: unset;

            .title {
                bottom: 1em;
                font-size: 3em;
                left: 2em;
            }

            .avatar {
                bottom: 1em;
                right: 1em;
            }

            .weather {
                bottom: unset;
                right: 2em;
                top: 2em;
                width: unset;
            }
        }
    }

    .user-movies {

        .search-block {
            flex-direction: row;
        }

        .export {
            margin-top: unset;
            padding: 1em;
        }

        .home-discover {
            padding: .25em;
            width: 18em;
        }
    }
}

@media (min-width: 991.98px) {

    .user-account {

        .banner {
            height: 32em;
        }
    }
}

@media (min-width: 1199.98px) {

    .user-account {

        //.banner {
        //    height: 40em;
        //}

        .avatar {
            bottom: 2em;
            height: 12em;
            right: 2em;
            width: 12em;
        }
    }
}

@media (min-width: 1399.98px) {

    .user-account {

        //.banner {
        //    height: 48em;
        //}

    }
}

@media (prefers-color-scheme: dark) {

    .user-account {
        .details {
            form {
                box-shadow: 0 0 1em hsla(0, 0, 100%, .2), 0 0 3em hsla(0, 0, 100%, .15), 0 0 10em hsla(0, 0, 100%, .1);
            }
        }

        .collections {
            background-color: var(--gradient-ardoise-30);
            color: var(--gradient-ardoise-90);

            .collection {

                .count {
                    border: 2px solid var(--gradient-ardoise-90);
                }

                .label {
                }
            }
        }
    }

    .user-movies {

        .search {
            background-color: var(--gradient-ardoise-30);

            .result {
                background-color: var(--gradient-ardoise-30);
            }
        }
    }

    .export-movies, .append-movies {
        .overlay {
            background-color: var(--gradient-ardoise-20);
            border-color: var(--gradient-ardoise-50);
            color: var(--gradient-ardoise-80);

            .header {
                .close {
                    color: var(--gradient-ardoise-80);
                }
            }

            .content {

                .sample {
                    background: rgb(68, 68, 68);
                    background: linear-gradient(225deg, rgba(83, 66, 83, 1) 0%, rgba(68, 68, 68, 1) 100%);
                    color: #5eead4;

                    span.key {
                        color: #f493f4;
                    }

                    span.value-alpha {
                        color: #5bbf5b;
                    }

                    span.value-digit {
                        color: #55b1fc;
                    }

                    i {
                        color: #ffe4ab;
                    }
                }
            }
        }
    }

}
