.yt-header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1em;

    .banner {
        background-image: url("../images/yt-header1.png");
        background-position: left center;
        background-size: cover;
        border-radius: 1em;
        height: 100px;
        position: relative;
        width: 100%;

        .nav-breadcrumb {
            bottom: -2em;
            left: -1em;
            padding: .25em .75em;
            position: absolute;

            .breadcrumb {
                background-color: #efefef;
                padding: 0 .5em;
            }
        }
    }
}

.yt-videos {
    font-weight: 400;
    margin: 1em;

    .getter {
        align-items: center;
        display: flex;
        flex-direction: column;

        h1 {
            font-weight: 100;
        }

        h5 {
            font-weight: 100;
            text-align: center;
        }
    }

    .parameters {
        align-items: center;
        background-color: #dbdbdb;
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 1em;

        .input {

            label {
                margin-left: 0;
            }
        }

        .example {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: .75em;
            padding: 1em;

            a {
                text-decoration: none;
            }

            span {
                color: #085d55;

                span {
                    color: #12b7a9;
                    font-weight: bold;
                }
            }
        }

        .thumbnail {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                border-radius: .25em;
                height: 5.625em;
                width: 10em;
            }
        }
    }

    .result {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.yt-videos-none {
    background-color: #808080;
    border-radius: .25em;
    font-size: 3em;
    font-weight: normal;
    margin: 2em;
    padding: 1em 2em;
    text-align: center;
}

@mixin thumbnail {
    align-items: center;
    background-color: #0d9488;
    border: 2px solid #bdbdbd;
    border-radius: 50%;
    display: flex;
    height: 2em;
    flex: none;
    font-size: 2em;
    font-weight: 400;
    justify-content: center;
    width: 2em;

    img {
        border-radius: 50%;
    }
}

.yt-video {
    align-items: center;
    background-color: #dbdbdb;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    overflow: hidden;

    .thumbnail {
        position: relative;
        font-weight: 100;
    }

    .duration {
        background-color: #1c1c1c;
        border-radius: .125em;
        bottom: .5em;
        font-size: .75em;
        font-weight: 400;
        padding: .25em;
        position: absolute;
        right: .5em;
    }

    .details {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: .5em;
        width: 20em;

        .channel {
            @include thumbnail;

            span[data-descr] {
                position: relative;
            }

            span[data-descr]:hover::after {
                background-color: #808080;
                border: 2px #bdbdbd solid;
                border-radius: .5em;
                bottom: 3.5em;
                color: #dbdbdb;
                content: attr(data-descr);
                font-size: .5em;
                font-weight: 400;
                left: 0;
                min-width: 10em;
                padding: .25em;
                position: absolute;
                text-align: center;
                z-index: 1;
            }
        }

        .infos {
            display: flex;
            flex-direction: column;
            padding-left: 1em;

            .info {
                font-size: .75em;
                font-weight: 400;
            }
        }
    }
}

.yt-video-page {
    font-weight: 400;

    .video {
        height: 324px;
        width: 576px;
        iframe {
            height: 100%;
            width: 100%;
        }
    }

    .details {
        .title {
            font-size: 1.5em;
            font-weight: 400;
            padding-top: 1em;
        }

        .description {
            a {
                color: #0d5e42;
            }
        }

        .channel {
            align-items: baseline;
            display: flex;
            flex-direction: row;

            .title {
                font-weight: 400;
                padding-left: 1em;
            }
            .thumbnail {
                @include thumbnail;
            }
        }
    }
}

@media (min-width: 575.98px) {
    .yt-video-page {
        .video {
            height: 240px; /* 239,625 */
            width: 426px;
        }
    }

    .yt-header {

        .banner {
            height: 120px;
            width: 100%;

            .nav-breadcrumb {
                bottom: -2em;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            flex-direction: column;
            width: 100%;
        }
    }

    /*.yt-videos .search .parameters::before {*/
    /*    color: yellow;*/
    /*    content: 'sm';*/
    /*}*/
}

@media (min-width: 767.98px) {
    .yt-video-page {
        .video {
            height: 324px;
            width: 576px;
        }
    }

    .yt-header {

        .banner {
            height: 160px;
            width: 100%;

            .nav-breadcrumb {
                bottom: -1em;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            flex-direction: row;
            width: 100%;

            .example {
                padding: 0 1em;
            }
        }
    }

    /*.yt-videos .search .parameters::before {*/
    /*    color: yellow;*/
    /*    content: 'md';*/
    /*}*/
}

@media (min-width: 991.98px) {
    .yt-video-page {
        .video {
            height: 437px; /* 436,5 */
            width: 776px;
        }
    }

    .yt-header {

        .banner {
            height: 240px;
            width: 100%;

            .nav-breadcrumb {
                bottom: 0;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            flex-direction: row;
            padding: 1em 0;
            width: 100%;

            label {
                margin-left: 1em;
            }
        }
    }

    /*.yt-videos .search .parameters::before {*/
    /*    color: yellow;*/
    /*    content: 'lg';*/
    /*}*/
}

@media (min-width: 1199.98px) {
    .yt-video-page {
        .video {
            height: 521px; /* 520,875 */
            width: 926px;
        }
    }

    .yt-header {

        .banner {
            height: 320px;
            width: 100%;

            .nav-breadcrumb {
                bottom: 0;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            flex-direction: row;
            padding: 1em;
            width: 100%;
        }
    }

    /*.yt-videos .search .parameters::before {*/
    /*    color: yellow;*/
    /*    content: 'xl';*/
    /*}*/
}

@media (min-width: 1399.98px) {
    .yt-video-page {
        .video {
            height: 606px; /* 605,25 */
            width: 1076px;
        }
    }

    .yt-header {

        .banner {
            height: 320px;
            width: 80%;

            .nav-breadcrumb {
                bottom: 0;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            flex-direction: row;
            padding: 1em;
            width: 80%;
        }
    }

    /*.yt-videos .search .parameters::before {*/
    /*    color: yellow;*/
    /*    content: 'xxl';*/
    /*}*/
}

@media (prefers-color-scheme: dark) {

    .yt-header {
        .banner {
            .nav-breadcrumb {
                .breadcrumb {
                    background-color: transparent;
                    padding: 0;
                }
            }
        }
    }

    .yt-videos {

        .parameters {
            background-color: #2f2f2f;

            span {
                color: #0d9488;

                span {
                    color: #16f6e2;
                }
            }
        }
    }

    .yt-video {
        background-color: #2f2f2f;
    }

    .yt-video-page {
        font-weight: 200;
    }

    .yt-video-page {
        .details {
            .description {
                a {
                    color: #16f6e2;
                }
            }
        }
    }
}