@import "variables";
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

.yt-header {
    @include banner("../images/youtube.png");
    background-color: var(--gradient-ardoise-75-alpha-25);
    border-radius: 1em;
    height: clamp(21em, 20vw, 26em);
    margin-top: 1em;

    .banner {
        .history, .search-on-yt, .youtube {
            @include flex-row();
            border: 2px solid var(--gradient-ardoise-10);
            border-radius: 50%;
            bottom: 1rem;
            position: absolute;
            right: 1rem;
            width: calc(1.5rem + 4px);
        }

        .title {
            bottom: 4rem;
            color: var(--gradient-ardoise-10);
            font-size: clamp(1.5em, 5vw, 6em);
            font-weight: 400;
            left: 15rem;
            padding: .25rem;
            position: absolute;
        }

        .search-on-yt {
            bottom: 3.5rem;
        }

        .youtube {
            bottom: 6rem;
        }
    }
}

.yt-result {
    margin-block-end: .5rem;
    width: 24.5%;

    .yt-video {
        @include flex-col(center, start);
        background-color: var(--gradient-ardoise-80-alpha-50);
        border-radius: .5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
        line-height: 1rem;
        width: 100%;

        > a {
            display: block;
            height: 100%;
            width: 100%;
        }

        .yt-thumbnail {
            aspect-ratio: 20 / 11;
            font-weight: 100;
            //height: 11rem;
            position: relative;
            width: 100%;

            img {
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            .duration {
                background-color: var(--gradient-ardoise-90);
                border-radius: .25rem;
                bottom: .5rem;
                font-size: .75rem;
                font-weight: 400;
                padding: .25rem;
                position: absolute;
                right: .5rem;
            }

            .visibility {
                align-items: center;
                aspect-ratio: 1;
                background-color: var(--gradient-ardoise-90);
                border-radius: 50%;
                border: 2px solid var(--gradient-ardoise-10);
                bottom: .5rem;
                color: var(--gradient-ardoise-10);
                display: flex;
                font-size: 1rem;
                font-weight: 400;
                justify-content: center;
                left: .5rem;
                position: absolute;
                width: 2rem;

                &:has(i[class$="slash"]) {
                    border-color: var(--gradient-orange-50);
                    color: var(--gradient-orange-50);
                }
            }

            .tags {
                @include flex-row(center, flex-start);
                flex-wrap: wrap;
                left: .5rem;
                gap: .25rem;
                position: absolute;
                top: .5rem;
                width: calc(100% - 1rem);

                .tag {
                    background-color: var(--gradient-ardoise-60);
                    border: 1px solid var(--gradient-ardoise-10);
                    border-radius: .25rem;
                    color: var(--gradient-ardoise-10);
                    font-size: .75rem;
                    font-weight: 400;
                    padding: 0 .5rem;

                    &.highlight {
                        background-color: var(--gradient-purple-40);
                        border: 1px solid var(--gradient-purple-90);
                        color: var(--gradient-purple-90);
                    }
                }
            }
        }

        .details {
            @include flex-100(center, start);
            padding: .5rem;
            position: relative;

            .channel {
                @include author(var(--gradient-ardoise-60));
            }

            .infos {
                display: flex;
                flex-direction: column;
                padding-left: 1rem;

                .info {
                    font-size: .75em;
                    font-weight: 400;
                    max-height: 3rem;
                    overflow: hidden;
                }
            }

            .select-video {
                background-color: var(--gradient-ardoise-80);
                border: 4px solid var(--gradient-ardoise-10);
                border-radius: 50%;
                cursor: pointer;
                bottom: .5rem;
                height: 2rem;
                outline: 4px solid var(--gradient-ardoise-90);
                position: absolute;
                right: .5rem;
                width: 2rem;

                &.selected {
                    background-color: var(--gradient-emerald-50);
                    outline: 4px solid var(--gradient-emerald-50);
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .yt-result {
        width: 32%;
    }
}

@media (max-width: 800px) {
    .yt-result {
        width: 48%;
    }
}

@media (max-width: 400px) {
    .yt-result {
        width: 100%;
    }
}

.yt-videos {
    font-weight: 400;
    margin: 1em 0;

    .getter {
        @include flex-col();

        h1 {
            color: var(--gradient-ardoise-10);
            font-weight: 100;
            text-align: center;
        }

        h2 {
            color: var(--gradient-ardoise-10);
            font-weight: 100;
            margin: 0 0 1em 0;
            text-align: center;
            text-wrap: balance;
        }

        .user-content {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-block-start: 1rem;
            width: 100%;

            .video-series {
                flex-grow: 1;
                min-width: 16rem;

                .video-series-header {
                    background-color: var(--gradient-orange-50);
                    border-radius: .25rem;
                    color: var(--gradient-ardoise-10);
                    display: flex;
                    padding-block: .25rem;
                    padding-inline: .5rem;
                    width: 100%;

                    .title {
                        font-size: 1rem;
                        font-weight: 400;
                    }

                    .new-list {
                        align-items: center;
                        border: 2px solid var(--gradient-ardoise-10);
                        border-radius: 50%;
                        cursor: pointer;
                        display: flex;
                        height: 1.5rem;
                        justify-content: center;
                        margin-inline-start: auto;
                        width: 1.5rem;
                    }
                }

                .video-series-list {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    gap: .25rem;
                    width: 100%;

                    .video-series-item {

                        &.open {
                            .videos {
                                display: flex;
                            }
                        }

                        .header {
                            background-color: var(--gradient-ardoise-80);
                            border-radius: .25rem;
                            color: var(--gradient-ardoise-10);
                            cursor: pointer;
                            display: flex;
                            gap: .25rem;
                            padding: .25rem;
                            transition: background-color 250ms ease-in-out;

                            &:hover {
                                background-color: var(--gradient-ardoise-60);
                            }

                            &.selected {
                                background-color: var(--gradient-orange-50);
                            }

                            .title {
                                font-size: .75rem;
                                font-weight: 400;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .count {
                                font-size: .75rem;
                                font-weight: 400;
                                margin-left: auto;

                                .loading {
                                    animation: loop 1s linear infinite;
                                    background: conic-gradient(
                                                    hsla(0, 0, 0, 0) 0%,
                                                    hsla(0, 50%, 50%, .2) 75%,
                                                    hsla(0, 100%, 100%, 1) 100%);
                                    border-radius: 50%;
                                    display: none;
                                    height: 1rem;
                                    width: 1rem;

                                    &.active {
                                        display: block;
                                    }
                                }

                                @keyframes loop {
                                    100% {
                                        transform: rotate(359deg);
                                    }
                                }
                            }
                        }

                        .videos {
                            align-items: center;
                            background-color: var(--gradient-orange-50);
                            color: var(--gradient-ardoise-10);
                            display: none;
                            flex-direction: column;
                            gap: .25rem;
                            justify-content: flex-start;
                            max-height: 32rem;
                            overflow-y: auto;
                            padding: .25rem;

                            .video {
                                width: 100%;

                                a {
                                    align-items: center;
                                    background-color: var(--gradient-ardoise-80);
                                    border-radius: .25rem;
                                    color: var(--gradient-ardoise-10);
                                    cursor: pointer;
                                    display: flex;
                                    gap: .25rem;
                                    font-size: .75rem;
                                    padding: .25rem;
                                    transition: background-color 250ms ease-in-out;
                                    width: 100%;

                                    &:hover {
                                        background-color: var(--gradient-ardoise-60);
                                    }

                                    .thumbnail {
                                        border-radius: .25rem;
                                        flex-shrink: 0;
                                        height: 3rem;
                                        width: 5rem;

                                        img {
                                            border-radius: .25rem;
                                            height: 100%;
                                            object-fit: cover;
                                            width: 100%;
                                        }
                                    }

                                    .title {
                                        align-items: center;
                                        display: flex;
                                        flex-shrink: 1;
                                        font-size: .75rem;
                                        font-weight: 400;
                                        height: 100%;
                                        justify-content: flex-start;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }

                                    .published-at {
                                        background-color: var(--gradient-orange-40);
                                        border-radius: .25rem;
                                        color: var(--gradient-orange-90);
                                        flex-shrink: 0;
                                        font-size: .75rem;
                                        font-weight: 400;
                                        margin-inline-start: auto;
                                        padding: .125rem .25rem;
                                    }

                                    .matches {
                                        display: flex;
                                        flex-shrink: 0;
                                        gap: .25rem;

                                        .match {
                                            background-color: var(--gradient-purple-40);
                                            border-radius: .25rem;
                                            color: var(--gradient-purple-90);
                                            font-size: .75rem;
                                            font-weight: 400;
                                            padding: .125rem .25rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .result {
                @include flex-row(stretch, space-between);
                flex-wrap: wrap;
                //gap: .5em;
                margin-inline: auto;
                /* min-width: 20rem; 1 * 20rem */
                /* max-width: 81.5rem; 4 * 20rem + 3 * .5rem (gap) */
            }
        }
    }

    .parameters {
        @include flex-100(start, space-between);
        background-color: var(--gradient-ardoise-90);
        border-radius: .5em;
        box-shadow: 0 0 1em rgba(0, 0, 0, .5);
        color: var(--gradient-ardoise-10);
        gap: 1em;
        margin: 0 auto;
        padding: .5em 1em;
        overflow: hidden;
        position: sticky;
        top: 3em;
        z-index: 40;

        .title {
            flex-shrink: 0;
            margin-top: .5em;
        }

        .icon-minimise {
            flex-shrink: 0;
            cursor: pointer;
        }

        .content {
            @include flex-col(center, space-around);
            flex: 1;
            padding: .5em;

            label {
                font-weight: 100;
            }

            .input {
                @include flex-row();
                background-color: var(--gradient-ardoise-80);
                border-radius: .5em;
                flex: 1;
                gap: 1em;
                padding: .5em;

                form {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em;
                    justify-content: center;
                    width: 100%;
                }

                .link, .sort, .order {
                    @include flex-row();
                    font-weight: 100;
                    gap: .5rem;
                    text-transform: capitalize;

                    > div {
                        flex-shrink: 0;
                    }

                    label {
                        margin-left: 0;

                        input {
                            background-color: var(--gradient-orange-50);
                            color: var(--gradient-ardoise-10);
                            margin-left: .5em;
                        }
                    }
                }

                .page {
                    align-items: center;
                    display: flex;
                    height: 1.5em;
                    justify-content: center;

                    label {
                        input {
                            background-color: var(--gradient-ardoise-30);
                            border: 1px solid var(--gradient-ardoise-80);
                        }
                    }
                }

                .reload {
                    opacity: 0;
                    scale: 0;
                    transition: all .25s ease-in-out;

                    &.active {
                        opacity: 1;
                        scale: 1;
                    }
                }
            }

            .example {
                @include flex-col();
                font-size: .75em;
                padding: 1em;

                a {
                    text-decoration: none;
                }

                span {
                    color: var(--gradient-ardoise-50);

                    span {
                        color: var(--gradient-ardoise-70);
                        font-weight: bold;
                    }
                }
            }

            .thumbnail {
                @include flex-row();
                background-color: var(--gradient-ardoise-30);
                border-radius: .5em;
                padding: .5em;

                img {
                    border-radius: .25em;
                    height: 5.625em;
                    width: 10em;
                }
            }

            &.minimise {
                padding: 0;

                .input {
                    padding-left: 1em;
                    padding-right: 1em;

                    form {
                        @include flex-row();
                        flex: 1;
                        flex-wrap: wrap;
                        gap: 1em;
                    }
                }

                .example, .thumbnail {
                    display: none;
                }
            }
        }
    }

    //.search-tags {
    //    @include flex-col();
    //    background-color: var(--gradient-ardoise-80);
    //    border-radius: .5em;
    //    margin: .25em auto;
    //    overflow: hidden;
    //
    //    .header {
    //        @include yt-header;
    //    }
    //
    //    .content {
    //        @include flex-col(center, space-around);
    //        padding: 1em;
    //        width: 100%;
    //
    //        .tags {
    //        }
    //
    //        .search {
    //
    //        }
    //    }
    //}

    //.result {
    //    @include flex-row();
    //    flex-wrap: wrap;
    //    gap: 1em;
    //
    //}

    .see-more {
        @include flex-100;
    }

    .status {
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        background-color: var(--gradient-ardoise-80-alpha-50);
        border-radius: .5rem;
        border: 2px solid var(--gradient-ardoise-70);
        color: var(--gradient-ardoise-10);
        left: 50%;
        min-width: 15rem;
        opacity: 0;
        padding: 2rem 4rem;
        position: absolute;
        top: -10%;
        transition: opacity .25s ease-in-out, top .25s ease-out;
        z-index: 1000;

        strong {
            color: var(--gradient-green-50);
        }

        &.ok {
            opacity: 1;
            top: 20%;
        }
    }
}

.yt-videos-none {
    background-color: var(--gradient-ardoise-50);
    border-radius: .25em;
    font-size: 3em;
    font-weight: normal;
    margin: 2em;
    padding: 1em 2em;
    text-align: center;
}

.yt-video-page {
    gap: 1em;
    font-weight: 400;

    .video {
        aspect-ratio: 16 / 9;
        height: auto;
        width: 100%;

        iframe {
            height: 100%;
            width: 100%;
        }
    }

    .the-video {
        @include flex-100(start, start);
        gap: 1em;
        position: relative;

        &:has(.comments) {
            .details {
                width: 40%;
            }

            .qr-code {
                width: calc(20% - 2em);
            }
        }

        .details {
            color: var(--gradient-ardoise-10);
            width: 80%;

            .title-tags {
                @include flex-col(flex-start, flex-start);

                .title-trash {
                    @include flex-100();
                    gap: 1em;

                    .title {
                        font-size: 1.5em;
                        font-weight: 400;
                        padding-top: 1em;
                    }

                    .youtube {
                        font-size: 1.5em;
                        margin-left: auto;
                    }

                    .copy, .trash {
                        cursor: pointer;
                        font-size: 1.5em;
                    }

                    .copy {
                        transition: rotate 500ms ease-in-out;

                        &.copied {
                            rotate: 1turn;
                        }
                    }
                }

                .tags {
                    @include flex-row(center, flex-end);
                    flex-wrap: wrap;
                    margin: 1em 0;

                    .add-tag {
                        position: relative;

                        input {
                            background-color: var(--gradient-ardoise-60);
                            border: 1px solid var(--gradient-ardoise-10);
                            border-radius: .5em;
                            caret-color: var(--gradient-ardoise-10);
                            color: var(--gradient-ardoise-10);
                            padding-left: .5em;
                        }

                        .results {
                            background-color: var(--gradient-ardoise-60);
                            border: 1px solid var(--gradient-ardoise-10);
                            border-radius: .25em;
                            left: 1em;
                            position: absolute;
                            top: 1.75em;

                            .item {
                                color: var(--gradient-ardoise-10);
                                padding: 0 1em;

                                &:hover {
                                    background-color: var(--gradient-ardoise-10);
                                    color: var(--gradient-ardoise-60);
                                    cursor: pointer;
                                }
                            }
                        }

                        .add {
                            color: var(--gradient-ardoise-10);
                            cursor: pointer;
                            position: absolute;
                            right: .25em;
                            top: .125em;
                        }
                    }

                    .tag {
                        background-color: var(--gradient-ardoise-60);
                        border: 1px solid var(--gradient-ardoise-10);
                        border-radius: .5em;
                        color: var(--gradient-ardoise-10);
                        font-size: 1em;
                        font-weight: 100;
                        padding: 1px 1.5em 1px .5em; /* -> same height as input */
                        margin: 2px 0 2px .25em;
                        position: relative;

                        &.new {
                            background-color: var(--gradient-orange-50);
                        }

                        .close {
                            @include flex-row();
                            border-radius: 50%;
                            cursor: pointer;
                            font-size: .75em;
                            position: absolute;
                            right: .15em;
                            top: .15em;
                        }
                    }
                }
            }

            .description {
                a {
                    color: var(--gradient-ardoise-60);
                }
            }

            .channel {
                @include flex-row(center, start);
                margin-top: 1em;

                .title {
                    font-weight: 400;
                    padding-left: 1em;
                }

                .thumbnail {
                    @include author(var(--gradient-ardoise-40));
                }
            }
        }

        .comments {
            background-color: var(--gradient-ardoise-60);
            border-radius: 1rem;
            padding: 1rem;
            width: 40%;
        }

        .qr-code {
            padding: 1em 0 1em 1em;
            width: calc(20% - 1em);

            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .copied-text {
        background-color: var(--gradient-green-30);
        border-radius: .25em;
        color: var(-gradiant-ardoise-100);
        font-weight: bold;
        opacity: 0;
        padding: .25em .5em;
        position: absolute;
        transform: scale(.25);
        transition: transform 1000ms ease-out;

        &.visible {
            animation: appearance 1500ms ease-out;
        }

        &.move-up {
            transform: scale(2) translateY(-80px);
        }

        @keyframes appearance {
            20% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

    }
}

.delete-video {
    @include dialog2(30em);
}

.youtube-search {
    @include flex-col(flex-start, center);
    padding-top: 1em;

    .header {
        @include animated-header("../images/youtube.png");

        .backdrop {
            background-position: 75% top;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .search {
        @include flex-100(start, start);
        background-color: var(--gradient-ardoise-80);
        margin: 1em 0;
        padding: 1em;

        .group {
            @include flex-100(center, start);

            label {
                color: var(--gradient-ardoise-10);
                font-weight: 100;
                margin-right: 1em;
            }

            .tags {
                @include flex-row();
                flex-shrink: 10000;
                flex-wrap: wrap;
                gap: .25em;
                margin-left: .5em;
                margin-right: .5em;

                .tag {
                    @include flex-row();
                    background-color: var(--gradient-purple-30);
                    border-radius: .25em;
                    color: var(--gradient-ardoise-10);
                    font-weight: 100;
                    padding: .25em .5em;

                    .delete {
                        @include flex-row();
                        cursor: pointer;
                        margin-left: .5em;
                    }
                }
            }

            .method {
                color: var(--gradient-ardoise-30);
                margin-left: auto;
                position: relative;

                label {
                    margin-right: .5em;
                }

                select {
                    appearance: none;
                    background-color: var(--gradient-ardoise-70);
                    border: none;
                    border-radius: .25em;
                    color: var(--gradient-ardoise-30);
                    font-weight: 100;
                    padding: .25em 2em .25em 1em;
                }

                .arrow {
                    @include flex-row();
                    height: 100%;
                    position: absolute;
                    right: .75em;
                    top: 0;
                    width: 1.5em;
                }
            }

            .apply {
                appearance: unset;
                background-color: var(--gradient-ardoise-80);
                border: 1px solid var(--gradient-ardoise-20);
                border-radius: var(--button-border-radius);
                color: var(--gradient-ardoise-20);
                font-weight: 100;
                margin-left: 1em;
                padding: .25em 1em;
                text-transform: uppercase;

                &:hover {
                    background-color: var(--gradient-ardoise-50);
                    color: var(--gradient-orange-20);
                }

                &.disabled {
                    background-color: var(--gradient-ardoise-50);
                    border: 1px solid var(--gradient-ardoise-40);
                    color: var(--gradient-ardoise-40);
                    cursor: default;
                }
            }
        }
    }

    .results {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .result-header {
            align-items: center;
            display: flex;
            justify-content: center;

            .title {
                color: var(--gradient-ardoise-10);
                font-size: 1.5em;
                font-weight: 300;
            }

            .modify-tools {
                display: flex;
                gap: 1em;
                margin-inline-start: auto;

                button {
                    @include flex-row();
                    background-color: var(--gradient-ardoise-80);
                    border-radius: .25em;
                    border: 1px solid var(--gradient-ardoise-10);
                    color: var(--gradient-ardoise-10);
                    cursor: pointer;
                    padding: .25em .5em;

                    &:hover {
                        background-color: var(--gradient-ardoise-60);
                    }

                    &:has(i) {
                        border-radius: 50%;
                    }
                }
            }
        }

        .wrapper {
            @include flex-100(stretch, center);
            gap: 1em;
            flex-wrap: wrap;

            .yt-result {
                transition: scale 500ms ease-in-out;

                &.deleted {
                    scale: 0;
                }
            }
        }
    }
}

.tags-field {
    position: relative;

    input {
        background-color: var(--gradient-ardoise-70);
        color: var(--gradient-ardoise-30);
        border: 0;
        border-radius: .25em;
        font-weight: 100;
        margin-right: .5em;
        outline: none;
        padding: .25em 1em;
    }

    .tag-list {
        border-radius: .25em;
        box-shadow: 0 .5rem 1em var(--gradient-ardoise-90-alpha-50);
        display: none;
        left: 4.5rem;
        max-height: 10em;
        opacity: 0;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 100%;
        transition: opacity 50ms ease-in-out;
        width: 14rem;
        z-index: 1;

        &.visible {
            display: block;
        }

        &.show {
            opacity: 1;
        }

        .tag-item {
            background-color: var(--gradient-ardoise-80);
            color: var(--gradient-ardoise-20);
            cursor: pointer;
            overflow: hidden;
            padding: .125rem 1rem;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                background-color: var(--gradient-orange-60);
                color: var(--gradient-ardoise-10);
            }

            &.active {
                background-color: var(--gradient-orange-50);
                color: var(--gradient-ardoise-10);
            }

            &.selected, &.other {
                display: none;
            }
        }
    }
}

#delete-video-dialog {
    border-radius: .5rem;
    margin-block: auto;
    margin-inline: auto;
    padding-block: 1rem;
    padding-inline: 2rem;

    .content {
        padding: 0;

        .dialog-title {
            font-size: 1.5rem;
            padding-block-end: 1rem;
        }

        form {
            flex-direction: column;

            .video-list {
                display: flex;
                flex-direction: column;
                gap: .125rem;

                .video-item {
                    border-radius: .125rem;
                    color: var(--gradient-ardoise-10);
                    padding-inline: 1rem;

                    &:nth-child(even) {
                        background-color: var(--gradient-ardoise-60);
                    }

                    &:nth-child(odd) {
                        background-color: var(--gradient-ardoise-70);
                    }
                }
            }

            menu {
                display: flex;
                gap: 1rem;
                justify-content: end;
                list-style: none;
                width: 100%;
            }
        }
    }
}

#modify-tags-dialog {
    border-radius: .5rem;
    margin-block: auto;
    margin-inline: auto;
    padding-block: 1rem;
    padding-inline: 2rem;

    .content {
        padding: 0;

        .dialog-title {
            font-size: 1.5rem;
            padding-block-end: 1rem;
        }

        form {
            align-items: flex-start;
            flex-direction: column;

            .field {
                display: flex;

                label {
                    margin-right: 0;
                }

                input {
                    width: 15rem;
                }
            }

            .tag-lists {
                display: flex;
                gap: 1rem;

                .available-tags, .selected-tags {
                    border: 1px solid var(--gradient-ardoise-10);
                    border-radius: .25rem;
                    display: flex;
                    flex-direction: column;
                    gap: .125rem;
                    height: 15rem;
                    overflow-y: auto;
                    padding: .25rem;
                    width: 15rem;

                    .tag-item {
                        border-radius: .25rem;
                        cursor: grab;
                        padding-block: .25rem;
                        padding-inline: 1rem;
                        position: relative;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;

                        .delete, .add {
                            cursor: pointer;
                            position: absolute;
                            right: .375rem;
                            top: 0;
                        }
                    }
                }

                .available-tags {
                    .tag-item {
                        background-color: var(--gradient-ardoise-60);
                        color: var(--gradient-ardoise-10);

                        &.selected, &.other {
                            display: none;
                        }

                        &.dragging {
                            background-color: var(--gradient-green-60);
                        }
                    }
                }

                .selected-tags {

                    .tag-item {
                        color: var(--gradient-purple-90);

                        &:nth-child(even) {
                            background-color: var(--gradient-purple-40);
                        }

                        &:nth-child(odd) {
                            background-color: var(--gradient-purple-30);
                        }
                    }

                    &.dragover {
                        background-color: var(--gradient-purple-30-alpha-50);
                        border-color: var(--gradient-purple-60);
                    }
                }
            }

            menu {
                display: flex;
                gap: 1rem;
                justify-content: end;
                list-style: none;
                width: 100%;
            }
        }
    }
}

.yt-playlists {
    @include flex-col(flex-start, center);
    gap: 1em;
    width: 100%;

    .new-playlist {
        display: flex;
        width: 100%;

        label {
            align-items: center;
            display: flex;
            gap: 1em;
            margin-inline: auto;

            input {
                background-color: var(--gradient-orange-50);
                color: var(--gradient-ardoise-10);
                width: 20rem;
            }
        }
    }

    .playlists {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
        width: 100%;

        .playlist {
            align-items: center;
            border-radius: .5rem;
            display: flex;
            gap: .5rem;
            justify-content: flex-start;
            overflow: hidden;
            padding: .5rem;
            position: relative;
            width: 100%;

            .backdrop {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                filter: blur(64px);
                inset: 0;
                position: absolute;
            }

            .new-videos, .update {
                background-color: var(--gradient-orange-50);
                border-radius: .25rem;
                color: var(--gradient-orange-90);
                font-weight: 600;
                padding-block: .25rem;
                padding-inline: 1rem;
                position: absolute;
                top: 1rem;
                z-index: 2;
            }

            .new-videos {
                left: 1rem
            }

            .update {
                right: 1rem;
            }

            .thumbnail {
                aspect-ratio: 16 / 9;
                background-color: var(--gradient-ardoise-80);
                border-radius: .25rem;
                height: 13.5rem;
                width: 24rem;
                z-index: 1;

                img {
                    border-radius: .25rem;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .infos {
                @include flex-col(flex-start, center);
                gap: .5rem;
                overflow-y: auto;
                z-index: 1;

                .title {
                    background-color: var(--gradient-ardoise-75-alpha-25);
                    border-radius: .25rem;
                    color: var(--gradient-ardoise-10);
                    display: flex;
                    font-size: 1.5rem;
                    font-weight: 400;
                    gap: 1.5rem;
                    padding-block: .25rem;
                    padding-inline: .5rem;

                    span {
                        font-size: .875rem;
                        font-weight: 100;
                    }
                }

                .description, .nb-videos {
                    background-color: var(--gradient-ardoise-75-alpha-25);
                    border-radius: .25rem;
                    color: var(--gradient-ardoise-10);
                    font-size: 1rem;
                    font-weight: 100;
                    padding-block: .25rem;
                    padding-inline: .5rem;
                }

                .description {
                    max-height: 6rem;
                    overflow-y: auto;
                }

                .nb-videos {
                    &.new {
                        background-color: var(--gradient-orange-50);
                        color: var(--gradient-orange-90);
                    }
                }
            }

            &:hover {
                background-color: var(--gradient-ardoise-70-alpha-50);
            }
        }

        &.playlist-page {
            align-items: flex-start;
            flex-direction: row;
            justify-content: center;

            .playlist {
                flex-direction: column;
                flex-shrink: 0;
                width: 25rem;

                .infos {
                    .published-at {
                        background-color: var(--gradient-ardoise-75-alpha-25);
                        border-radius: .25rem;
                        padding-block: .25rem;
                        padding-inline: .5rem;
                        width: 100%;
                    }

                    .description {
                        max-height: unset;
                    }
                }
            }

            .videos {
                background-color: var(--gradient-ardoise-80-alpha-50);
                border-radius: .25rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                padding: .5rem;

                .video {
                    align-items: center;
                    border-radius: .25rem;
                    display: flex;
                    gap: .5rem;
                    padding: .5rem;

                    &.watched {
                        background-color: var(--gradient-ardoise-70);
                    }

                    .thumbnail {
                        aspect-ratio: 16 / 9;
                        height: 6rem;
                        position: relative;

                        img {
                            border-radius: .25rem;
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }

                        .duration {
                            background-color: var(--gradient-orange-0);
                            border-radius: .125rem;
                            bottom: .25rem;
                            color: var(--gradient-orange-100);
                            font-size: .75rem;
                            font-weight: 400;
                            line-height: 1.25em;
                            padding: 0 .25rem;
                            position: absolute;
                            right: .25rem;
                        }
                    }

                    .title {
                        font-size: .875rem;
                        font-weight: 400;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .viewed-at, .published-at {
                        font-size: .875rem;
                        font-weight: 100;
                    }

                    .channel {
                        align-items: center;
                        display: flex;
                        gap: .25rem;

                        img {
                            border: 1px solid var(--gradient-ardoise-10);
                            border-radius: 50%;
                            height: 2rem;
                            width: 2rem;
                        }

                        a {
                            align-items: center;
                            color: var(--gradient-ardoise-10);
                            border: 2px solid var(--gradient-ardoise-10);
                            border-radius: 50%;
                            display: flex;
                            height: 2rem;
                            justify-content: center;
                            margin-inline-start: auto;
                            width: 2rem;

                            &:hover {
                                background-color: var(--gradient-orange-50);
                                color: var(--gradient-orange-90);
                            }
                        }
                    }
                }
            }

            .dumpies {
                background-color: var(--gradient-ardoise-80-alpha-50);
                border-radius: .25rem;
                display: none;
            }
        }
    }
}

@media (max-width: 991.98px) {

    .yt-playlists {
        .playlists {
            .playlist {
                flex-direction: column;

                .thumbnail {
                    height: auto;
                    width: 80vw;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .yt-videos {
        .parameters {
            .title {
                display: none;
            }
        }
    }
}

@media (min-width: 575.98px) {
    .yt-header {

        .banner {
            //height: 120px;
            width: 100%;

            .nav-breadcrumb {
                bottom: -2em;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            width: 100%;

            .content {
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 767.98px) {
    .yt-header {

        .banner {
            //height: 160px;
            width: 100%;

            .nav-breadcrumb {
                bottom: -1em;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            width: 100%;

            .content {
                flex-direction: row;

                .example {
                    padding: 0 1em;
                }
            }
        }
    }

    .youtube-search {
        .search {
            border-radius: .5em;
        }
    }
}

@media (min-width: 991.98px) {
    .yt-header {

        .banner {
            //height: 240px;
            width: 100%;

            .nav-breadcrumb {
                bottom: 0;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            //width: 90%;

            .content {
                flex-direction: row;
                padding: 1em 0;

                label {
                    margin-left: 1em;
                }
            }

        }
    }
}

@media (min-width: 1199.98px) {
    .yt-header {

        .banner {
            //height: 320px;
            width: 100%;

            .nav-breadcrumb {
                bottom: 0;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            //width: 80%;

            .content {
                flex-direction: row;
                padding: 1em;
            }
        }
    }
}

@media (min-width: 1399.98px) {
    .yt-header {

        .banner {
            //height: 320px;
            //width: 80%;

            .nav-breadcrumb {
                bottom: 0;
                left: 1em;
            }
        }
    }

    .yt-videos {
        .parameters {
            //width: 80%;

            .content {
                flex-direction: row;
                padding: 1em;
            }
        }
    }
}
