<dialog id="accept">
    <div class="accept-overlay">
        <div class="content">
            {{ 'cookie consent'|trans }}
            <button value="nope" class="close"><i class="fa-solid fa-circle-xmark"></i></button>
        </div>
        <div class="footer">
            <button value="yass" class="btn btn-accept accept-all">{{ 'Accept'|trans }}</button>
        </div>
    </div>
</dialog>
