{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}myTvTime{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="utf-8">
    <meta name="theme-color" content="#142C3D" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#F6EAE4" media="(prefers-color-scheme: light)">
    <meta name="description" content="{% block description %}My Tv Time{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Movies, Series, Youtube Videos{% endblock %}">
    <meta name="author" content="Olivier Jean-Marie">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block morecss %} {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'blocks/_topMenu.html.twig' %}
{% block body %}{% endblock %}
{% include "blocks/_flash-messages.html.twig" %}
{% include "blocks/chat/_chatWrapper.html.twig" %}
{% include "blocks/_alarms.html.twig" %}
{% include "blocks/_multiSearch.html.twig" %}
<script src="/js/alarm.js" type="module"></script>
<script src="/js/search.js" type="module"></script>
{% include "_accept.html.twig" %}
</body>
</html>
