<div class="cookie-overlay d-none">
    <div class="content">
        {{ 'cookie consent'|trans }}
        <div class="close"><i class="fa-solid fa-circle-xmark"></i></div>
    </div>
    <div class="footer">
        <button class="btn btn-secondary accept-cookies">{{ 'Accept'|trans }}</button>
    </div>
</div>
