<div {{ attributes }}>
    <label>{{ 'Search'|trans }} :
        <input type="search" name="query" value="{{ query }}" data-action="live#update" autofocus>
    </label>

    {% if this.usermovies is not empty %}
        <div class="result">
            {% for item in this.usermovies %}
                {{ include('blocks/movie/discover.html.twig', {discover: item, imageConfig: this.config}) }}
            {% endfor %}
        </div>
    {% endif %}
</div>