<div {{ attributes }}>
    <form data-model="*">
        <label>{{ 'Search'|trans }} :
            <input type="search" id="query" name="query" value="{{ query }}" autofocus>
        </label>
    </form>

    {% if this.movie_results is not empty %}
        <div class="result">
            {% for item in this.movie_results %}
                {%  set poster = item.poster_path ? this.poster_url ~ item.poster_path : item.poster_path %}
                {{ include('blocks/movie/_discover.html.twig', { title: item.title, poster: poster, id: item.movie_db_id }) }}
            {% endfor %}
        </div>
    {% endif %}
</div>